<div class='progress-msg'>Mon, 28 Sep 2020 13:37:18 +0000</div>
<div class='progress-msg'>[13:37:18] Composing titles...</div>
<div class='progress-msg'>[13:37:18] Composing excerpts...</div>
<div class='progress-msg'>[13:37:18] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:37:18] Composing authors...</div>
<div class='progress-msg'>[13:37:18] Composing slugs...</div>
<div class='progress-msg'>[13:37:18] Composing menu order...</div>
<div class='progress-msg'>[13:37:18] Composing contents...</div>
<div class='progress-msg'>[13:37:18] Composing dates...</div>
<div class='progress-msg'>[13:37:18] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:37:18] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:37:18] Composing custom parameters...</div>
<div class='progress-msg'>[13:37:18] Composing URLs for images...</div>
<div class='progress-msg'>[13:37:18] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:37:18] Composing post comments...</div>
<div class='progress-msg'>[13:37:18] Composing unique keys...</div>
<div class='progress-msg'>[13:37:18] Processing posts...</div>
<div class='progress-msg'>[13:37:18] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:37:18] ---</div>
<div class='progress-msg'>[13:37:18] Record #1</div>
<div class='progress-msg'>[13:37:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:37:18] Combine all data for post `Pyramid Analytics & Power BI`...</div>
<div class='progress-msg'>[13:37:18] Find corresponding article among previously imported for post `Pyramid Analytics & Power BI`...</div>
<div class='progress-msg'>[13:37:18] Duplicate post wasn't found with unique key `Pyramid Analytics & Power BI - https://blogs.solidq.com/en/?p=20753`...</div>
<div class='progress-msg'>[13:37:18] Applying filter `pmxi_article_data` for `Pyramid Analytics & Power BI`</div>
<div class='progress-msg'>[13:37:18] <b>CREATING</b> `Pyramid Analytics & Power BI` `Post`</div>
<div class='progress-msg'>[13:37:19] Associate post `Pyramid Analytics & Power BI` with current import ...</div>
<div class='progress-msg'>[13:37:19] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:37:19] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:37:19] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:37:19] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:37:19] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:37:19] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:37:19] <b>CREATED</b> `Pyramid Analytics & Power BI` `Post` (ID: 1036)</div>
<div class='progress-msg'>[13:37:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:37:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:37:19] Cleaning temporary data...</div>
