<div class='progress-msg'>Mon, 28 Sep 2020 13:45:26 +0000</div>
<div class='progress-msg'>[13:45:26] Composing titles...</div>
<div class='progress-msg'>[13:45:26] Composing excerpts...</div>
<div class='progress-msg'>[13:45:26] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:45:26] Composing authors...</div>
<div class='progress-msg'>[13:45:26] Composing slugs...</div>
<div class='progress-msg'>[13:45:26] Composing menu order...</div>
<div class='progress-msg'>[13:45:26] Composing contents...</div>
<div class='progress-msg'>[13:45:26] Composing dates...</div>
<div class='progress-msg'>[13:45:26] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:45:26] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:45:26] Composing custom parameters...</div>
<div class='progress-msg'>[13:45:26] Composing URLs for images...</div>
<div class='progress-msg'>[13:45:26] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:45:26] Composing post comments...</div>
<div class='progress-msg'>[13:45:26] Composing unique keys...</div>
<div class='progress-msg'>[13:45:26] Processing posts...</div>
<div class='progress-msg'>[13:45:26] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:45:26] ---</div>
<div class='progress-msg'>[13:45:26] Record #1</div>
<div class='progress-msg'>[13:45:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:45:26] Combine all data for post `Building an SSIS Management Framework - Part 2`...</div>
<div class='progress-msg'>[13:45:26] Find corresponding article among previously imported for post `Building an SSIS Management Framework - Part 2`...</div>
<div class='progress-msg'>[13:45:26] Duplicate post wasn't found with unique key `Building an SSIS Management Framework - Part 2 - http://www.solidq.com/?p=1608`...</div>
<div class='progress-msg'>[13:45:26] Applying filter `pmxi_article_data` for `Building an SSIS Management Framework - Part 2`</div>
<div class='progress-msg'>[13:45:26] <b>CREATING</b> `Building an SSIS Management Framework - Part 2` `Post`</div>
<div class='progress-msg'>[13:45:26] Associate post `Building an SSIS Management Framework - Part 2` with current import ...</div>
<div class='progress-msg'>[13:45:26] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:45:26] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png` by URL...</div>
<div class='progress-msg'>[13:45:26] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png` was not found...</div>
<div class='progress-msg'>[13:45:26] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png`</div>
<div class='progress-msg'>[13:45:32] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png can not be downloaded, response </div>
<div class='progress-msg'>[13:45:32] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png` by URL...</div>
<div class='progress-msg'>[13:45:32] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png` was not found...</div>
<div class='progress-msg'>[13:45:32] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png`</div>
<div class='progress-msg'>[13:45:42] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5010 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:45:42] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:45:42] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:45:42] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:45:42] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:45:42] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:45:42] <b>CREATED</b> `Building an SSIS Management Framework - Part 2` `Post` (ID: 1083)</div>
<div class='progress-msg'>[13:45:42] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:45:42] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:45:42] ---</div>
<div class='progress-msg'>[13:45:42] Record #2</div>
<div class='progress-msg'>[13:45:42] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:45:42] Combine all data for post `Building an SSIS Management Framework, Part 1`...</div>
<div class='progress-msg'>[13:45:42] Find corresponding article among previously imported for post `Building an SSIS Management Framework, Part 1`...</div>
<div class='progress-msg'>[13:45:42] Duplicate post wasn't found with unique key `Building an SSIS Management Framework, Part 1 - http://www.solidq.com/?p=1783`...</div>
<div class='progress-msg'>[13:45:42] Applying filter `pmxi_article_data` for `Building an SSIS Management Framework, Part 1`</div>
<div class='progress-msg'>[13:45:42] <b>CREATING</b> `Building an SSIS Management Framework, Part 1` `Post`</div>
<div class='progress-msg'>[13:45:42] Associate post `Building an SSIS Management Framework, Part 1` with current import ...</div>
<div class='progress-msg'>[13:45:42] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:45:42] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:45:42] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:45:42] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:45:42] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:45:42] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:45:42] <b>CREATED</b> `Building an SSIS Management Framework, Part 1` `Post` (ID: 1084)</div>
<div class='progress-msg'>[13:45:42] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:45:42] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:45:42] ---</div>
<div class='progress-msg'>[13:45:42] Record #3</div>
<div class='progress-msg'>[13:45:42] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:45:42] Combine all data for post `Creación de un marco de gestión de SSIS (2/2)`...</div>
<div class='progress-msg'>[13:45:42] Find corresponding article among previously imported for post `Creación de un marco de gestión de SSIS (2/2)`...</div>
<div class='progress-msg'>[13:45:42] Duplicate post wasn't found with unique key `Creación de un marco de gestión de SSIS (2/2) - http://www.solidq.com/?p=3741`...</div>
<div class='progress-msg'>[13:45:42] Applying filter `pmxi_article_data` for `Creación de un marco de gestión de SSIS (2/2)`</div>
<div class='progress-msg'>[13:45:42] <b>CREATING</b> `Creación de un marco de gestión de SSIS (2/2)` `Post`</div>
<div class='progress-msg'>[13:45:42] Associate post `Creación de un marco de gestión de SSIS (2/2)` with current import ...</div>
<div class='progress-msg'>[13:45:42] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:45:42] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png` by URL...</div>
<div class='progress-msg'>[13:45:42] - Image `https://blogs.solidq.com/wp-content/uploads/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png` was not found...</div>
<div class='progress-msg'>[13:45:42] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png`</div>
<div class='progress-msg'>[13:45:42] - Image `https://blogs.solidq.com/wp-content/uploads/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:45:42] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-1-Creating-the-environment-variable-that-points-to-the-XML-configuration-file.png`</div>
<div class='progress-msg'>[13:45:43] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png` by URL...</div>
<div class='progress-msg'>[13:45:43] - Image `https://blogs.solidq.com/wp-content/uploads/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png` was not found...</div>
<div class='progress-msg'>[13:45:43] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png`</div>
<div class='progress-msg'>[13:45:43] - Image `https://blogs.solidq.com/wp-content/uploads/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:45:43] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-2-Enabling-package-configurations-in-the-SSIS-package-template.png`</div>
<div class='progress-msg'>[13:45:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:45:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:45:43] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:45:43] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:45:43] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:45:43] <b>CREATED</b> `Creación de un marco de gestión de SSIS (2/2)` `Post` (ID: 1085)</div>
<div class='progress-msg'>[13:45:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:45:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:45:43] Cleaning temporary data...</div>
