<div class='progress-msg'>Mon, 28 Sep 2020 13:28:33 +0000</div>
<div class='progress-msg'>[13:28:33] Composing titles...</div>
<div class='progress-msg'>[13:28:33] Composing excerpts...</div>
<div class='progress-msg'>[13:28:33] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:28:33] Composing authors...</div>
<div class='progress-msg'>[13:28:33] Composing slugs...</div>
<div class='progress-msg'>[13:28:33] Composing menu order...</div>
<div class='progress-msg'>[13:28:33] Composing contents...</div>
<div class='progress-msg'>[13:28:33] Composing dates...</div>
<div class='progress-msg'>[13:28:33] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:28:33] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:28:33] Composing custom parameters...</div>
<div class='progress-msg'>[13:28:33] Composing URLs for images...</div>
<div class='progress-msg'>[13:28:33] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:28:33] Composing post comments...</div>
<div class='progress-msg'>[13:28:33] Composing unique keys...</div>
<div class='progress-msg'>[13:28:33] Processing posts...</div>
<div class='progress-msg'>[13:28:33] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:28:33] ---</div>
<div class='progress-msg'>[13:28:33] Record #1</div>
<div class='progress-msg'>[13:28:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:28:33] Combine all data for post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 3 of 3`...</div>
<div class='progress-msg'>[13:28:33] Find corresponding article among previously imported for post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 3 of 3`...</div>
<div class='progress-msg'>[13:28:33] Duplicate post wasn't found with unique key `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 3 of 3 - http://solidqpro.azurewebsites.net/?p=108`...</div>
<div class='progress-msg'>[13:28:33] Applying filter `pmxi_article_data` for `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 3 of 3`</div>
<div class='progress-msg'>[13:28:33] <b>CREATING</b> `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 3 of 3` `Post`</div>
<div class='progress-msg'>[13:28:33] Associate post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 3 of 3` with current import ...</div>
<div class='progress-msg'>[13:28:33] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:28:33] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-16-Composition-of-the-Data-Flow-Task1.png` by URL...</div>
<div class='progress-msg'>[13:28:33] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-16-Composition-of-the-Data-Flow-Task1.png` was not found...</div>
<div class='progress-msg'>[13:28:33] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-16-Composition-of-the-Data-Flow-Task1.png`</div>
<div class='progress-msg'>[13:28:39] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-16-Composition-of-the-Data-Flow-Task1.png can not be downloaded, response </div>
<div class='progress-msg'>[13:28:39] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-17-The-Data-Flow-Task-that-inserts-the1.png` by URL...</div>
<div class='progress-msg'>[13:28:39] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-17-The-Data-Flow-Task-that-inserts-the1.png` was not found...</div>
<div class='progress-msg'>[13:28:39] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-17-The-Data-Flow-Task-that-inserts-the1.png`</div>
<div class='progress-msg'>[13:28:49] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-17-The-Data-Flow-Task-that-inserts-the1.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5014 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:28:49] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-18-The-SSIS-package-implemented1.png` by URL...</div>
<div class='progress-msg'>[13:28:49] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-18-The-SSIS-package-implemented1.png` was not found...</div>
<div class='progress-msg'>[13:28:49] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-18-The-SSIS-package-implemented1.png`</div>
<div class='progress-msg'>[13:28:59] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-18-The-SSIS-package-implemented1.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5010 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:28:59] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/figure-191.png` by URL...</div>
<div class='progress-msg'>[13:28:59] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/figure-191.png` was not found...</div>
<div class='progress-msg'>[13:28:59] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/figure-191.png`</div>
<div class='progress-msg'>[13:29:09] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/figure-191.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5010 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:29:09] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-20-Extraction-of-the-primary-keys-of-the-changed-rows1.png` by URL...</div>
<div class='progress-msg'>[13:29:09] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-20-Extraction-of-the-primary-keys-of-the-changed-rows1.png` was not found...</div>
<div class='progress-msg'>[13:29:09] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-20-Extraction-of-the-primary-keys-of-the-changed-rows1.png`</div>
<div class='progress-msg'>[13:29:20] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-20-Extraction-of-the-primary-keys-of-the-changed-rows1.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5009 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:29:20] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-21-Loading-the-modified-rows1.png` by URL...</div>
<div class='progress-msg'>[13:29:20] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-21-Loading-the-modified-rows1.png` was not found...</div>
<div class='progress-msg'>[13:29:20] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-21-Loading-the-modified-rows1.png`</div>
<div class='progress-msg'>[13:29:30] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-21-Loading-the-modified-rows1.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5008 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:29:30] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/figure-2221.png` by URL...</div>
<div class='progress-msg'>[13:29:30] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/figure-2221.png` was not found...</div>
<div class='progress-msg'>[13:29:30] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/figure-2221.png`</div>
<div class='progress-msg'>[13:29:40] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/figure-2221.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:29:40] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-23-Extraction-of-the-primary-keys1.png` by URL...</div>
<div class='progress-msg'>[13:29:40] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-23-Extraction-of-the-primary-keys1.png` was not found...</div>
<div class='progress-msg'>[13:29:40] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-23-Extraction-of-the-primary-keys1.png`</div>
<div class='progress-msg'>[13:29:50] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-23-Extraction-of-the-primary-keys1.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5007 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:29:50] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-24-Importing-the-modified-rows1.png` by URL...</div>
<div class='progress-msg'>[13:29:50] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-24-Importing-the-modified-rows1.png` was not found...</div>
<div class='progress-msg'>[13:29:50] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-24-Importing-the-modified-rows1.png`</div>
<div class='progress-msg'>[13:30:00] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-24-Importing-the-modified-rows1.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:30:00] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:30:00] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:30:00] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:30:00] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:30:00] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:30:00] <b>CREATED</b> `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 3 of 3` `Post` (ID: 978)</div>
<div class='progress-msg'>[13:30:00] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:30:00] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:30:00] ---</div>
<div class='progress-msg'>[13:30:00] Record #2</div>
<div class='progress-msg'>[13:30:00] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:30:00] Combine all data for post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 2 of 3`...</div>
<div class='progress-msg'>[13:30:00] Find corresponding article among previously imported for post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 2 of 3`...</div>
<div class='progress-msg'>[13:30:00] Duplicate post wasn't found with unique key `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 2 of 3 - http://solidqpro.azurewebsites.net/?p=502`...</div>
<div class='progress-msg'>[13:30:00] Applying filter `pmxi_article_data` for `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 2 of 3`</div>
<div class='progress-msg'>[13:30:00] <b>CREATING</b> `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 2 of 3` `Post`</div>
<div class='progress-msg'>[13:30:00] Associate post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 2 of 3` with current import ...</div>
<div class='progress-msg'>[13:30:00] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:30:00] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-The-process-of-generating-the-version-and-assigning-it.png` by URL...</div>
<div class='progress-msg'>[13:30:00] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-The-process-of-generating-the-version-and-assigning-it.png` was not found...</div>
<div class='progress-msg'>[13:30:00] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-The-process-of-generating-the-version-and-assigning-it.png`</div>
<div class='progress-msg'>[13:30:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-The-process-of-generating-the-version-and-assigning-it.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5014 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:30:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Content-of-the-sys-dm_tran_commit_table-view.png` by URL...</div>
<div class='progress-msg'>[13:30:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Content-of-the-sys-dm_tran_commit_table-view.png` was not found...</div>
<div class='progress-msg'>[13:30:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Content-of-the-sys-dm_tran_commit_table-view.png`</div>
<div class='progress-msg'>[13:30:20] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Content-of-the-sys-dm_tran_commit_table-view.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5007 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:30:20] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-The-CHANGE_TRACKING_CURRENT_VERSION-function.png` by URL...</div>
<div class='progress-msg'>[13:30:20] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-The-CHANGE_TRACKING_CURRENT_VERSION-function.png` was not found...</div>
<div class='progress-msg'>[13:30:20] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-The-CHANGE_TRACKING_CURRENT_VERSION-function.png`</div>
<div class='progress-msg'>[13:30:30] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-The-CHANGE_TRACKING_CURRENT_VERSION-function.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5012 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:30:30] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-The-CHANGETABLE-CHANGES.png` by URL...</div>
<div class='progress-msg'>[13:30:30] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-The-CHANGETABLE-CHANGES.png` was not found...</div>
<div class='progress-msg'>[13:30:30] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-The-CHANGETABLE-CHANGES.png`</div>
<div class='progress-msg'>[13:30:41] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-The-CHANGETABLE-CHANGES.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5015 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:30:41] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-The-CHANGETABLE-CHANGES.png` by URL...</div>
<div class='progress-msg'>[13:30:41] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-The-CHANGETABLE-CHANGES.png` was not found...</div>
<div class='progress-msg'>[13:30:41] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-The-CHANGETABLE-CHANGES.png`</div>
<div class='progress-msg'>[13:30:51] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-The-CHANGETABLE-CHANGES.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5010 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:30:51] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-The-behavior-of-Change-Tracking-after-the-primary-key-UPDATE.png` by URL...</div>
<div class='progress-msg'>[13:30:51] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-The-behavior-of-Change-Tracking-after-the-primary-key-UPDATE.png` was not found...</div>
<div class='progress-msg'>[13:30:51] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-The-behavior-of-Change-Tracking-after-the-primary-key-UPDATE.png`</div>
<div class='progress-msg'>[13:30:51] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-The-behavior-of-Change-Tracking-after-the-primary-key-UPDATE.png can not be downloaded, response </div>
<div class='progress-msg'>[13:30:51] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-The-TRUNCATE-TABLE-command-results-in-the-loss-of-all-information.png` by URL...</div>
<div class='progress-msg'>[13:30:51] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-The-TRUNCATE-TABLE-command-results-in-the-loss-of-all-information.png` was not found...</div>
<div class='progress-msg'>[13:30:51] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-The-TRUNCATE-TABLE-command-results-in-the-loss-of-all-information.png`</div>
<div class='progress-msg'>[13:30:51] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-The-TRUNCATE-TABLE-command-results-in-the-loss-of-all-information.png can not be downloaded, response </div>
<div class='progress-msg'>[13:30:51] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-8-INNER-JOIN-between-the-CHANGETABLE-CHANGES.png` by URL...</div>
<div class='progress-msg'>[13:30:51] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-8-INNER-JOIN-between-the-CHANGETABLE-CHANGES.png` was not found...</div>
<div class='progress-msg'>[13:30:51] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-8-INNER-JOIN-between-the-CHANGETABLE-CHANGES.png`</div>
<div class='progress-msg'>[13:30:51] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-8-INNER-JOIN-between-the-CHANGETABLE-CHANGES.png can not be downloaded, response </div>
<div class='progress-msg'>[13:30:51] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-9-OUTER-JOIN-between-the-CHANGETABLE-CHANGES.png` by URL...</div>
<div class='progress-msg'>[13:30:51] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-9-OUTER-JOIN-between-the-CHANGETABLE-CHANGES.png` was not found...</div>
<div class='progress-msg'>[13:30:51] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-9-OUTER-JOIN-between-the-CHANGETABLE-CHANGES.png`</div>
<div class='progress-msg'>[13:30:51] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-9-OUTER-JOIN-between-the-CHANGETABLE-CHANGES.png can not be downloaded, response </div>
<div class='progress-msg'>[13:30:51] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-10-Content-of-the-SYS_CHANGE_OPERATION.png` by URL...</div>
<div class='progress-msg'>[13:30:51] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-10-Content-of-the-SYS_CHANGE_OPERATION.png` was not found...</div>
<div class='progress-msg'>[13:30:51] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-10-Content-of-the-SYS_CHANGE_OPERATION.png`</div>
<div class='progress-msg'>[13:30:57] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-10-Content-of-the-SYS_CHANGE_OPERATION.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5001 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:30:57] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-11-Content-of-the-SYS_CHANGE_OPERATION.png` by URL...</div>
<div class='progress-msg'>[13:30:57] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-11-Content-of-the-SYS_CHANGE_OPERATION.png` was not found...</div>
<div class='progress-msg'>[13:30:57] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-11-Content-of-the-SYS_CHANGE_OPERATION.png`</div>
<div class='progress-msg'>[13:30:57] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-11-Content-of-the-SYS_CHANGE_OPERATION.png can not be downloaded, response </div>
<div class='progress-msg'>[13:30:57] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-12-The-CHANGETABLE-VERSION.png` by URL...</div>
<div class='progress-msg'>[13:30:57] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-12-The-CHANGETABLE-VERSION.png` was not found...</div>
<div class='progress-msg'>[13:30:57] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-12-The-CHANGETABLE-VERSION.png`</div>
<div class='progress-msg'>[13:30:57] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-12-The-CHANGETABLE-VERSION.png can not be downloaded, response </div>
<div class='progress-msg'>[13:30:57] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-13-CROSS-APPLY-between-the-CHANGETABLE-VERSION.png` by URL...</div>
<div class='progress-msg'>[13:30:57] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-13-CROSS-APPLY-between-the-CHANGETABLE-VERSION.png` was not found...</div>
<div class='progress-msg'>[13:30:57] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-13-CROSS-APPLY-between-the-CHANGETABLE-VERSION.png`</div>
<div class='progress-msg'>[13:30:57] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-13-CROSS-APPLY-between-the-CHANGETABLE-VERSION.png can not be downloaded, response </div>
<div class='progress-msg'>[13:30:57] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-14-Using-the-CHANGE_TRACKING_IS_COLUMN_IN_MASK-function.png` by URL...</div>
<div class='progress-msg'>[13:30:57] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-14-Using-the-CHANGE_TRACKING_IS_COLUMN_IN_MASK-function.png` was not found...</div>
<div class='progress-msg'>[13:30:57] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-14-Using-the-CHANGE_TRACKING_IS_COLUMN_IN_MASK-function.png`</div>
<div class='progress-msg'>[13:30:57] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-14-Using-the-CHANGE_TRACKING_IS_COLUMN_IN_MASK-function.png can not be downloaded, response </div>
<div class='progress-msg'>[13:30:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:30:57] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:30:57] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:30:57] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:30:57] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:30:57] <b>CREATED</b> `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 2 of 3` `Post` (ID: 979)</div>
<div class='progress-msg'>[13:30:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:30:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:30:57] ---</div>
<div class='progress-msg'>[13:30:57] Record #3</div>
<div class='progress-msg'>[13:30:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:30:57] Combine all data for post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 1 of 3`...</div>
<div class='progress-msg'>[13:30:57] Find corresponding article among previously imported for post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 1 of 3`...</div>
<div class='progress-msg'>[13:30:57] Duplicate post wasn't found with unique key `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 1 of 3 - http://solidqpro.azurewebsites.net/?p=540`...</div>
<div class='progress-msg'>[13:30:57] Applying filter `pmxi_article_data` for `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 1 of 3`</div>
<div class='progress-msg'>[13:30:57] <b>CREATING</b> `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 1 of 3` `Post`</div>
<div class='progress-msg'>[13:30:57] Associate post `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 1 of 3` with current import ...</div>
<div class='progress-msg'>[13:30:57] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:30:57] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-diagram-of-a-synchronization-process-based-on-the-Change-Tracking-from-Microsoft-MSDN-site.png` by URL...</div>
<div class='progress-msg'>[13:30:57] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-diagram-of-a-synchronization-process-based-on-the-Change-Tracking-from-Microsoft-MSDN-site.png` was not found...</div>
<div class='progress-msg'>[13:30:57] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-diagram-of-a-synchronization-process-based-on-the-Change-Tracking-from-Microsoft-MSDN-site.png`</div>
<div class='progress-msg'>[13:31:03] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-diagram-of-a-synchronization-process-based-on-the-Change-Tracking-from-Microsoft-MSDN-site.png can not be downloaded, response </div>
<div class='progress-msg'>[13:31:03] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Dialog-box-to-activate-Change-Tracking-at-database-level.png` by URL...</div>
<div class='progress-msg'>[13:31:03] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Dialog-box-to-activate-Change-Tracking-at-database-level.png` was not found...</div>
<div class='progress-msg'>[13:31:03] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Dialog-box-to-activate-Change-Tracking-at-database-level.png`</div>
<div class='progress-msg'>[13:31:03] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Dialog-box-to-activate-Change-Tracking-at-database-level.png can not be downloaded, response </div>
<div class='progress-msg'>[13:31:03] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Dialog-box-to-activate-Change-Tracking-on-the-table.png` by URL...</div>
<div class='progress-msg'>[13:31:03] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Dialog-box-to-activate-Change-Tracking-on-the-table.png` was not found...</div>
<div class='progress-msg'>[13:31:03] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Dialog-box-to-activate-Change-Tracking-on-the-table.png`</div>
<div class='progress-msg'>[13:31:03] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Dialog-box-to-activate-Change-Tracking-on-the-table.png can not be downloaded, response </div>
<div class='progress-msg'>[13:31:03] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Content-of-the-sys-change_tracking_databases-system-view.png` by URL...</div>
<div class='progress-msg'>[13:31:03] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Content-of-the-sys-change_tracking_databases-system-view.png` was not found...</div>
<div class='progress-msg'>[13:31:03] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Content-of-the-sys-change_tracking_databases-system-view.png`</div>
<div class='progress-msg'>[13:31:03] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Content-of-the-sys-change_tracking_databases-system-view.png can not be downloaded, response </div>
<div class='progress-msg'>[13:31:03] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-Content-of-the-sys-change_tracking_tables-system-view.png` by URL...</div>
<div class='progress-msg'>[13:31:03] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-Content-of-the-sys-change_tracking_tables-system-view.png` was not found...</div>
<div class='progress-msg'>[13:31:03] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-Content-of-the-sys-change_tracking_tables-system-view.png`</div>
<div class='progress-msg'>[13:31:03] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-Content-of-the-sys-change_tracking_tables-system-view.png can not be downloaded, response </div>
<div class='progress-msg'>[13:31:03] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-some-fields-in-the-sys-internal_tables-system-view.png` by URL...</div>
<div class='progress-msg'>[13:31:03] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-some-fields-in-the-sys-internal_tables-system-view.png` was not found...</div>
<div class='progress-msg'>[13:31:03] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-some-fields-in-the-sys-internal_tables-system-view.png`</div>
<div class='progress-msg'>[13:31:09] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-some-fields-in-the-sys-internal_tables-system-view.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5013 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:31:09] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-contents-of-internal-table-change_tracking_2105058535-1024x598.png` by URL...</div>
<div class='progress-msg'>[13:31:09] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-contents-of-internal-table-change_tracking_2105058535-1024x598.png` was not found...</div>
<div class='progress-msg'>[13:31:09] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-contents-of-internal-table-change_tracking_2105058535-1024x598.png`</div>
<div class='progress-msg'>[13:31:09] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-contents-of-internal-table-change_tracking_2105058535-1024x598.png can not be downloaded, response </div>
<div class='progress-msg'>[13:31:09] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:31:09] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:31:09] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:31:09] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:31:09] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:31:09] <b>CREATED</b> `Microsoft SQL Server 2008 R2: Introducing Change Tracking - Part 1 of 3` `Post` (ID: 980)</div>
<div class='progress-msg'>[13:31:09] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:31:09] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:31:09] Cleaning temporary data...</div>
