<div class='progress-msg'>Mon, 28 Sep 2020 13:43:52 +0000</div>
<div class='progress-msg'>[13:43:52] Composing titles...</div>
<div class='progress-msg'>[13:43:52] Composing excerpts...</div>
<div class='progress-msg'>[13:43:52] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:43:52] Composing authors...</div>
<div class='progress-msg'>[13:43:52] Composing slugs...</div>
<div class='progress-msg'>[13:43:52] Composing menu order...</div>
<div class='progress-msg'>[13:43:52] Composing contents...</div>
<div class='progress-msg'>[13:43:52] Composing dates...</div>
<div class='progress-msg'>[13:43:52] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:43:52] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:43:52] Composing custom parameters...</div>
<div class='progress-msg'>[13:43:52] Composing URLs for images...</div>
<div class='progress-msg'>[13:43:52] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:43:52] Composing post comments...</div>
<div class='progress-msg'>[13:43:52] Composing unique keys...</div>
<div class='progress-msg'>[13:43:52] Processing posts...</div>
<div class='progress-msg'>[13:43:52] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:43:52] ---</div>
<div class='progress-msg'>[13:43:52] Record #1</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:52] Combine all data for post `SQL Server 2008 Introduces Filtered Indexes`...</div>
<div class='progress-msg'>[13:43:52] Find corresponding article among previously imported for post `SQL Server 2008 Introduces Filtered Indexes`...</div>
<div class='progress-msg'>[13:43:52] Duplicate post wasn't found with unique key `SQL Server 2008 Introduces Filtered Indexes - http://solidqblogs.azurewebsites.net/novedades/sql-server-2008-introduces-filtered-indexes/`...</div>
<div class='progress-msg'>[13:43:52] Applying filter `pmxi_article_data` for `SQL Server 2008 Introduces Filtered Indexes`</div>
<div class='progress-msg'>[13:43:52] <b>CREATING</b> `SQL Server 2008 Introduces Filtered Indexes` `Post`</div>
<div class='progress-msg'>[13:43:52] Associate post `SQL Server 2008 Introduces Filtered Indexes` with current import ...</div>
<div class='progress-msg'>[13:43:52] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:52] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:52] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:52] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:52] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:52] <b>CREATED</b> `SQL Server 2008 Introduces Filtered Indexes` `Post` (ID: 1067)</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:52] ---</div>
<div class='progress-msg'>[13:43:52] Record #2</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:52] Combine all data for post `Review of some different ways to delete data`...</div>
<div class='progress-msg'>[13:43:52] Find corresponding article among previously imported for post `Review of some different ways to delete data`...</div>
<div class='progress-msg'>[13:43:52] Duplicate post wasn't found with unique key `Review of some different ways to delete data - http://solidqblogs.azurewebsites.net/novedades/review-of-some-different-ways-to-delete-data/`...</div>
<div class='progress-msg'>[13:43:52] Applying filter `pmxi_article_data` for `Review of some different ways to delete data`</div>
<div class='progress-msg'>[13:43:52] <b>CREATING</b> `Review of some different ways to delete data` `Post`</div>
<div class='progress-msg'>[13:43:52] Associate post `Review of some different ways to delete data` with current import ...</div>
<div class='progress-msg'>[13:43:52] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:52] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:52] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:52] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:52] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:52] <b>CREATED</b> `Review of some different ways to delete data` `Post` (ID: 1068)</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:52] ---</div>
<div class='progress-msg'>[13:43:52] Record #3</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:52] Combine all data for post `Table Partitioning and Indexes (Part 2)`...</div>
<div class='progress-msg'>[13:43:52] Find corresponding article among previously imported for post `Table Partitioning and Indexes (Part 2)`...</div>
<div class='progress-msg'>[13:43:52] Duplicate post wasn't found with unique key `Table Partitioning and Indexes (Part 2) - http://solidqblogs.azurewebsites.net/novedades/table-partitioning-and-indexes-part-2/`...</div>
<div class='progress-msg'>[13:43:52] Applying filter `pmxi_article_data` for `Table Partitioning and Indexes (Part 2)`</div>
<div class='progress-msg'>[13:43:52] <b>CREATING</b> `Table Partitioning and Indexes (Part 2)` `Post`</div>
<div class='progress-msg'>[13:43:52] Associate post `Table Partitioning and Indexes (Part 2)` with current import ...</div>
<div class='progress-msg'>[13:43:52] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:52] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:52] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:52] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:52] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:52] <b>CREATED</b> `Table Partitioning and Indexes (Part 2)` `Post` (ID: 1069)</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:52] ---</div>
<div class='progress-msg'>[13:43:52] Record #4</div>
<div class='progress-msg'>[13:43:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:52] Combine all data for post `Table Partitioning and Indexes (Part 1)`...</div>
<div class='progress-msg'>[13:43:52] Find corresponding article among previously imported for post `Table Partitioning and Indexes (Part 1)`...</div>
<div class='progress-msg'>[13:43:52] Duplicate post wasn't found with unique key `Table Partitioning and Indexes (Part 1) - http://solidqblogs.azurewebsites.net/novedades/table-partitioning-and-indexes-part-1/`...</div>
<div class='progress-msg'>[13:43:52] Applying filter `pmxi_article_data` for `Table Partitioning and Indexes (Part 1)`</div>
<div class='progress-msg'>[13:43:52] <b>CREATING</b> `Table Partitioning and Indexes (Part 1)` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `Table Partitioning and Indexes (Part 1)` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `Table Partitioning and Indexes (Part 1)` `Post` (ID: 1070)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #5</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `SQL Server Performance Tuning Bootcamp`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `SQL Server Performance Tuning Bootcamp`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `SQL Server Performance Tuning Bootcamp - http://solidqblogs.azurewebsites.net/novedades/sql-server-performance-tuning-bootcamp/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `SQL Server Performance Tuning Bootcamp`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `SQL Server Performance Tuning Bootcamp` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `SQL Server Performance Tuning Bootcamp` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `SQL Server Performance Tuning Bootcamp` `Post` (ID: 1071)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #6</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `Query Wait Option and query timeouts`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `Query Wait Option and query timeouts`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `Query Wait Option and query timeouts - http://solidqblogs.azurewebsites.net/novedades/query-wait-option-and-query-timeouts/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `Query Wait Option and query timeouts`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `Query Wait Option and query timeouts` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `Query Wait Option and query timeouts` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `Query Wait Option and query timeouts` `Post` (ID: 1072)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #7</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `Two New Pieces Finally Published`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `Two New Pieces Finally Published`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `Two New Pieces Finally Published - http://solidqblogs.azurewebsites.net/novedades/two-new-pieces-finally-published/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `Two New Pieces Finally Published`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `Two New Pieces Finally Published` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `Two New Pieces Finally Published` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `Two New Pieces Finally Published` `Post` (ID: 1073)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #8</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `New white papers for SQL Server Magazine and DELL`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `New white papers for SQL Server Magazine and DELL`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `New white papers for SQL Server Magazine and DELL - http://solidqblogs.azurewebsites.net/novedades/new-white-papers-for-sql-server-magazine-and-dell/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `New white papers for SQL Server Magazine and DELL`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `New white papers for SQL Server Magazine and DELL` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `New white papers for SQL Server Magazine and DELL` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `New white papers for SQL Server Magazine and DELL` `Post` (ID: 1074)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #9</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `Change SQL Server Authentication Modes`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `Change SQL Server Authentication Modes`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `Change SQL Server Authentication Modes - http://solidqblogs.azurewebsites.net/novedades/change-sql-server-authentication-modes/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `Change SQL Server Authentication Modes`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `Change SQL Server Authentication Modes` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `Change SQL Server Authentication Modes` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `Change SQL Server Authentication Modes` `Post` (ID: 1075)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #10</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `Memory on Startup`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `Memory on Startup`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `Memory on Startup - http://solidqblogs.azurewebsites.net/novedades/memory-on-startup/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `Memory on Startup`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `Memory on Startup` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `Memory on Startup` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `Memory on Startup` `Post` (ID: 1076)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #11</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `Memory information through a few DMVs`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `Memory information through a few DMVs`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `Memory information through a few DMVs - http://solidqblogs.azurewebsites.net/novedades/memory-information-through-a-few-dmvs/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `Memory information through a few DMVs`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `Memory information through a few DMVs` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `Memory information through a few DMVs` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `Memory information through a few DMVs` `Post` (ID: 1077)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #12</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `SQL Server 2008 Public Server Role`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `SQL Server 2008 Public Server Role`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `SQL Server 2008 Public Server Role - http://solidqblogs.azurewebsites.net/novedades/sql-server-2008-public-server-role/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `SQL Server 2008 Public Server Role`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `SQL Server 2008 Public Server Role` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `SQL Server 2008 Public Server Role` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `SQL Server 2008 Public Server Role` `Post` (ID: 1078)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #13</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `Trace Flag Parameter`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `Trace Flag Parameter`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `Trace Flag Parameter - http://solidqblogs.azurewebsites.net/novedades/trace-flag-parameter/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `Trace Flag Parameter`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `Trace Flag Parameter` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `Trace Flag Parameter` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `Trace Flag Parameter` `Post` (ID: 1079)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #14</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `Hot Add Memory`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `Hot Add Memory`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `Hot Add Memory - http://solidqblogs.azurewebsites.net/novedades/hot-add-memory/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `Hot Add Memory`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `Hot Add Memory` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `Hot Add Memory` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `Hot Add Memory` `Post` (ID: 1080)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #15</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `TotalSubtreeCost`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `TotalSubtreeCost`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `TotalSubtreeCost - http://solidqblogs.azurewebsites.net/novedades/totalsubtreecost/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `TotalSubtreeCost`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `TotalSubtreeCost` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `TotalSubtreeCost` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `TotalSubtreeCost` `Post` (ID: 1081)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] ---</div>
<div class='progress-msg'>[13:43:53] Record #16</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:43:53] Combine all data for post `How Do You Improve?`...</div>
<div class='progress-msg'>[13:43:53] Find corresponding article among previously imported for post `How Do You Improve?`...</div>
<div class='progress-msg'>[13:43:53] Duplicate post wasn't found with unique key `How Do You Improve? - http://solidqblogs.azurewebsites.net/novedades/how-do-you-improve/`...</div>
<div class='progress-msg'>[13:43:53] Applying filter `pmxi_article_data` for `How Do You Improve?`</div>
<div class='progress-msg'>[13:43:53] <b>CREATING</b> `How Do You Improve?` `Post`</div>
<div class='progress-msg'>[13:43:53] Associate post `How Do You Improve?` with current import ...</div>
<div class='progress-msg'>[13:43:53] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:43:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:43:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:43:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:43:53] <b>CREATED</b> `How Do You Improve?` `Post` (ID: 1082)</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:43:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:43:53] Cleaning temporary data...</div>
