<div class='progress-msg'>Mon, 28 Sep 2020 13:21:58 +0000</div>
<div class='progress-msg'>[13:21:58] Composing titles...</div>
<div class='progress-msg'>[13:21:58] Composing excerpts...</div>
<div class='progress-msg'>[13:21:58] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:21:58] Composing authors...</div>
<div class='progress-msg'>[13:21:58] Composing slugs...</div>
<div class='progress-msg'>[13:21:58] Composing menu order...</div>
<div class='progress-msg'>[13:21:58] Composing contents...</div>
<div class='progress-msg'>[13:21:58] Composing dates...</div>
<div class='progress-msg'>[13:21:58] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:21:58] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:21:58] Composing custom parameters...</div>
<div class='progress-msg'>[13:21:58] Composing URLs for images...</div>
<div class='progress-msg'>[13:21:58] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:21:58] Composing post comments...</div>
<div class='progress-msg'>[13:21:58] Composing unique keys...</div>
<div class='progress-msg'>[13:21:58] Processing posts...</div>
<div class='progress-msg'>[13:21:58] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:21:58] ---</div>
<div class='progress-msg'>[13:21:58] Record #1</div>
<div class='progress-msg'>[13:21:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:21:58] Combine all data for post `SSDT: How to Solve the Circular References Issue`...</div>
<div class='progress-msg'>[13:21:58] Find corresponding article among previously imported for post `SSDT: How to Solve the Circular References Issue`...</div>
<div class='progress-msg'>[13:21:58] Duplicate post wasn't found with unique key `SSDT: How to Solve the Circular References Issue - https://blogs.solidq.com/?p=20223`...</div>
<div class='progress-msg'>[13:21:58] Applying filter `pmxi_article_data` for `SSDT: How to Solve the Circular References Issue`</div>
<div class='progress-msg'>[13:21:58] <b>CREATING</b> `SSDT: How to Solve the Circular References Issue` `Post`</div>
<div class='progress-msg'>[13:21:59] Associate post `SSDT: How to Solve the Circular References Issue` with current import ...</div>
<div class='progress-msg'>[13:21:59] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:21:59] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-StartingSolution-1.png` by URL...</div>
<div class='progress-msg'>[13:21:59] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-StartingSolution-1.png` was not found...</div>
<div class='progress-msg'>[13:21:59] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-StartingSolution-1.png`</div>
<div class='progress-msg'>[13:21:59] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-StartingSolution-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:21:59] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-StartingSolution-1.png`</div>
<div class='progress-msg'>[13:21:59] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToCircular.png` by URL...</div>
<div class='progress-msg'>[13:21:59] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToCircular.png` was not found...</div>
<div class='progress-msg'>[13:21:59] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToCircular.png`</div>
<div class='progress-msg'>[13:21:59] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToCircular.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:21:59] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-ReferenceToCircular.png`</div>
<div class='progress-msg'>[13:21:59] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToMain.png` by URL...</div>
<div class='progress-msg'>[13:21:59] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToMain.png` was not found...</div>
<div class='progress-msg'>[13:21:59] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToMain.png`</div>
<div class='progress-msg'>[13:21:59] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToMain.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:21:59] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-ReferenceToMain.png`</div>
<div class='progress-msg'>[13:22:00] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-CircularDependencyError-1.png` by URL...</div>
<div class='progress-msg'>[13:22:00] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-CircularDependencyError-1.png` was not found...</div>
<div class='progress-msg'>[13:22:00] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-CircularDependencyError-1.png`</div>
<div class='progress-msg'>[13:22:00] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-CircularDependencyError-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:00] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-CircularDependencyError-1.png`</div>
<div class='progress-msg'>[13:22:00] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToMainThroughDACPAC.png` by URL...</div>
<div class='progress-msg'>[13:22:00] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToMainThroughDACPAC.png` was not found...</div>
<div class='progress-msg'>[13:22:00] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToMainThroughDACPAC.png`</div>
<div class='progress-msg'>[13:22:00] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ReferenceToMainThroughDACPAC.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:00] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-ReferenceToMainThroughDACPAC.png`</div>
<div class='progress-msg'>[13:22:00] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-SuppressWarningsToCircularReerence-1.png` by URL...</div>
<div class='progress-msg'>[13:22:00] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-SuppressWarningsToCircularReerence-1.png` was not found...</div>
<div class='progress-msg'>[13:22:00] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-SuppressWarningsToCircularReerence-1.png`</div>
<div class='progress-msg'>[13:22:00] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-SuppressWarningsToCircularReerence-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:00] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-SuppressWarningsToCircularReerence-1.png`</div>
<div class='progress-msg'>[13:22:01] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-RefAsCompositeProject.png` by URL...</div>
<div class='progress-msg'>[13:22:01] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-RefAsCompositeProject.png` was not found...</div>
<div class='progress-msg'>[13:22:01] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-RefAsCompositeProject.png`</div>
<div class='progress-msg'>[13:22:01] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-RefAsCompositeProject.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:01] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-RefAsCompositeProject.png`</div>
<div class='progress-msg'>[13:22:01] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-FinalSolution-1.png` by URL...</div>
<div class='progress-msg'>[13:22:01] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-FinalSolution-1.png` was not found...</div>
<div class='progress-msg'>[13:22:01] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-FinalSolution-1.png`</div>
<div class='progress-msg'>[13:22:01] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-FinalSolution-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:01] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-FinalSolution-1.png`</div>
<div class='progress-msg'>[13:22:01] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-OnlyNecessaryProjectsDeployed.png` by URL...</div>
<div class='progress-msg'>[13:22:01] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-OnlyNecessaryProjectsDeployed.png` was not found...</div>
<div class='progress-msg'>[13:22:01] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-OnlyNecessaryProjectsDeployed.png`</div>
<div class='progress-msg'>[13:22:01] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-OnlyNecessaryProjectsDeployed.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:01] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-OnlyNecessaryProjectsDeployed.png`</div>
<div class='progress-msg'>[13:22:01] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ChangeStartupProjects.png` by URL...</div>
<div class='progress-msg'>[13:22:01] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ChangeStartupProjects.png` was not found...</div>
<div class='progress-msg'>[13:22:01] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ChangeStartupProjects.png`</div>
<div class='progress-msg'>[13:22:02] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ChangeStartupProjects.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:02] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-ChangeStartupProjects.png`</div>
<div class='progress-msg'>[13:22:02] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-TooMuchObjectsDeployed-1.png` by URL...</div>
<div class='progress-msg'>[13:22:02] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-TooMuchObjectsDeployed-1.png` was not found...</div>
<div class='progress-msg'>[13:22:02] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-TooMuchObjectsDeployed-1.png`</div>
<div class='progress-msg'>[13:22:02] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-TooMuchObjectsDeployed-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:02] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-TooMuchObjectsDeployed-1.png`</div>
<div class='progress-msg'>[13:22:02] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ChangeDebugSettings.png` by URL...</div>
<div class='progress-msg'>[13:22:02] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ChangeDebugSettings.png` was not found...</div>
<div class='progress-msg'>[13:22:02] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ChangeDebugSettings.png`</div>
<div class='progress-msg'>[13:22:02] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-ChangeDebugSettings.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:02] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-ChangeDebugSettings.png`</div>
<div class='progress-msg'>[13:22:03] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-CorrectDeployment-1.png` by URL...</div>
<div class='progress-msg'>[13:22:03] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-CorrectDeployment-1.png` was not found...</div>
<div class='progress-msg'>[13:22:03] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-CorrectDeployment-1.png`</div>
<div class='progress-msg'>[13:22:03] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-CorrectDeployment-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:03] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-CorrectDeployment-1.png`</div>
<div class='progress-msg'>[13:22:03] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-DebugProperties.png` by URL...</div>
<div class='progress-msg'>[13:22:03] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-DebugProperties.png` was not found...</div>
<div class='progress-msg'>[13:22:03] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-DebugProperties.png`</div>
<div class='progress-msg'>[13:22:03] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/SSDT-DebugProperties.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:03] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/SSDT-DebugProperties.png`</div>
<div class='progress-msg'>[13:22:03] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/CircularGenericCase-1.png` by URL...</div>
<div class='progress-msg'>[13:22:03] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/CircularGenericCase-1.png` was not found...</div>
<div class='progress-msg'>[13:22:03] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/CircularGenericCase-1.png`</div>
<div class='progress-msg'>[13:22:03] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/CircularGenericCase-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:03] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/CircularGenericCase-1.png`</div>
<div class='progress-msg'>[13:22:03] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-2.png` by URL...</div>
<div class='progress-msg'>[13:22:03] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-2.png` was not found...</div>
<div class='progress-msg'>[13:22:03] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-2.png`</div>
<div class='progress-msg'>[13:22:03] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-2.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:03] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/circular-generic-case-2.png`</div>
<div class='progress-msg'>[13:22:04] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-solved-2.png` by URL...</div>
<div class='progress-msg'>[13:22:04] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-solved-2.png` was not found...</div>
<div class='progress-msg'>[13:22:04] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-solved-2.png`</div>
<div class='progress-msg'>[13:22:04] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-solved-2.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:04] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/circular-generic-case-solved-2.png`</div>
<div class='progress-msg'>[13:22:04] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-solved-3.png` by URL...</div>
<div class='progress-msg'>[13:22:04] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-solved-3.png` was not found...</div>
<div class='progress-msg'>[13:22:04] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-solved-3.png`</div>
<div class='progress-msg'>[13:22:04] - Image `https://blogs.solidq.com/wp-content/uploads/2015/06/circular-generic-case-solved-3.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:22:04] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/circular-generic-case-solved-3.png`</div>
<div class='progress-msg'>[13:22:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:22:04] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:22:04] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:22:04] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:22:04] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:22:04] <b>CREATED</b> `SSDT: How to Solve the Circular References Issue` `Post` (ID: 936)</div>
<div class='progress-msg'>[13:22:04] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:22:04] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:22:04] ---</div>
<div class='progress-msg'>[13:22:04] Record #2</div>
<div class='progress-msg'>[13:22:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:22:04] Combine all data for post `Fixed some SQL Server Partition Management Utility Bugs`...</div>
<div class='progress-msg'>[13:22:04] Find corresponding article among previously imported for post `Fixed some SQL Server Partition Management Utility Bugs`...</div>
<div class='progress-msg'>[13:22:04] Duplicate post wasn't found with unique key `Fixed some SQL Server Partition Management Utility Bugs - https://blogs.solidq.com/en/?p=20864`...</div>
<div class='progress-msg'>[13:22:04] Applying filter `pmxi_article_data` for `Fixed some SQL Server Partition Management Utility Bugs`</div>
<div class='progress-msg'>[13:22:04] <b>CREATING</b> `Fixed some SQL Server Partition Management Utility Bugs` `Post`</div>
<div class='progress-msg'>[13:22:04] Associate post `Fixed some SQL Server Partition Management Utility Bugs` with current import ...</div>
<div class='progress-msg'>[13:22:04] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:22:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:22:04] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:22:04] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:22:04] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:22:04] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:22:04] <b>CREATED</b> `Fixed some SQL Server Partition Management Utility Bugs` `Post` (ID: 955)</div>
<div class='progress-msg'>[13:22:04] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:22:04] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:22:04] ---</div>
<div class='progress-msg'>[13:22:04] Record #3</div>
<div class='progress-msg'>[13:22:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:22:04] Combine all data for post `How to bulk copy Azure ML Experiments from a Workspace to another one or do a Backup of them in Physical Files`...</div>
<div class='progress-msg'>[13:22:04] Find corresponding article among previously imported for post `How to bulk copy Azure ML Experiments from a Workspace to another one or do a Backup of them in Physical Files`...</div>
<div class='progress-msg'>[13:22:04] Duplicate post wasn't found with unique key `How to bulk copy Azure ML Experiments from a Workspace to another one or do a Backup of them in Physical Files - https://blogs.solidq.com/en/?p=21169`...</div>
<div class='progress-msg'>[13:22:04] Applying filter `pmxi_article_data` for `How to bulk copy Azure ML Experiments from a Workspace to another one or do a Backup of them in Physical Files`</div>
<div class='progress-msg'>[13:22:04] <b>CREATING</b> `How to bulk copy Azure ML Experiments from a Workspace to another one or do a Backup of them in Physical Files` `Post`</div>
<div class='progress-msg'>[13:22:04] Associate post `How to bulk copy Azure ML Experiments from a Workspace to another one or do a Backup of them in Physical Files` with current import ...</div>
<div class='progress-msg'>[13:22:04] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:22:04] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_001.png` by URL...</div>
<div class='progress-msg'>[13:22:04] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_001.png` was not found...</div>
<div class='progress-msg'>[13:22:04] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_001.png`</div>
<div class='progress-msg'>[13:22:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_001.png can not be downloaded, response </div>
<div class='progress-msg'>[13:22:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_002.png` by URL...</div>
<div class='progress-msg'>[13:22:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_002.png` was not found...</div>
<div class='progress-msg'>[13:22:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_002.png`</div>
<div class='progress-msg'>[13:22:20] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_002.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:22:20] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_000.png` by URL...</div>
<div class='progress-msg'>[13:22:20] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_000.png` was not found...</div>
<div class='progress-msg'>[13:22:20] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_000.png`</div>
<div class='progress-msg'>[13:22:31] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_000.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5013 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:22:31] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_003.png` by URL...</div>
<div class='progress-msg'>[13:22:31] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_003.png` was not found...</div>
<div class='progress-msg'>[13:22:31] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_003.png`</div>
<div class='progress-msg'>[13:22:41] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_003.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5015 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:22:41] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_004.png` by URL...</div>
<div class='progress-msg'>[13:22:41] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_004.png` was not found...</div>
<div class='progress-msg'>[13:22:41] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_004.png`</div>
<div class='progress-msg'>[13:22:51] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_004.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5008 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:22:51] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_005.png` by URL...</div>
<div class='progress-msg'>[13:22:51] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_005.png` was not found...</div>
<div class='progress-msg'>[13:22:51] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_005.png`</div>
<div class='progress-msg'>[13:23:01] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_005.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5014 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:23:01] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_006.png` by URL...</div>
<div class='progress-msg'>[13:23:01] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_006.png` was not found...</div>
<div class='progress-msg'>[13:23:01] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_006.png`</div>
<div class='progress-msg'>[13:23:11] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_006.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5005 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:23:11] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_007.png` by URL...</div>
<div class='progress-msg'>[13:23:11] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_007.png` was not found...</div>
<div class='progress-msg'>[13:23:11] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_007.png`</div>
<div class='progress-msg'>[13:23:21] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_007.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5013 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:23:21] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_008.png` by URL...</div>
<div class='progress-msg'>[13:23:21] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_008.png` was not found...</div>
<div class='progress-msg'>[13:23:21] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_008.png`</div>
<div class='progress-msg'>[13:23:31] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_008.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5011 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:23:31] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_009.png` by URL...</div>
<div class='progress-msg'>[13:23:31] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_009.png` was not found...</div>
<div class='progress-msg'>[13:23:31] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_009.png`</div>
<div class='progress-msg'>[13:23:41] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_009.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5009 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:23:41] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_010.png` by URL...</div>
<div class='progress-msg'>[13:23:41] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_010.png` was not found...</div>
<div class='progress-msg'>[13:23:41] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_010.png`</div>
<div class='progress-msg'>[13:23:52] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_010.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5004 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:23:52] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_012.png` by URL...</div>
<div class='progress-msg'>[13:23:52] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_012.png` was not found...</div>
<div class='progress-msg'>[13:23:52] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_012.png`</div>
<div class='progress-msg'>[13:24:02] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_012.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5011 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:24:02] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_013.png` by URL...</div>
<div class='progress-msg'>[13:24:02] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_013.png` was not found...</div>
<div class='progress-msg'>[13:24:02] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_013.png`</div>
<div class='progress-msg'>[13:24:12] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_013.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5011 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:24:12] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_014.png` by URL...</div>
<div class='progress-msg'>[13:24:12] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_014.png` was not found...</div>
<div class='progress-msg'>[13:24:12] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_014.png`</div>
<div class='progress-msg'>[13:24:22] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_014.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:24:22] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_015.png` by URL...</div>
<div class='progress-msg'>[13:24:22] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_015.png` was not found...</div>
<div class='progress-msg'>[13:24:22] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_015.png`</div>
<div class='progress-msg'>[13:24:22] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_015.png can not be downloaded, response </div>
<div class='progress-msg'>[13:24:22] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_016.png` by URL...</div>
<div class='progress-msg'>[13:24:22] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_016.png` was not found...</div>
<div class='progress-msg'>[13:24:22] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_016.png`</div>
<div class='progress-msg'>[13:24:22] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_016.png can not be downloaded, response </div>
<div class='progress-msg'>[13:24:22] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_017.png` by URL...</div>
<div class='progress-msg'>[13:24:22] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_017.png` was not found...</div>
<div class='progress-msg'>[13:24:22] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_017.png`</div>
<div class='progress-msg'>[13:24:23] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_017.png can not be downloaded, response </div>
<div class='progress-msg'>[13:24:23] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_018.png` by URL...</div>
<div class='progress-msg'>[13:24:23] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_018.png` was not found...</div>
<div class='progress-msg'>[13:24:23] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_018.png`</div>
<div class='progress-msg'>[13:24:23] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_018.png can not be downloaded, response </div>
<div class='progress-msg'>[13:24:23] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_019.png` by URL...</div>
<div class='progress-msg'>[13:24:23] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_019.png` was not found...</div>
<div class='progress-msg'>[13:24:23] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_019.png`</div>
<div class='progress-msg'>[13:24:28] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2017/02/AzureML_Copy_019.png can not be downloaded, response </div>
<div class='progress-msg'>[13:24:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:24:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:24:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:24:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:24:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:24:28] <b>CREATED</b> `How to bulk copy Azure ML Experiments from a Workspace to another one or do a Backup of them in Physical Files` `Post` (ID: 956)</div>
<div class='progress-msg'>[13:24:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:24:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:24:28] ---</div>
<div class='progress-msg'>[13:24:28] Record #4</div>
<div class='progress-msg'>[13:24:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:24:28] Combine all data for post `How to Better Evaluate the Goodness-of-Fit of Regressions`...</div>
<div class='progress-msg'>[13:24:28] Find corresponding article among previously imported for post `How to Better Evaluate the Goodness-of-Fit of Regressions`...</div>
<div class='progress-msg'>[13:24:28] Duplicate post wasn't found with unique key `How to Better Evaluate the Goodness-of-Fit of Regressions - https://blogs.solidq.com/?p=27671`...</div>
<div class='progress-msg'>[13:24:28] Applying filter `pmxi_article_data` for `How to Better Evaluate the Goodness-of-Fit of Regressions`</div>
<div class='progress-msg'>[13:24:28] <b>CREATING</b> `How to Better Evaluate the Goodness-of-Fit of Regressions` `Post`</div>
<div class='progress-msg'>[13:24:28] Associate post `How to Better Evaluate the Goodness-of-Fit of Regressions` with current import ...</div>
<div class='progress-msg'>[13:24:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:24:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:24:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:24:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:24:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:24:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:24:28] - Creating parent Post post_tag `Cloud &amp; Azure` ...</div>
<div class='progress-msg'>[13:24:28] <b>CREATED</b> `How to Better Evaluate the Goodness-of-Fit of Regressions` `Post` (ID: 957)</div>
<div class='progress-msg'>[13:24:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:24:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:24:28] ---</div>
<div class='progress-msg'>[13:24:28] Record #5</div>
<div class='progress-msg'>[13:24:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:24:28] Combine all data for post `Measure the Strength of Association Between Two Categorical Variables: Mosaic Plot and Chi-Square Test`...</div>
<div class='progress-msg'>[13:24:28] Find corresponding article among previously imported for post `Measure the Strength of Association Between Two Categorical Variables: Mosaic Plot and Chi-Square Test`...</div>
<div class='progress-msg'>[13:24:28] Duplicate post wasn't found with unique key `Measure the Strength of Association Between Two Categorical Variables: Mosaic Plot and Chi-Square Test - https://blogs.solidq.com/?p=37572`...</div>
<div class='progress-msg'>[13:24:28] Applying filter `pmxi_article_data` for `Measure the Strength of Association Between Two Categorical Variables: Mosaic Plot and Chi-Square Test`</div>
<div class='progress-msg'>[13:24:28] <b>CREATING</b> `Measure the Strength of Association Between Two Categorical Variables: Mosaic Plot and Chi-Square Test` `Post`</div>
<div class='progress-msg'>[13:24:28] Associate post `Measure the Strength of Association Between Two Categorical Variables: Mosaic Plot and Chi-Square Test` with current import ...</div>
<div class='progress-msg'>[13:24:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:24:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:24:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:24:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:24:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:24:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:24:28] - Creating parent Post post_tag `Big Data` ...</div>
<div class='progress-msg'>[13:24:28] <b>CREATED</b> `Measure the Strength of Association Between Two Categorical Variables: Mosaic Plot and Chi-Square Test` `Post` (ID: 958)</div>
<div class='progress-msg'>[13:24:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:24:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:24:28] Cleaning temporary data...</div>
