<div class='progress-msg'>Mon, 28 Sep 2020 12:45:28 +0000</div>
<div class='progress-msg'>[12:45:28] Composing titles...</div>
<div class='progress-msg'>[12:45:28] Composing excerpts...</div>
<div class='progress-msg'>[12:45:28] Composing duplicate indicators...</div>
<div class='progress-msg'>[12:45:28] Composing authors...</div>
<div class='progress-msg'>[12:45:28] Composing slugs...</div>
<div class='progress-msg'>[12:45:28] Composing menu order...</div>
<div class='progress-msg'>[12:45:28] Composing contents...</div>
<div class='progress-msg'>[12:45:28] Composing dates...</div>
<div class='progress-msg'>[12:45:28] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[12:45:28] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[12:45:28] Composing custom parameters...</div>
<div class='progress-msg'>[12:45:28] Composing URLs for images...</div>
<div class='progress-msg'>[12:45:28] Composing URLs for attachments files...</div>
<div class='progress-msg'>[12:45:28] Composing post comments...</div>
<div class='progress-msg'>[12:45:28] Composing unique keys...</div>
<div class='progress-msg'>[12:45:28] Processing posts...</div>
<div class='progress-msg'>[12:45:28] Data parsing via add-ons...</div>
<div class='progress-msg'>[12:45:28] ---</div>
<div class='progress-msg'>[12:45:28] Record #1</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[12:45:28] Combine all data for post `The effects of great team work`...</div>
<div class='progress-msg'>[12:45:28] Find corresponding article among previously imported for post `The effects of great team work`...</div>
<div class='progress-msg'>[12:45:28] Duplicate post wasn't found with unique key `The effects of great team work - http://solidqblogs.azurewebsites.net/?p=17950`...</div>
<div class='progress-msg'>[12:45:28] Applying filter `pmxi_article_data` for `The effects of great team work`</div>
<div class='progress-msg'>[12:45:28] <b>CREATING</b> `The effects of great team work` `Post`</div>
<div class='progress-msg'>[12:45:28] Associate post `The effects of great team work` with current import ...</div>
<div class='progress-msg'>[12:45:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[12:45:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[12:45:28] - Creating parent Post post_tag `Learn from your data` ...</div>
<div class='progress-msg'>[12:45:28] <b>CREATED</b> `The effects of great team work` `Post` (ID: 841)</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[12:45:28] ---</div>
<div class='progress-msg'>[12:45:28] Record #2</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[12:45:28] Combine all data for post `SQL Server Books Online, that old and still unknown friend`...</div>
<div class='progress-msg'>[12:45:28] Find corresponding article among previously imported for post `SQL Server Books Online, that old and still unknown friend`...</div>
<div class='progress-msg'>[12:45:28] Duplicate post wasn't found with unique key `SQL Server Books Online, that old and still unknown friend - http://solidqblogs.azurewebsites.net/?p=17956`...</div>
<div class='progress-msg'>[12:45:28] Applying filter `pmxi_article_data` for `SQL Server Books Online, that old and still unknown friend`</div>
<div class='progress-msg'>[12:45:28] <b>CREATING</b> `SQL Server Books Online, that old and still unknown friend` `Post`</div>
<div class='progress-msg'>[12:45:28] Associate post `SQL Server Books Online, that old and still unknown friend` with current import ...</div>
<div class='progress-msg'>[12:45:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[12:45:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[12:45:28] <b>CREATED</b> `SQL Server Books Online, that old and still unknown friend` `Post` (ID: 842)</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[12:45:28] ---</div>
<div class='progress-msg'>[12:45:28] Record #3</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[12:45:28] Combine all data for post `Los Libros en Pantalla de SQL Server, ese viejo y aún desconocido amigo`...</div>
<div class='progress-msg'>[12:45:28] Find corresponding article among previously imported for post `Los Libros en Pantalla de SQL Server, ese viejo y aún desconocido amigo`...</div>
<div class='progress-msg'>[12:45:28] Duplicate post wasn't found with unique key `Los Libros en Pantalla de SQL Server, ese viejo y aún desconocido amigo - http://solidqblogs.azurewebsites.net/?p=17958`...</div>
<div class='progress-msg'>[12:45:28] Applying filter `pmxi_article_data` for `Los Libros en Pantalla de SQL Server, ese viejo y aún desconocido amigo`</div>
<div class='progress-msg'>[12:45:28] <b>CREATING</b> `Los Libros en Pantalla de SQL Server, ese viejo y aún desconocido amigo` `Post`</div>
<div class='progress-msg'>[12:45:28] Associate post `Los Libros en Pantalla de SQL Server, ese viejo y aún desconocido amigo` with current import ...</div>
<div class='progress-msg'>[12:45:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[12:45:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[12:45:28] - Creating parent Post post_tag `Data Platform para desarrolladores &amp; DBAs` ...</div>
<div class='progress-msg'>[12:45:28] <b>CREATED</b> `Los Libros en Pantalla de SQL Server, ese viejo y aún desconocido amigo` `Post` (ID: 843)</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[12:45:28] ---</div>
<div class='progress-msg'>[12:45:28] Record #4</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[12:45:28] Combine all data for post `Sobre la nueva certificación MCDBA`...</div>
<div class='progress-msg'>[12:45:28] Find corresponding article among previously imported for post `Sobre la nueva certificación MCDBA`...</div>
<div class='progress-msg'>[12:45:28] Duplicate post wasn't found with unique key `Sobre la nueva certificación MCDBA - http://solidqblogs.azurewebsites.net/?p=17967`...</div>
<div class='progress-msg'>[12:45:28] Applying filter `pmxi_article_data` for `Sobre la nueva certificación MCDBA`</div>
<div class='progress-msg'>[12:45:28] <b>CREATING</b> `Sobre la nueva certificación MCDBA` `Post`</div>
<div class='progress-msg'>[12:45:28] Associate post `Sobre la nueva certificación MCDBA` with current import ...</div>
<div class='progress-msg'>[12:45:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[12:45:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[12:45:28] <b>CREATED</b> `Sobre la nueva certificación MCDBA` `Post` (ID: 844)</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[12:45:28] ---</div>
<div class='progress-msg'>[12:45:28] Record #5</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[12:45:28] Combine all data for post `Do you ever wonder how SQL Server stores internally datetimes values?`...</div>
<div class='progress-msg'>[12:45:28] Find corresponding article among previously imported for post `Do you ever wonder how SQL Server stores internally datetimes values?`...</div>
<div class='progress-msg'>[12:45:28] Duplicate post wasn't found with unique key `Do you ever wonder how SQL Server stores internally datetimes values? - http://solidqblogs.azurewebsites.net/?p=17969`...</div>
<div class='progress-msg'>[12:45:28] Applying filter `pmxi_article_data` for `Do you ever wonder how SQL Server stores internally datetimes values?`</div>
<div class='progress-msg'>[12:45:28] <b>CREATING</b> `Do you ever wonder how SQL Server stores internally datetimes values?` `Post`</div>
<div class='progress-msg'>[12:45:28] Associate post `Do you ever wonder how SQL Server stores internally datetimes values?` with current import ...</div>
<div class='progress-msg'>[12:45:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[12:45:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[12:45:28] <b>CREATED</b> `Do you ever wonder how SQL Server stores internally datetimes values?` `Post` (ID: 845)</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[12:45:28] ---</div>
<div class='progress-msg'>[12:45:28] Record #6</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[12:45:28] Combine all data for post `¿Te has preguntado alguna vez cómo SQL Server almacena internamente valores datetime?`...</div>
<div class='progress-msg'>[12:45:28] Find corresponding article among previously imported for post `¿Te has preguntado alguna vez cómo SQL Server almacena internamente valores datetime?`...</div>
<div class='progress-msg'>[12:45:28] Duplicate post wasn't found with unique key `¿Te has preguntado alguna vez cómo SQL Server almacena internamente valores datetime? - http://solidqblogs.azurewebsites.net/?p=17971`...</div>
<div class='progress-msg'>[12:45:28] Applying filter `pmxi_article_data` for `¿Te has preguntado alguna vez cómo SQL Server almacena internamente valores datetime?`</div>
<div class='progress-msg'>[12:45:28] <b>CREATING</b> `¿Te has preguntado alguna vez cómo SQL Server almacena internamente valores datetime?` `Post`</div>
<div class='progress-msg'>[12:45:28] Associate post `¿Te has preguntado alguna vez cómo SQL Server almacena internamente valores datetime?` with current import ...</div>
<div class='progress-msg'>[12:45:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[12:45:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[12:45:28] <b>CREATED</b> `¿Te has preguntado alguna vez cómo SQL Server almacena internamente valores datetime?` `Post` (ID: 846)</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[12:45:28] ---</div>
<div class='progress-msg'>[12:45:28] Record #7</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[12:45:28] Combine all data for post `Itzik shines again as a T-SQL Black Belt Wizard`...</div>
<div class='progress-msg'>[12:45:28] Find corresponding article among previously imported for post `Itzik shines again as a T-SQL Black Belt Wizard`...</div>
<div class='progress-msg'>[12:45:28] Duplicate post wasn't found with unique key `Itzik shines again as a T-SQL Black Belt Wizard - http://solidqblogs.azurewebsites.net/?p=17981`...</div>
<div class='progress-msg'>[12:45:28] Applying filter `pmxi_article_data` for `Itzik shines again as a T-SQL Black Belt Wizard`</div>
<div class='progress-msg'>[12:45:28] <b>CREATING</b> `Itzik shines again as a T-SQL Black Belt Wizard` `Post`</div>
<div class='progress-msg'>[12:45:28] Associate post `Itzik shines again as a T-SQL Black Belt Wizard` with current import ...</div>
<div class='progress-msg'>[12:45:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[12:45:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[12:45:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[12:45:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[12:45:28] <b>CREATED</b> `Itzik shines again as a T-SQL Black Belt Wizard` `Post` (ID: 847)</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[12:45:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[12:45:28] Cleaning temporary data...</div>
