<div class='progress-msg'>Mon, 28 Sep 2020 13:47:04 +0000</div>
<div class='progress-msg'>[13:47:04] Composing titles...</div>
<div class='progress-msg'>[13:47:04] Composing excerpts...</div>
<div class='progress-msg'>[13:47:04] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:47:04] Composing authors...</div>
<div class='progress-msg'>[13:47:04] Composing slugs...</div>
<div class='progress-msg'>[13:47:04] Composing menu order...</div>
<div class='progress-msg'>[13:47:04] Composing contents...</div>
<div class='progress-msg'>[13:47:04] Composing dates...</div>
<div class='progress-msg'>[13:47:04] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:47:04] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:47:04] Composing custom parameters...</div>
<div class='progress-msg'>[13:47:04] Composing URLs for images...</div>
<div class='progress-msg'>[13:47:04] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:47:04] Composing post comments...</div>
<div class='progress-msg'>[13:47:04] Composing unique keys...</div>
<div class='progress-msg'>[13:47:04] Processing posts...</div>
<div class='progress-msg'>[13:47:04] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:47:04] ---</div>
<div class='progress-msg'>[13:47:04] Record #1</div>
<div class='progress-msg'>[13:47:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:47:04] Combine all data for post `Connect Azure to your local network`...</div>
<div class='progress-msg'>[13:47:04] Find corresponding article among previously imported for post `Connect Azure to your local network`...</div>
<div class='progress-msg'>[13:47:04] Duplicate post wasn't found with unique key `Connect Azure to your local network - https://blogs.solidq.com/en/?p=20787`...</div>
<div class='progress-msg'>[13:47:04] Applying filter `pmxi_article_data` for `Connect Azure to your local network`</div>
<div class='progress-msg'>[13:47:04] <b>CREATING</b> `Connect Azure to your local network` `Post`</div>
<div class='progress-msg'>[13:47:04] Associate post `Connect Azure to your local network` with current import ...</div>
<div class='progress-msg'>[13:47:04] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:47:04] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/pp.png` by URL...</div>
<div class='progress-msg'>[13:47:04] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/pp.png` was not found...</div>
<div class='progress-msg'>[13:47:04] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/pp.png`</div>
<div class='progress-msg'>[13:47:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/pp.png can not be downloaded, response </div>
<div class='progress-msg'>[13:47:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/1.png` by URL...</div>
<div class='progress-msg'>[13:47:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/1.png` was not found...</div>
<div class='progress-msg'>[13:47:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/1.png`</div>
<div class='progress-msg'>[13:47:21] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/1.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5001 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:47:21] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/2.png` by URL...</div>
<div class='progress-msg'>[13:47:21] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/2.png` was not found...</div>
<div class='progress-msg'>[13:47:21] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/2.png`</div>
<div class='progress-msg'>[13:47:31] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/2.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5002 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:47:31] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/3.png` by URL...</div>
<div class='progress-msg'>[13:47:31] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/3.png` was not found...</div>
<div class='progress-msg'>[13:47:31] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/3.png`</div>
<div class='progress-msg'>[13:47:41] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/3.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:47:41] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/41.png` by URL...</div>
<div class='progress-msg'>[13:47:41] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/41.png` was not found...</div>
<div class='progress-msg'>[13:47:41] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/41.png`</div>
<div class='progress-msg'>[13:47:51] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/41.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5012 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:47:51] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/5.png` by URL...</div>
<div class='progress-msg'>[13:47:51] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/5.png` was not found...</div>
<div class='progress-msg'>[13:47:51] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/5.png`</div>
<div class='progress-msg'>[13:48:01] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/5.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5011 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:48:01] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/6.png` by URL...</div>
<div class='progress-msg'>[13:48:01] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/6.png` was not found...</div>
<div class='progress-msg'>[13:48:01] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/6.png`</div>
<div class='progress-msg'>[13:48:11] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/6.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5012 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:48:11] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/7.png` by URL...</div>
<div class='progress-msg'>[13:48:11] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/7.png` was not found...</div>
<div class='progress-msg'>[13:48:11] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/7.png`</div>
<div class='progress-msg'>[13:48:21] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/7.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5013 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:48:21] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/81.png` by URL...</div>
<div class='progress-msg'>[13:48:21] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/81.png` was not found...</div>
<div class='progress-msg'>[13:48:21] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/81.png`</div>
<div class='progress-msg'>[13:48:32] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/81.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5002 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:48:32] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/10-Copy.png` by URL...</div>
<div class='progress-msg'>[13:48:32] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/10-Copy.png` was not found...</div>
<div class='progress-msg'>[13:48:32] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/10-Copy.png`</div>
<div class='progress-msg'>[13:48:42] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/10-Copy.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5011 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:48:42] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/11.png` by URL...</div>
<div class='progress-msg'>[13:48:42] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/11.png` was not found...</div>
<div class='progress-msg'>[13:48:42] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/11.png`</div>
<div class='progress-msg'>[13:48:52] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/11.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5015 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:48:52] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/131.png` by URL...</div>
<div class='progress-msg'>[13:48:52] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/131.png` was not found...</div>
<div class='progress-msg'>[13:48:52] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/131.png`</div>
<div class='progress-msg'>[13:49:02] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/131.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:49:02] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/14.png` by URL...</div>
<div class='progress-msg'>[13:49:02] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/14.png` was not found...</div>
<div class='progress-msg'>[13:49:02] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/14.png`</div>
<div class='progress-msg'>[13:49:12] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/14.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:49:12] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/15.png` by URL...</div>
<div class='progress-msg'>[13:49:12] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/15.png` was not found...</div>
<div class='progress-msg'>[13:49:12] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/15.png`</div>
<div class='progress-msg'>[13:49:22] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/15.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5013 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:49:22] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/161.png` by URL...</div>
<div class='progress-msg'>[13:49:22] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/161.png` was not found...</div>
<div class='progress-msg'>[13:49:22] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/161.png`</div>
<div class='progress-msg'>[13:49:22] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/161.png can not be downloaded, response </div>
<div class='progress-msg'>[13:49:22] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/17.png` by URL...</div>
<div class='progress-msg'>[13:49:22] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/17.png` was not found...</div>
<div class='progress-msg'>[13:49:22] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/17.png`</div>
<div class='progress-msg'>[13:49:23] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/17.png can not be downloaded, response </div>
<div class='progress-msg'>[13:49:23] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/18.png` by URL...</div>
<div class='progress-msg'>[13:49:23] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/18.png` was not found...</div>
<div class='progress-msg'>[13:49:23] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/18.png`</div>
<div class='progress-msg'>[13:49:23] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/18.png can not be downloaded, response </div>
<div class='progress-msg'>[13:49:23] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/19.png` by URL...</div>
<div class='progress-msg'>[13:49:23] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/19.png` was not found...</div>
<div class='progress-msg'>[13:49:23] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/19.png`</div>
<div class='progress-msg'>[13:49:23] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/19.png can not be downloaded, response </div>
<div class='progress-msg'>[13:49:23] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/20.png` by URL...</div>
<div class='progress-msg'>[13:49:23] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/20.png` was not found...</div>
<div class='progress-msg'>[13:49:23] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/20.png`</div>
<div class='progress-msg'>[13:49:28] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/20.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5012 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:49:28] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/21.png` by URL...</div>
<div class='progress-msg'>[13:49:28] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/21.png` was not found...</div>
<div class='progress-msg'>[13:49:28] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/21.png`</div>
<div class='progress-msg'>[13:49:28] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/10/21.png can not be downloaded, response </div>
<div class='progress-msg'>[13:49:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:49:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:49:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:49:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:49:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:49:28] <b>CREATED</b> `Connect Azure to your local network` `Post` (ID: 1088)</div>
<div class='progress-msg'>[13:49:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:49:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:49:28] ---</div>
<div class='progress-msg'>[13:49:28] Record #2</div>
<div class='progress-msg'>[13:49:28] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:49:28] Combine all data for post `The SQL Server Browser service and multiple instances`...</div>
<div class='progress-msg'>[13:49:28] Find corresponding article among previously imported for post `The SQL Server Browser service and multiple instances`...</div>
<div class='progress-msg'>[13:49:28] Duplicate post wasn't found with unique key `The SQL Server Browser service and multiple instances - https://blogs.solidq.com/en/?p=21113`...</div>
<div class='progress-msg'>[13:49:28] Applying filter `pmxi_article_data` for `The SQL Server Browser service and multiple instances`</div>
<div class='progress-msg'>[13:49:28] <b>CREATING</b> `The SQL Server Browser service and multiple instances` `Post`</div>
<div class='progress-msg'>[13:49:28] Associate post `The SQL Server Browser service and multiple instances` with current import ...</div>
<div class='progress-msg'>[13:49:28] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:49:28] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:49:28] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:49:28] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:49:28] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:49:28] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:49:28] <b>CREATED</b> `The SQL Server Browser service and multiple instances` `Post` (ID: 1089)</div>
<div class='progress-msg'>[13:49:28] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:49:28] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:49:28] Cleaning temporary data...</div>
