<div class='progress-msg'>Mon, 28 Sep 2020 13:16:16 +0000</div>
<div class='progress-msg'>[13:16:16] Composing titles...</div>
<div class='progress-msg'>[13:16:16] Composing excerpts...</div>
<div class='progress-msg'>[13:16:16] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:16:16] Composing authors...</div>
<div class='progress-msg'>[13:16:16] Composing slugs...</div>
<div class='progress-msg'>[13:16:16] Composing menu order...</div>
<div class='progress-msg'>[13:16:16] Composing contents...</div>
<div class='progress-msg'>[13:16:16] Composing dates...</div>
<div class='progress-msg'>[13:16:16] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:16:16] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:16:16] Composing custom parameters...</div>
<div class='progress-msg'>[13:16:16] Composing URLs for images...</div>
<div class='progress-msg'>[13:16:16] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:16:16] Composing post comments...</div>
<div class='progress-msg'>[13:16:16] Composing unique keys...</div>
<div class='progress-msg'>[13:16:16] Processing posts...</div>
<div class='progress-msg'>[13:16:16] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:16:16] ---</div>
<div class='progress-msg'>[13:16:16] Record #1</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:16] Combine all data for post `TSQL: Generating XAML`...</div>
<div class='progress-msg'>[13:16:16] Find corresponding article among previously imported for post `TSQL: Generating XAML`...</div>
<div class='progress-msg'>[13:16:16] Duplicate post wasn't found with unique key `TSQL: Generating XAML - http://solidqblogs.azurewebsites.net/novedades/tsql-generating-xaml/`...</div>
<div class='progress-msg'>[13:16:16] Applying filter `pmxi_article_data` for `TSQL: Generating XAML`</div>
<div class='progress-msg'>[13:16:16] <b>CREATING</b> `TSQL: Generating XAML` `Post`</div>
<div class='progress-msg'>[13:16:16] Associate post `TSQL: Generating XAML` with current import ...</div>
<div class='progress-msg'>[13:16:16] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:16] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:16] <b>CREATED</b> `TSQL: Generating XAML` `Post` (ID: 890)</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:16] ---</div>
<div class='progress-msg'>[13:16:16] Record #2</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:16] Combine all data for post `TSQL: Automatically create Grant Execute Script for Stored Procedures`...</div>
<div class='progress-msg'>[13:16:16] Find corresponding article among previously imported for post `TSQL: Automatically create Grant Execute Script for Stored Procedures`...</div>
<div class='progress-msg'>[13:16:16] Duplicate post wasn't found with unique key `TSQL: Automatically create Grant Execute Script for Stored Procedures - http://solidqblogs.azurewebsites.net/novedades/tsq-automatically-create-grant-execute-script-for-stored-procedures/`...</div>
<div class='progress-msg'>[13:16:16] Applying filter `pmxi_article_data` for `TSQL: Automatically create Grant Execute Script for Stored Procedures`</div>
<div class='progress-msg'>[13:16:16] <b>CREATING</b> `TSQL: Automatically create Grant Execute Script for Stored Procedures` `Post`</div>
<div class='progress-msg'>[13:16:16] Associate post `TSQL: Automatically create Grant Execute Script for Stored Procedures` with current import ...</div>
<div class='progress-msg'>[13:16:16] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:16] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:16] <b>CREATED</b> `TSQL: Automatically create Grant Execute Script for Stored Procedures` `Post` (ID: 891)</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:16] ---</div>
<div class='progress-msg'>[13:16:16] Record #3</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:16] Combine all data for post `SkyDrive update`...</div>
<div class='progress-msg'>[13:16:16] Find corresponding article among previously imported for post `SkyDrive update`...</div>
<div class='progress-msg'>[13:16:16] Duplicate post wasn't found with unique key `SkyDrive update - http://solidqblogs.azurewebsites.net/novedades/skydrive-update/`...</div>
<div class='progress-msg'>[13:16:16] Applying filter `pmxi_article_data` for `SkyDrive update`</div>
<div class='progress-msg'>[13:16:16] <b>CREATING</b> `SkyDrive update` `Post`</div>
<div class='progress-msg'>[13:16:16] Associate post `SkyDrive update` with current import ...</div>
<div class='progress-msg'>[13:16:16] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:16] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:16] <b>CREATED</b> `SkyDrive update` `Post` (ID: 892)</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:16] ---</div>
<div class='progress-msg'>[13:16:16] Record #4</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:16] Combine all data for post `Rugged tablet`...</div>
<div class='progress-msg'>[13:16:16] Find corresponding article among previously imported for post `Rugged tablet`...</div>
<div class='progress-msg'>[13:16:16] Duplicate post wasn't found with unique key `Rugged tablet - http://solidqblogs.azurewebsites.net/novedades/rugged-tablet/`...</div>
<div class='progress-msg'>[13:16:16] Applying filter `pmxi_article_data` for `Rugged tablet`</div>
<div class='progress-msg'>[13:16:16] <b>CREATING</b> `Rugged tablet` `Post`</div>
<div class='progress-msg'>[13:16:16] Associate post `Rugged tablet` with current import ...</div>
<div class='progress-msg'>[13:16:16] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:16] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:16] <b>CREATED</b> `Rugged tablet` `Post` (ID: 893)</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:16] ---</div>
<div class='progress-msg'>[13:16:16] Record #5</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:16] Combine all data for post `Android apps on Windows 8`...</div>
<div class='progress-msg'>[13:16:16] Find corresponding article among previously imported for post `Android apps on Windows 8`...</div>
<div class='progress-msg'>[13:16:16] Duplicate post wasn't found with unique key `Android apps on Windows 8 - http://solidqblogs.azurewebsites.net/novedades/android-apps-on-windows-8/`...</div>
<div class='progress-msg'>[13:16:16] Applying filter `pmxi_article_data` for `Android apps on Windows 8`</div>
<div class='progress-msg'>[13:16:16] <b>CREATING</b> `Android apps on Windows 8` `Post`</div>
<div class='progress-msg'>[13:16:16] Associate post `Android apps on Windows 8` with current import ...</div>
<div class='progress-msg'>[13:16:16] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:16] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:16] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:16] <b>CREATED</b> `Android apps on Windows 8` `Post` (ID: 894)</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:16] ---</div>
<div class='progress-msg'>[13:16:16] Record #6</div>
<div class='progress-msg'>[13:16:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:16] Combine all data for post `SSIS – Data Profiling`...</div>
<div class='progress-msg'>[13:16:16] Find corresponding article among previously imported for post `SSIS – Data Profiling`...</div>
<div class='progress-msg'>[13:16:16] Duplicate post wasn't found with unique key `SSIS – Data Profiling - http://solidqblogs.azurewebsites.net/novedades/ssis-data-profiling/`...</div>
<div class='progress-msg'>[13:16:16] Applying filter `pmxi_article_data` for `SSIS – Data Profiling`</div>
<div class='progress-msg'>[13:16:16] <b>CREATING</b> `SSIS – Data Profiling` `Post`</div>
<div class='progress-msg'>[13:16:16] Associate post `SSIS – Data Profiling` with current import ...</div>
<div class='progress-msg'>[13:16:16] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_7DFC04F4.png` by URL...</div>
<div class='progress-msg'>[13:16:16] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_7DFC04F4.png` was not found...</div>
<div class='progress-msg'>[13:16:16] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:16] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_7DFC04F4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:16:16] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_1_7DFC04F4.png` by URL...</div>
<div class='progress-msg'>[13:16:16] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_1_7DFC04F4.png` was not found...</div>
<div class='progress-msg'>[13:16:16] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_1_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:16] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_1_7DFC04F4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:16:16] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb_1_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_2_7DFC04F4.png` by URL...</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_2_7DFC04F4.png` was not found...</div>
<div class='progress-msg'>[13:16:17] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_2_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_2_7DFC04F4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:16:17] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb_2_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_3_7DFC04F4.png` by URL...</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_3_7DFC04F4.png` was not found...</div>
<div class='progress-msg'>[13:16:17] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_3_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_3_7DFC04F4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:16:17] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb_3_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_4_7DFC04F4.png` by URL...</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_4_7DFC04F4.png` was not found...</div>
<div class='progress-msg'>[13:16:17] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_4_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_4_7DFC04F4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:16:17] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb_4_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_5_7DFC04F4.png` by URL...</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_5_7DFC04F4.png` was not found...</div>
<div class='progress-msg'>[13:16:17] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_5_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_5_7DFC04F4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:16:17] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb_5_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_6_7DFC04F4.png` by URL...</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_6_7DFC04F4.png` was not found...</div>
<div class='progress-msg'>[13:16:17] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_6_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_6_7DFC04F4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:16:17] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb_6_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:17] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_7_7DFC04F4.png` by URL...</div>
<div class='progress-msg'>[13:16:17] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_7_7DFC04F4.png` was not found...</div>
<div class='progress-msg'>[13:16:17] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_7_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:18] - Image `https://blogs.solidq.com/wp-content/uploads/2015/08/image_thumb_7_7DFC04F4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:16:18] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb_7_7DFC04F4.png`</div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `SSIS – Data Profiling` `Post` (ID: 895)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #7</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `SSIS Buffering`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `SSIS Buffering`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `SSIS Buffering - http://solidqblogs.azurewebsites.net/novedades/ssis-buffering/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `SSIS Buffering`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `SSIS Buffering` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `SSIS Buffering` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `SSIS Buffering` `Post` (ID: 904)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #8</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `ETL (extract, transform, load) Projects Recently`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `ETL (extract, transform, load) Projects Recently`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `ETL (extract, transform, load) Projects Recently - http://solidqblogs.azurewebsites.net/novedades/etl-extract-transform-load-projects-recently/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `ETL (extract, transform, load) Projects Recently`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `ETL (extract, transform, load) Projects Recently` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `ETL (extract, transform, load) Projects Recently` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `ETL (extract, transform, load) Projects Recently` `Post` (ID: 905)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #9</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `ETL – Windows Service`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `ETL – Windows Service`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `ETL – Windows Service - http://solidqblogs.azurewebsites.net/novedades/etl-windows-service/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `ETL – Windows Service`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `ETL – Windows Service` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `ETL – Windows Service` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `ETL – Windows Service` `Post` (ID: 906)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #10</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `ETL – Straight .Net`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `ETL – Straight .Net`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `ETL – Straight .Net - http://solidqblogs.azurewebsites.net/novedades/etl-straight-net/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `ETL – Straight .Net`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `ETL – Straight .Net` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `ETL – Straight .Net` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `ETL – Straight .Net` `Post` (ID: 907)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #11</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `ETL – SSIS Step 1`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `ETL – SSIS Step 1`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `ETL – SSIS Step 1 - http://solidqblogs.azurewebsites.net/novedades/etl-ssis-step-1/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `ETL – SSIS Step 1`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `ETL – SSIS Step 1` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `ETL – SSIS Step 1` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `ETL – SSIS Step 1` `Post` (ID: 908)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #12</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `ETL – SSIS Step 2`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `ETL – SSIS Step 2`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `ETL – SSIS Step 2 - http://solidqblogs.azurewebsites.net/novedades/etl-ssis-step-2/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `ETL – SSIS Step 2`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `ETL – SSIS Step 2` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `ETL – SSIS Step 2` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `ETL – SSIS Step 2` `Post` (ID: 909)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #13</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `SQL Server 2014 CTP2`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `SQL Server 2014 CTP2`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `SQL Server 2014 CTP2 - http://solidqblogs.azurewebsites.net/novedades/sql-server-2014-ctp2/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `SQL Server 2014 CTP2`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `SQL Server 2014 CTP2` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `SQL Server 2014 CTP2` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `SQL Server 2014 CTP2` `Post` (ID: 910)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #14</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `SQL Server 2014 CTP 2`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `SQL Server 2014 CTP 2`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `SQL Server 2014 CTP 2 - http://solidqblogs.azurewebsites.net/novedades/sql-server-2014-ctp-2/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `SQL Server 2014 CTP 2`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `SQL Server 2014 CTP 2` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `SQL Server 2014 CTP 2` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `SQL Server 2014 CTP 2` `Post` (ID: 911)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #15</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `WPF Multi threading with TPLHelper`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `WPF Multi threading with TPLHelper`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `WPF Multi threading with TPLHelper - http://solidqblogs.azurewebsites.net/novedades/wpf-multi-threading-with-tplhelper/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `WPF Multi threading with TPLHelper`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `WPF Multi threading with TPLHelper` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `WPF Multi threading with TPLHelper` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `WPF Multi threading with TPLHelper` `Post` (ID: 912)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #16</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `Query to find in-memory tables in SQL Server 2014 database`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `Query to find in-memory tables in SQL Server 2014 database`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `Query to find in-memory tables in SQL Server 2014 database - http://solidqblogs.azurewebsites.net/novedades/query-to-find-in-memory-tables-in-sql-server-2014-database/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `Query to find in-memory tables in SQL Server 2014 database`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `Query to find in-memory tables in SQL Server 2014 database` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `Query to find in-memory tables in SQL Server 2014 database` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `Query to find in-memory tables in SQL Server 2014 database` `Post` (ID: 913)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #17</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `Uses for SQL Server 2014`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `Uses for SQL Server 2014`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `Uses for SQL Server 2014 - http://solidqblogs.azurewebsites.net/novedades/uses-for-sql-server-2014/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `Uses for SQL Server 2014`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `Uses for SQL Server 2014` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `Uses for SQL Server 2014` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `Uses for SQL Server 2014` `Post` (ID: 914)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #18</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `Automating software development`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `Automating software development`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `Automating software development - http://solidqblogs.azurewebsites.net/novedades/automating-software-development/`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `Automating software development`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `Automating software development` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `Automating software development` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `Automating software development` `Post` (ID: 915)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] ---</div>
<div class='progress-msg'>[13:16:18] Record #19</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:16:18] Combine all data for post `Windows Holographic`...</div>
<div class='progress-msg'>[13:16:18] Find corresponding article among previously imported for post `Windows Holographic`...</div>
<div class='progress-msg'>[13:16:18] Duplicate post wasn't found with unique key `Windows Holographic - https://blogs.solidq.com/?p=19357`...</div>
<div class='progress-msg'>[13:16:18] Applying filter `pmxi_article_data` for `Windows Holographic`</div>
<div class='progress-msg'>[13:16:18] <b>CREATING</b> `Windows Holographic` `Post`</div>
<div class='progress-msg'>[13:16:18] Associate post `Windows Holographic` with current import ...</div>
<div class='progress-msg'>[13:16:18] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:16:18] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:16:18] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:16:18] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:16:18] <b>CREATED</b> `Windows Holographic` `Post` (ID: 916)</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:16:18] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:16:18] Cleaning temporary data...</div>
