<div class='progress-msg'>Mon, 28 Sep 2020 13:25:31 +0000</div>
<div class='progress-msg'>[13:25:31] Composing titles...</div>
<div class='progress-msg'>[13:25:31] Composing excerpts...</div>
<div class='progress-msg'>[13:25:31] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:25:31] Composing authors...</div>
<div class='progress-msg'>[13:25:31] Composing slugs...</div>
<div class='progress-msg'>[13:25:31] Composing menu order...</div>
<div class='progress-msg'>[13:25:31] Composing contents...</div>
<div class='progress-msg'>[13:25:31] Composing dates...</div>
<div class='progress-msg'>[13:25:31] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:25:32] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:25:32] Composing custom parameters...</div>
<div class='progress-msg'>[13:25:32] Composing URLs for images...</div>
<div class='progress-msg'>[13:25:32] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:25:32] Composing post comments...</div>
<div class='progress-msg'>[13:25:32] Composing unique keys...</div>
<div class='progress-msg'>[13:25:32] Processing posts...</div>
<div class='progress-msg'>[13:25:32] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:25:32] ---</div>
<div class='progress-msg'>[13:25:32] Record #1</div>
<div class='progress-msg'>[13:25:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:25:32] Combine all data for post `SQL Server Integration Services, Data Type Mapping`...</div>
<div class='progress-msg'>[13:25:32] Find corresponding article among previously imported for post `SQL Server Integration Services, Data Type Mapping`...</div>
<div class='progress-msg'>[13:25:32] Duplicate post wasn't found with unique key `SQL Server Integration Services, Data Type Mapping - https://blogs.solidq.com/?p=20500`...</div>
<div class='progress-msg'>[13:25:32] Applying filter `pmxi_article_data` for `SQL Server Integration Services, Data Type Mapping`</div>
<div class='progress-msg'>[13:25:32] <b>CREATING</b> `SQL Server Integration Services, Data Type Mapping` `Post`</div>
<div class='progress-msg'>[13:25:32] Associate post `SQL Server Integration Services, Data Type Mapping` with current import ...</div>
<div class='progress-msg'>[13:25:32] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:25:32] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` by URL...</div>
<div class='progress-msg'>[13:25:32] - Image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` was not found...</div>
<div class='progress-msg'>[13:25:32] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif`</div>
<div class='progress-msg'>[13:25:38] - <b>WARNING</b>: File https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif can not be downloaded, response </div>
<div class='progress-msg'>[13:25:38] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif` by URL...</div>
<div class='progress-msg'>[13:25:38] - Image `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif` was not found...</div>
<div class='progress-msg'>[13:25:38] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif`</div>
<div class='progress-msg'>[13:25:38] - Image `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif` has been successfully downloaded</div>
<div class='progress-msg'>[13:25:38] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/snapssnippetsdywkr-u9nhcs.gif`</div>
<div class='progress-msg'>[13:25:38] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:25:38] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:25:38] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:25:38] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:25:38] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:25:38] <b>CREATED</b> `SQL Server Integration Services, Data Type Mapping` `Post` (ID: 959)</div>
<div class='progress-msg'>[13:25:38] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:25:38] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:25:38] ---</div>
<div class='progress-msg'>[13:25:38] Record #2</div>
<div class='progress-msg'>[13:25:38] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:25:38] Combine all data for post `SQL Server 2012 FileTables, Text Files and Full-text Search`...</div>
<div class='progress-msg'>[13:25:38] Find corresponding article among previously imported for post `SQL Server 2012 FileTables, Text Files and Full-text Search`...</div>
<div class='progress-msg'>[13:25:38] Duplicate post wasn't found with unique key `SQL Server 2012 FileTables, Text Files and Full-text Search - https://blogs.solidq.com/?p=20502`...</div>
<div class='progress-msg'>[13:25:38] Applying filter `pmxi_article_data` for `SQL Server 2012 FileTables, Text Files and Full-text Search`</div>
<div class='progress-msg'>[13:25:38] <b>CREATING</b> `SQL Server 2012 FileTables, Text Files and Full-text Search` `Post`</div>
<div class='progress-msg'>[13:25:38] Associate post `SQL Server 2012 FileTables, Text Files and Full-text Search` with current import ...</div>
<div class='progress-msg'>[13:25:38] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:25:38] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` by URL...</div>
<div class='progress-msg'>[13:25:38] - Image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` was not found...</div>
<div class='progress-msg'>[13:25:38] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif`</div>
<div class='progress-msg'>[13:25:48] - <b>WARNING</b>: File https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5012 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:25:48] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif` by URL...</div>
<div class='progress-msg'>[13:25:48] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif`...</div>
<div class='progress-msg'>[13:25:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:25:48] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:25:48] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:25:48] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:25:48] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:25:48] <b>CREATED</b> `SQL Server 2012 FileTables, Text Files and Full-text Search` `Post` (ID: 961)</div>
<div class='progress-msg'>[13:25:48] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:25:48] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:25:48] ---</div>
<div class='progress-msg'>[13:25:48] Record #3</div>
<div class='progress-msg'>[13:25:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:25:48] Combine all data for post `SSIS 2012 Bug with Windows Group Permissions`...</div>
<div class='progress-msg'>[13:25:48] Find corresponding article among previously imported for post `SSIS 2012 Bug with Windows Group Permissions`...</div>
<div class='progress-msg'>[13:25:48] Duplicate post wasn't found with unique key `SSIS 2012 Bug with Windows Group Permissions - https://blogs.solidq.com/?p=20504`...</div>
<div class='progress-msg'>[13:25:48] Applying filter `pmxi_article_data` for `SSIS 2012 Bug with Windows Group Permissions`</div>
<div class='progress-msg'>[13:25:48] <b>CREATING</b> `SSIS 2012 Bug with Windows Group Permissions` `Post`</div>
<div class='progress-msg'>[13:25:48] Associate post `SSIS 2012 Bug with Windows Group Permissions` with current import ...</div>
<div class='progress-msg'>[13:25:48] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:25:48] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` by URL...</div>
<div class='progress-msg'>[13:25:48] - Image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` was not found...</div>
<div class='progress-msg'>[13:25:48] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif`</div>
<div class='progress-msg'>[13:25:58] - <b>WARNING</b>: File https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:25:58] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif` by URL...</div>
<div class='progress-msg'>[13:25:58] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif`...</div>
<div class='progress-msg'>[13:25:58] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:25:58] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:25:58] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:25:58] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:25:58] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:25:58] <b>CREATED</b> `SSIS 2012 Bug with Windows Group Permissions` `Post` (ID: 962)</div>
<div class='progress-msg'>[13:25:58] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:25:58] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:25:58] ---</div>
<div class='progress-msg'>[13:25:58] Record #4</div>
<div class='progress-msg'>[13:25:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:25:58] Combine all data for post `SSISDB Catalog Deep Dive at Bleeding Edge 2012`...</div>
<div class='progress-msg'>[13:25:58] Find corresponding article among previously imported for post `SSISDB Catalog Deep Dive at Bleeding Edge 2012`...</div>
<div class='progress-msg'>[13:25:58] Duplicate post wasn't found with unique key `SSISDB Catalog Deep Dive at Bleeding Edge 2012 - https://blogs.solidq.com/?p=20506`...</div>
<div class='progress-msg'>[13:25:58] Applying filter `pmxi_article_data` for `SSISDB Catalog Deep Dive at Bleeding Edge 2012`</div>
<div class='progress-msg'>[13:25:58] <b>CREATING</b> `SSISDB Catalog Deep Dive at Bleeding Edge 2012` `Post`</div>
<div class='progress-msg'>[13:25:58] Associate post `SSISDB Catalog Deep Dive at Bleeding Edge 2012` with current import ...</div>
<div class='progress-msg'>[13:25:58] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:25:58] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` by URL...</div>
<div class='progress-msg'>[13:25:58] - Image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` was not found...</div>
<div class='progress-msg'>[13:25:58] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif`</div>
<div class='progress-msg'>[13:26:08] - <b>WARNING</b>: File https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5004 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:26:08] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif` by URL...</div>
<div class='progress-msg'>[13:26:08] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif`...</div>
<div class='progress-msg'>[13:26:08] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:26:08] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:26:08] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:26:08] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:26:08] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:26:08] <b>CREATED</b> `SSISDB Catalog Deep Dive at Bleeding Edge 2012` `Post` (ID: 963)</div>
<div class='progress-msg'>[13:26:08] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:26:08] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:26:08] ---</div>
<div class='progress-msg'>[13:26:08] Record #5</div>
<div class='progress-msg'>[13:26:08] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:26:08] Combine all data for post `SQL Server 2012: Migrating BLOBs to FILETABLEs (MVP Mondays)`...</div>
<div class='progress-msg'>[13:26:08] Find corresponding article among previously imported for post `SQL Server 2012: Migrating BLOBs to FILETABLEs (MVP Mondays)`...</div>
<div class='progress-msg'>[13:26:08] Duplicate post wasn't found with unique key `SQL Server 2012: Migrating BLOBs to FILETABLEs (MVP Mondays) - https://blogs.solidq.com/?p=20508`...</div>
<div class='progress-msg'>[13:26:08] Applying filter `pmxi_article_data` for `SQL Server 2012: Migrating BLOBs to FILETABLEs (MVP Mondays)`</div>
<div class='progress-msg'>[13:26:08] <b>CREATING</b> `SQL Server 2012: Migrating BLOBs to FILETABLEs (MVP Mondays)` `Post`</div>
<div class='progress-msg'>[13:26:08] Associate post `SQL Server 2012: Migrating BLOBs to FILETABLEs (MVP Mondays)` with current import ...</div>
<div class='progress-msg'>[13:26:08] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:26:08] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` by URL...</div>
<div class='progress-msg'>[13:26:08] - Image `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif` was not found...</div>
<div class='progress-msg'>[13:26:08] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif`</div>
<div class='progress-msg'>[13:26:18] - <b>WARNING</b>: File https://blogs.solidq.com/wp-content/uploads/sites/7/2014/02/snapssnippetsdyil2auoc8za.gif can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5015 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:26:18] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif` by URL...</div>
<div class='progress-msg'>[13:26:19] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2014/02/snapssnippetsdywkr-u9nhcs.gif`...</div>
<div class='progress-msg'>[13:26:19] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:26:19] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:26:19] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:26:19] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:26:19] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:26:19] <b>CREATED</b> `SQL Server 2012: Migrating BLOBs to FILETABLEs (MVP Mondays)` `Post` (ID: 964)</div>
<div class='progress-msg'>[13:26:19] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:26:19] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:26:19] Cleaning temporary data...</div>
