<div class='progress-msg'>Mon, 28 Sep 2020 13:11:47 +0000</div>
<div class='progress-msg'>[13:11:47] Composing titles...</div>
<div class='progress-msg'>[13:11:47] Composing excerpts...</div>
<div class='progress-msg'>[13:11:47] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:11:47] Composing authors...</div>
<div class='progress-msg'>[13:11:47] Composing slugs...</div>
<div class='progress-msg'>[13:11:47] Composing menu order...</div>
<div class='progress-msg'>[13:11:47] Composing contents...</div>
<div class='progress-msg'>[13:11:47] Composing dates...</div>
<div class='progress-msg'>[13:11:47] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:11:47] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:11:47] Composing custom parameters...</div>
<div class='progress-msg'>[13:11:47] Composing URLs for images...</div>
<div class='progress-msg'>[13:11:47] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:11:47] Composing post comments...</div>
<div class='progress-msg'>[13:11:47] Composing unique keys...</div>
<div class='progress-msg'>[13:11:47] Processing posts...</div>
<div class='progress-msg'>[13:11:47] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:11:47] ---</div>
<div class='progress-msg'>[13:11:47] Record #1</div>
<div class='progress-msg'>[13:11:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:11:47] Combine all data for post `SQL Server Agent Wrap-Up`...</div>
<div class='progress-msg'>[13:11:47] Find corresponding article among previously imported for post `SQL Server Agent Wrap-Up`...</div>
<div class='progress-msg'>[13:11:47] Duplicate post wasn't found with unique key `SQL Server Agent Wrap-Up - http://www.solidq.com/?p=2118`...</div>
<div class='progress-msg'>[13:11:47] Applying filter `pmxi_article_data` for `SQL Server Agent Wrap-Up`</div>
<div class='progress-msg'>[13:11:47] <b>CREATING</b> `SQL Server Agent Wrap-Up` `Post`</div>
<div class='progress-msg'>[13:11:47] Associate post `SQL Server Agent Wrap-Up` with current import ...</div>
<div class='progress-msg'>[13:11:47] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:11:47] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/sqlsawuf4.jpg` by URL...</div>
<div class='progress-msg'>[13:11:47] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/sqlsawuf4.jpg` was not found...</div>
<div class='progress-msg'>[13:11:47] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/sqlsawuf4.jpg`</div>
<div class='progress-msg'>[13:11:53] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/sqlsawuf4.jpg can not be downloaded, response </div>
<div class='progress-msg'>[13:11:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:11:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:11:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:11:53] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:11:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:11:53] <b>CREATED</b> `SQL Server Agent Wrap-Up` `Post` (ID: 879)</div>
<div class='progress-msg'>[13:11:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:11:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:11:53] Cleaning temporary data...</div>
