<div class='progress-msg'>Mon, 28 Sep 2020 13:04:22 +0000</div>
<div class='progress-msg'>[13:04:22] Composing titles...</div>
<div class='progress-msg'>[13:04:22] Composing excerpts...</div>
<div class='progress-msg'>[13:04:22] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:04:22] Composing authors...</div>
<div class='progress-msg'>[13:04:22] Composing slugs...</div>
<div class='progress-msg'>[13:04:22] Composing menu order...</div>
<div class='progress-msg'>[13:04:22] Composing contents...</div>
<div class='progress-msg'>[13:04:22] Composing dates...</div>
<div class='progress-msg'>[13:04:22] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:04:22] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:04:22] Composing custom parameters...</div>
<div class='progress-msg'>[13:04:22] Composing URLs for images...</div>
<div class='progress-msg'>[13:04:22] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:04:22] Composing post comments...</div>
<div class='progress-msg'>[13:04:22] Composing unique keys...</div>
<div class='progress-msg'>[13:04:22] Processing posts...</div>
<div class='progress-msg'>[13:04:22] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:04:22] ---</div>
<div class='progress-msg'>[13:04:22] Record #1</div>
<div class='progress-msg'>[13:04:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:04:22] Combine all data for post `Hammers, Nails, and PowerShell`...</div>
<div class='progress-msg'>[13:04:22] Find corresponding article among previously imported for post `Hammers, Nails, and PowerShell`...</div>
<div class='progress-msg'>[13:04:22] Duplicate post wasn't found with unique key `Hammers, Nails, and PowerShell - http://www.solidq.com/?p=1524`...</div>
<div class='progress-msg'>[13:04:22] Applying filter `pmxi_article_data` for `Hammers, Nails, and PowerShell`</div>
<div class='progress-msg'>[13:04:22] <b>CREATING</b> `Hammers, Nails, and PowerShell` `Post`</div>
<div class='progress-msg'>[13:04:22] Associate post `Hammers, Nails, and PowerShell` with current import ...</div>
<div class='progress-msg'>[13:04:22] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:04:22] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Table-1.-Supported-Folders-for-the-SQL-Server-Provider.png` by URL...</div>
<div class='progress-msg'>[13:04:22] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Table-1.-Supported-Folders-for-the-SQL-Server-Provider.png` was not found...</div>
<div class='progress-msg'>[13:04:22] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Table-1.-Supported-Folders-for-the-SQL-Server-Provider.png`</div>
<div class='progress-msg'>[13:04:28] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Table-1.-Supported-Folders-for-the-SQL-Server-Provider.png can not be downloaded, response </div>
<div class='progress-msg'>[13:04:28] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Table-2.-Cmdlets-implemented-by-Cmdlets-Snap-in.png` by URL...</div>
<div class='progress-msg'>[13:04:28] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Table-2.-Cmdlets-implemented-by-Cmdlets-Snap-in.png` was not found...</div>
<div class='progress-msg'>[13:04:28] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Table-2.-Cmdlets-implemented-by-Cmdlets-Snap-in.png`</div>
<div class='progress-msg'>[13:04:38] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Table-2.-Cmdlets-implemented-by-Cmdlets-Snap-in.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:04:38] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-1.-Opening-PowerShell-from-SSMSs-context.jpg` by URL...</div>
<div class='progress-msg'>[13:04:38] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-1.-Opening-PowerShell-from-SSMSs-context.jpg` was not found...</div>
<div class='progress-msg'>[13:04:38] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-1.-Opening-PowerShell-from-SSMSs-context.jpg`</div>
<div class='progress-msg'>[13:04:48] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-1.-Opening-PowerShell-from-SSMSs-context.jpg can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5009 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:04:48] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-2.-Using-cmdlet-aliases-to-navigate-SQL-Servers-object-model.jpg` by URL...</div>
<div class='progress-msg'>[13:04:48] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-2.-Using-cmdlet-aliases-to-navigate-SQL-Servers-object-model.jpg` was not found...</div>
<div class='progress-msg'>[13:04:48] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-2.-Using-cmdlet-aliases-to-navigate-SQL-Servers-object-model.jpg`</div>
<div class='progress-msg'>[13:04:58] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-2.-Using-cmdlet-aliases-to-navigate-SQL-Servers-object-model.jpg can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:04:58] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-3.-Getting-a-list-of-the-Agent-jobs-that-failed.jpg` by URL...</div>
<div class='progress-msg'>[13:04:58] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-3.-Getting-a-list-of-the-Agent-jobs-that-failed.jpg` was not found...</div>
<div class='progress-msg'>[13:04:58] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-3.-Getting-a-list-of-the-Agent-jobs-that-failed.jpg`</div>
<div class='progress-msg'>[13:05:08] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2010/07/Figure-3.-Getting-a-list-of-the-Agent-jobs-that-failed.jpg can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5015 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:05:08] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:05:08] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:05:08] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:05:08] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:05:08] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:05:08] <b>CREATED</b> `Hammers, Nails, and PowerShell` `Post` (ID: 871)</div>
<div class='progress-msg'>[13:05:08] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:05:08] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:05:08] ---</div>
<div class='progress-msg'>[13:05:08] Record #2</div>
<div class='progress-msg'>[13:05:08] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:05:08] Combine all data for post `Reporting and Automation with Excel - Part 1`...</div>
<div class='progress-msg'>[13:05:08] Find corresponding article among previously imported for post `Reporting and Automation with Excel - Part 1`...</div>
<div class='progress-msg'>[13:05:08] Duplicate post wasn't found with unique key `Reporting and Automation with Excel - Part 1 - http://www.solidq.com/?p=1613`...</div>
<div class='progress-msg'>[13:05:08] Applying filter `pmxi_article_data` for `Reporting and Automation with Excel - Part 1`</div>
<div class='progress-msg'>[13:05:08] <b>CREATING</b> `Reporting and Automation with Excel - Part 1` `Post`</div>
<div class='progress-msg'>[13:05:08] Associate post `Reporting and Automation with Excel - Part 1` with current import ...</div>
<div class='progress-msg'>[13:05:08] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:05:08] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel-new-object-comobject-excel.application.png` by URL...</div>
<div class='progress-msg'>[13:05:08] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel-new-object-comobject-excel.application.png` was not found...</div>
<div class='progress-msg'>[13:05:08] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel-new-object-comobject-excel.application.png`</div>
<div class='progress-msg'>[13:05:19] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel-new-object-comobject-excel.application.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5015 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:05:19] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/WorkBook-Excel.WorkBooks.Add_.png` by URL...</div>
<div class='progress-msg'>[13:05:19] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/WorkBook-Excel.WorkBooks.Add_.png` was not found...</div>
<div class='progress-msg'>[13:05:19] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/WorkBook-Excel.WorkBooks.Add_.png`</div>
<div class='progress-msg'>[13:05:29] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/WorkBook-Excel.WorkBooks.Add_.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:05:29] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-Code-to-work-around-the-automation-bug-in-Excel.png` by URL...</div>
<div class='progress-msg'>[13:05:29] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-Code-to-work-around-the-automation-bug-in-Excel.png` was not found...</div>
<div class='progress-msg'>[13:05:29] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-Code-to-work-around-the-automation-bug-in-Excel.png`</div>
<div class='progress-msg'>[13:05:39] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-Code-to-work-around-the-automation-bug-in-Excel.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5013 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:05:39] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/WorkBook.Worksheets.Item1_.Name-MySheet.png` by URL...</div>
<div class='progress-msg'>[13:05:39] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/WorkBook.Worksheets.Item1_.Name-MySheet.png` was not found...</div>
<div class='progress-msg'>[13:05:39] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/WorkBook.Worksheets.Item1_.Name-MySheet.png`</div>
<div class='progress-msg'>[13:05:49] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/WorkBook.Worksheets.Item1_.Name-MySheet.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5008 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:05:49] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-2-Code-to-add-data-to-the-worksheet.png` by URL...</div>
<div class='progress-msg'>[13:05:49] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-2-Code-to-add-data-to-the-worksheet.png` was not found...</div>
<div class='progress-msg'>[13:05:49] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-2-Code-to-add-data-to-the-worksheet.png`</div>
<div class='progress-msg'>[13:05:59] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-2-Code-to-add-data-to-the-worksheet.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:05:59] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Result-of-the-code-that-added-data-to-the-worksheet.png` by URL...</div>
<div class='progress-msg'>[13:05:59] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Result-of-the-code-that-added-data-to-the-worksheet.png` was not found...</div>
<div class='progress-msg'>[13:05:59] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Result-of-the-code-that-added-data-to-the-worksheet.png`</div>
<div class='progress-msg'>[13:06:09] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Result-of-the-code-that-added-data-to-the-worksheet.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5009 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:06:09] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Range-WorkSheet.Range_.png` by URL...</div>
<div class='progress-msg'>[13:06:09] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Range-WorkSheet.Range_.png` was not found...</div>
<div class='progress-msg'>[13:06:09] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Range-WorkSheet.Range_.png`</div>
<div class='progress-msg'>[13:06:19] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Range-WorkSheet.Range_.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5010 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:06:19] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-3-Code-to-change-the-size-and-add-dotted-borderlines.png` by URL...</div>
<div class='progress-msg'>[13:06:19] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-3-Code-to-change-the-size-and-add-dotted-borderlines.png` was not found...</div>
<div class='progress-msg'>[13:06:19] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-3-Code-to-change-the-size-and-add-dotted-borderlines.png`</div>
<div class='progress-msg'>[13:06:29] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-3-Code-to-change-the-size-and-add-dotted-borderlines.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5002 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:06:29] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/Listing-4-Code-to-add-a-thicker-border.png` by URL...</div>
<div class='progress-msg'>[13:06:29] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/Listing-4-Code-to-add-a-thicker-border.png`...</div>
<div class='progress-msg'>[13:06:29] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/Figure-2-Results-of-the-data-manipulation-commands.png` by URL...</div>
<div class='progress-msg'>[13:06:29] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/Figure-2-Results-of-the-data-manipulation-commands.png`...</div>
<div class='progress-msg'>[13:06:29] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-5-Code-to-clear-the-borderlines-and-add-a-ListObject-object.png` by URL...</div>
<div class='progress-msg'>[13:06:29] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-5-Code-to-clear-the-borderlines-and-add-a-ListObject-object.png` was not found...</div>
<div class='progress-msg'>[13:06:29] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-5-Code-to-clear-the-borderlines-and-add-a-ListObject-object.png`</div>
<div class='progress-msg'>[13:06:40] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-5-Code-to-clear-the-borderlines-and-add-a-ListObject-object.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:06:40] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/ListObject.TableStyle-TableStyleMedium9.png` by URL...</div>
<div class='progress-msg'>[13:06:40] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/ListObject.TableStyle-TableStyleMedium9.png` was not found...</div>
<div class='progress-msg'>[13:06:40] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/ListObject.TableStyle-TableStyleMedium9.png`</div>
<div class='progress-msg'>[13:06:40] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/ListObject.TableStyle-TableStyleMedium9.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:40] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Results-of-the-commands-that-applied-a-preset-style.png` by URL...</div>
<div class='progress-msg'>[13:06:40] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Results-of-the-commands-that-applied-a-preset-style.png` was not found...</div>
<div class='progress-msg'>[13:06:40] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Results-of-the-commands-that-applied-a-preset-style.png`</div>
<div class='progress-msg'>[13:06:40] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Results-of-the-commands-that-applied-a-preset-style.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:40] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel.DisplayAlerts-false.png` by URL...</div>
<div class='progress-msg'>[13:06:40] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel.DisplayAlerts-false.png` was not found...</div>
<div class='progress-msg'>[13:06:40] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel.DisplayAlerts-false.png`</div>
<div class='progress-msg'>[13:06:40] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel.DisplayAlerts-false.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:40] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-6-Code-to-quit-Excel-and-do-some-cleanup.png` by URL...</div>
<div class='progress-msg'>[13:06:40] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-6-Code-to-quit-Excel-and-do-some-cleanup.png` was not found...</div>
<div class='progress-msg'>[13:06:40] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-6-Code-to-quit-Excel-and-do-some-cleanup.png`</div>
<div class='progress-msg'>[13:06:40] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-6-Code-to-quit-Excel-and-do-some-cleanup.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:40] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/param-.png` by URL...</div>
<div class='progress-msg'>[13:06:40] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/param-.png` was not found...</div>
<div class='progress-msg'>[13:06:40] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/param-.png`</div>
<div class='progress-msg'>[13:06:45] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/param-.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:45] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-7-Code-to-add-the-library-of-common-functions.png` by URL...</div>
<div class='progress-msg'>[13:06:45] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-7-Code-to-add-the-library-of-common-functions.png` was not found...</div>
<div class='progress-msg'>[13:06:45] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-7-Code-to-add-the-library-of-common-functions.png`</div>
<div class='progress-msg'>[13:06:46] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-7-Code-to-add-the-library-of-common-functions.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:46] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-8-Code-to-query-the-Win32_Volume-class-and-populate-a-worksheet-with-the-returned-data.png` by URL...</div>
<div class='progress-msg'>[13:06:46] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-8-Code-to-query-the-Win32_Volume-class-and-populate-a-worksheet-with-the-returned-data.png` was not found...</div>
<div class='progress-msg'>[13:06:46] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-8-Code-to-query-the-Win32_Volume-class-and-populate-a-worksheet-with-the-returned-data.png`</div>
<div class='progress-msg'>[13:06:46] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-8-Code-to-query-the-Win32_Volume-class-and-populate-a-worksheet-with-the-returned-data.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:46] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/function-Excel-PrettifyWorkSheetWorkSheet.png` by URL...</div>
<div class='progress-msg'>[13:06:46] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/function-Excel-PrettifyWorkSheetWorkSheet.png` was not found...</div>
<div class='progress-msg'>[13:06:46] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/function-Excel-PrettifyWorkSheetWorkSheet.png`</div>
<div class='progress-msg'>[13:06:46] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/function-Excel-PrettifyWorkSheetWorkSheet.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:46] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel-Excel-Init.png` by URL...</div>
<div class='progress-msg'>[13:06:46] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel-Excel-Init.png` was not found...</div>
<div class='progress-msg'>[13:06:46] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel-Excel-Init.png`</div>
<div class='progress-msg'>[13:06:46] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Excel-Excel-Init.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:46] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Results-of-the-script-that-gathers-WMI-data.png` by URL...</div>
<div class='progress-msg'>[13:06:46] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Results-of-the-script-that-gathers-WMI-data.png` was not found...</div>
<div class='progress-msg'>[13:06:46] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Results-of-the-script-that-gathers-WMI-data.png`</div>
<div class='progress-msg'>[13:06:46] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Results-of-the-script-that-gathers-WMI-data.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:46] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:06:46] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:06:46] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:06:46] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:06:46] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:06:46] <b>CREATED</b> `Reporting and Automation with Excel - Part 1` `Post` (ID: 872)</div>
<div class='progress-msg'>[13:06:46] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:06:46] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:06:46] ---</div>
<div class='progress-msg'>[13:06:46] Record #3</div>
<div class='progress-msg'>[13:06:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:06:46] Combine all data for post `Logging with SQL Server Agent`...</div>
<div class='progress-msg'>[13:06:46] Find corresponding article among previously imported for post `Logging with SQL Server Agent`...</div>
<div class='progress-msg'>[13:06:46] Duplicate post wasn't found with unique key `Logging with SQL Server Agent - http://www.solidq.com/?p=2136`...</div>
<div class='progress-msg'>[13:06:46] Applying filter `pmxi_article_data` for `Logging with SQL Server Agent`</div>
<div class='progress-msg'>[13:06:46] <b>CREATING</b> `Logging with SQL Server Agent` `Post`</div>
<div class='progress-msg'>[13:06:46] Associate post `Logging with SQL Server Agent` with current import ...</div>
<div class='progress-msg'>[13:06:46] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:06:46] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Output-file-logging-with-sql-server-agent.png` by URL...</div>
<div class='progress-msg'>[13:06:46] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Output-file-logging-with-sql-server-agent.png` was not found...</div>
<div class='progress-msg'>[13:06:46] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Output-file-logging-with-sql-server-agent.png`</div>
<div class='progress-msg'>[13:06:52] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Output-file-logging-with-sql-server-agent.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:06:52] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-logging-with-sql-server-agent.png` by URL...</div>
<div class='progress-msg'>[13:06:52] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-logging-with-sql-server-agent.png` was not found...</div>
<div class='progress-msg'>[13:06:52] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-logging-with-sql-server-agent.png`</div>
<div class='progress-msg'>[13:06:52] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-logging-with-sql-server-agent.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:52] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/snip2-lgwsqsa1.jpg` by URL...</div>
<div class='progress-msg'>[13:06:52] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/snip2-lgwsqsa1.jpg` was not found...</div>
<div class='progress-msg'>[13:06:52] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/snip2-lgwsqsa1.jpg`</div>
<div class='progress-msg'>[13:06:52] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/snip2-lgwsqsa1.jpg can not be downloaded, response </div>
<div class='progress-msg'>[13:06:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:06:52] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:06:52] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:06:52] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:06:52] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:06:52] <b>CREATED</b> `Logging with SQL Server Agent` `Post` (ID: 873)</div>
<div class='progress-msg'>[13:06:52] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:06:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:06:52] ---</div>
<div class='progress-msg'>[13:06:52] Record #4</div>
<div class='progress-msg'>[13:06:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:06:52] Combine all data for post `Agent Jobs Reporting`...</div>
<div class='progress-msg'>[13:06:52] Find corresponding article among previously imported for post `Agent Jobs Reporting`...</div>
<div class='progress-msg'>[13:06:52] Duplicate post wasn't found with unique key `Agent Jobs Reporting - http://www.solidq.com/?p=2152`...</div>
<div class='progress-msg'>[13:06:52] Applying filter `pmxi_article_data` for `Agent Jobs Reporting`</div>
<div class='progress-msg'>[13:06:52] <b>CREATING</b> `Agent Jobs Reporting` `Post`</div>
<div class='progress-msg'>[13:06:52] Associate post `Agent Jobs Reporting` with current import ...</div>
<div class='progress-msg'>[13:06:52] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:06:52] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-1.png` by URL...</div>
<div class='progress-msg'>[13:06:52] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-1.png` was not found...</div>
<div class='progress-msg'>[13:06:52] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-1.png`</div>
<div class='progress-msg'>[13:06:52] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-1.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:52] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-2.png` by URL...</div>
<div class='progress-msg'>[13:06:52] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-2.png` was not found...</div>
<div class='progress-msg'>[13:06:52] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-2.png`</div>
<div class='progress-msg'>[13:06:52] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-2.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:52] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-3.png` by URL...</div>
<div class='progress-msg'>[13:06:52] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-3.png` was not found...</div>
<div class='progress-msg'>[13:06:52] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-3.png`</div>
<div class='progress-msg'>[13:06:58] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-3.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:58] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-4.png` by URL...</div>
<div class='progress-msg'>[13:06:58] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-4.png` was not found...</div>
<div class='progress-msg'>[13:06:58] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-4.png`</div>
<div class='progress-msg'>[13:06:58] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-4.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:58] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-5.png` by URL...</div>
<div class='progress-msg'>[13:06:58] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-5.png` was not found...</div>
<div class='progress-msg'>[13:06:58] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-5.png`</div>
<div class='progress-msg'>[13:06:58] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-5.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:58] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-6.png` by URL...</div>
<div class='progress-msg'>[13:06:58] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-6.png` was not found...</div>
<div class='progress-msg'>[13:06:58] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-6.png`</div>
<div class='progress-msg'>[13:06:58] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-6.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:58] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-7.png` by URL...</div>
<div class='progress-msg'>[13:06:58] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-7.png` was not found...</div>
<div class='progress-msg'>[13:06:58] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-7.png`</div>
<div class='progress-msg'>[13:06:58] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-7.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:58] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-8.png` by URL...</div>
<div class='progress-msg'>[13:06:58] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-8.png` was not found...</div>
<div class='progress-msg'>[13:06:58] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-8.png`</div>
<div class='progress-msg'>[13:06:58] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-8.png can not be downloaded, response </div>
<div class='progress-msg'>[13:06:58] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-9.png` by URL...</div>
<div class='progress-msg'>[13:06:58] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-9.png` was not found...</div>
<div class='progress-msg'>[13:06:58] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-9.png`</div>
<div class='progress-msg'>[13:07:04] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112405AJR-9.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:04] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:07:04] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:07:04] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:07:04] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:07:04] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:07:04] <b>CREATED</b> `Agent Jobs Reporting` `Post` (ID: 874)</div>
<div class='progress-msg'>[13:07:04] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:07:04] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:07:04] ---</div>
<div class='progress-msg'>[13:07:04] Record #5</div>
<div class='progress-msg'>[13:07:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:07:04] Combine all data for post `Automating databases migration`...</div>
<div class='progress-msg'>[13:07:04] Find corresponding article among previously imported for post `Automating databases migration`...</div>
<div class='progress-msg'>[13:07:04] Duplicate post wasn't found with unique key `Automating databases migration - http://www.solidq.com/?p=2175`...</div>
<div class='progress-msg'>[13:07:04] Applying filter `pmxi_article_data` for `Automating databases migration`</div>
<div class='progress-msg'>[13:07:04] <b>CREATING</b> `Automating databases migration` `Post`</div>
<div class='progress-msg'>[13:07:04] Associate post `Automating databases migration` with current import ...</div>
<div class='progress-msg'>[13:07:04] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:07:04] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-1.png` by URL...</div>
<div class='progress-msg'>[13:07:04] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-1.png` was not found...</div>
<div class='progress-msg'>[13:07:04] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-1.png`</div>
<div class='progress-msg'>[13:07:04] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-1.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:04] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-2.png` by URL...</div>
<div class='progress-msg'>[13:07:04] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-2.png` was not found...</div>
<div class='progress-msg'>[13:07:04] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-2.png`</div>
<div class='progress-msg'>[13:07:04] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-2.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:04] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-3.png` by URL...</div>
<div class='progress-msg'>[13:07:04] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-3.png` was not found...</div>
<div class='progress-msg'>[13:07:04] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-3.png`</div>
<div class='progress-msg'>[13:07:04] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-3.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:04] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-4.png` by URL...</div>
<div class='progress-msg'>[13:07:04] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-4.png` was not found...</div>
<div class='progress-msg'>[13:07:04] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-4.png`</div>
<div class='progress-msg'>[13:07:04] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-4.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:04] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-5.png` by URL...</div>
<div class='progress-msg'>[13:07:04] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-5.png` was not found...</div>
<div class='progress-msg'>[13:07:04] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-5.png`</div>
<div class='progress-msg'>[13:07:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-5.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-6.png` by URL...</div>
<div class='progress-msg'>[13:07:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-6.png` was not found...</div>
<div class='progress-msg'>[13:07:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-6.png`</div>
<div class='progress-msg'>[13:07:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-6.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-7.png` by URL...</div>
<div class='progress-msg'>[13:07:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-7.png` was not found...</div>
<div class='progress-msg'>[13:07:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-7.png`</div>
<div class='progress-msg'>[13:07:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-7.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-8.png` by URL...</div>
<div class='progress-msg'>[13:07:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-8.png` was not found...</div>
<div class='progress-msg'>[13:07:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-8.png`</div>
<div class='progress-msg'>[13:07:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-8.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-9.png` by URL...</div>
<div class='progress-msg'>[13:07:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-9.png` was not found...</div>
<div class='progress-msg'>[13:07:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-9.png`</div>
<div class='progress-msg'>[13:07:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-9.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-10.png` by URL...</div>
<div class='progress-msg'>[13:07:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-10.png` was not found...</div>
<div class='progress-msg'>[13:07:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-10.png`</div>
<div class='progress-msg'>[13:07:10] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-10.png can not be downloaded, response </div>
<div class='progress-msg'>[13:07:10] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-11.png` by URL...</div>
<div class='progress-msg'>[13:07:10] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-11.png` was not found...</div>
<div class='progress-msg'>[13:07:10] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-11.png`</div>
<div class='progress-msg'>[13:07:16] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/20112902adm-11.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:07:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:07:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:07:16] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:07:16] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:07:16] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:07:16] <b>CREATED</b> `Automating databases migration` `Post` (ID: 875)</div>
<div class='progress-msg'>[13:07:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:07:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:07:16] ---</div>
<div class='progress-msg'>[13:07:16] Record #6</div>
<div class='progress-msg'>[13:07:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:07:16] Combine all data for post `Repetir encabezado de fila en todas las páginas (SQL Server Reporting Services)`...</div>
<div class='progress-msg'>[13:07:16] Find corresponding article among previously imported for post `Repetir encabezado de fila en todas las páginas (SQL Server Reporting Services)`...</div>
<div class='progress-msg'>[13:07:16] Duplicate post wasn't found with unique key `Repetir encabezado de fila en todas las páginas (SQL Server Reporting Services) - http://solidqblogs.azurewebsites.net/novedades/repetir-encabezado-de-fila-en-todas-las-paginas-sql-server-reporting-services/`...</div>
<div class='progress-msg'>[13:07:16] Applying filter `pmxi_article_data` for `Repetir encabezado de fila en todas las páginas (SQL Server Reporting Services)`</div>
<div class='progress-msg'>[13:07:16] <b>CREATING</b> `Repetir encabezado de fila en todas las páginas (SQL Server Reporting Services)` `Post`</div>
<div class='progress-msg'>[13:07:16] Associate post `Repetir encabezado de fila en todas las páginas (SQL Server Reporting Services)` with current import ...</div>
<div class='progress-msg'>[13:07:16] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image002_thumb_5E8616B1.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image002_thumb_5E8616B1.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image004_thumb_5E8616B1.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image004_thumb_5E8616B1.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image006_thumb_0C73696A.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image006_thumb_0C73696A.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image008_thumb_0C73696A.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image008_thumb_0C73696A.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image010_thumb_0C73696A.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image010_thumb_0C73696A.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image012_thumb_0C73696A.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image012_thumb_0C73696A.jpg`...</div>
<div class='progress-msg'>[13:07:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:07:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:07:16] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:07:16] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:07:16] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:07:16] <b>CREATED</b> `Repetir encabezado de fila en todas las páginas (SQL Server Reporting Services)` `Post` (ID: 876)</div>
<div class='progress-msg'>[13:07:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:07:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:07:16] ---</div>
<div class='progress-msg'>[13:07:16] Record #7</div>
<div class='progress-msg'>[13:07:16] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:07:16] Combine all data for post `Reporting Services (SSRS) y las tipografías Open Type`...</div>
<div class='progress-msg'>[13:07:16] Find corresponding article among previously imported for post `Reporting Services (SSRS) y las tipografías Open Type`...</div>
<div class='progress-msg'>[13:07:16] Duplicate post wasn't found with unique key `Reporting Services (SSRS) y las tipografías Open Type - http://solidqblogs.azurewebsites.net/novedades/reporting-services-ssrs-y-las-tipografias-open-type/`...</div>
<div class='progress-msg'>[13:07:16] Applying filter `pmxi_article_data` for `Reporting Services (SSRS) y las tipografías Open Type`</div>
<div class='progress-msg'>[13:07:16] <b>CREATING</b> `Reporting Services (SSRS) y las tipografías Open Type` `Post`</div>
<div class='progress-msg'>[13:07:16] Associate post `Reporting Services (SSRS) y las tipografías Open Type` with current import ...</div>
<div class='progress-msg'>[13:07:16] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image002_thumb_18EC12D2.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image002_thumb_18EC12D2.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image004_thumb_18EC12D2.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image004_thumb_18EC12D2.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image006_thumb_46D9658A.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image006_thumb_46D9658A.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image008_thumb_46D9658A.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image008_thumb_46D9658A.jpg`...</div>
<div class='progress-msg'>[13:07:16] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image010_thumb_46D9658A.jpg` by URL...</div>
<div class='progress-msg'>[13:07:16] - Existing image was found for post content `https://blogs.solidq.com/wp-content/uploads/2015/08/clip_image010_thumb_46D9658A.jpg`...</div>
<div class='progress-msg'>[13:07:16] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:07:16] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:07:16] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:07:16] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:07:16] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:07:16] <b>CREATED</b> `Reporting Services (SSRS) y las tipografías Open Type` `Post` (ID: 877)</div>
<div class='progress-msg'>[13:07:16] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:07:16] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:07:16] Cleaning temporary data...</div>
