<div class='progress-msg'>Mon, 28 Sep 2020 13:14:15 +0000</div>
<div class='progress-msg'>[13:14:15] Composing titles...</div>
<div class='progress-msg'>[13:14:15] Composing excerpts...</div>
<div class='progress-msg'>[13:14:15] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:14:15] Composing authors...</div>
<div class='progress-msg'>[13:14:15] Composing slugs...</div>
<div class='progress-msg'>[13:14:15] Composing menu order...</div>
<div class='progress-msg'>[13:14:15] Composing contents...</div>
<div class='progress-msg'>[13:14:15] Composing dates...</div>
<div class='progress-msg'>[13:14:15] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:14:15] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:14:15] Composing custom parameters...</div>
<div class='progress-msg'>[13:14:15] Composing URLs for images...</div>
<div class='progress-msg'>[13:14:15] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:14:15] Composing post comments...</div>
<div class='progress-msg'>[13:14:15] Composing unique keys...</div>
<div class='progress-msg'>[13:14:15] Processing posts...</div>
<div class='progress-msg'>[13:14:15] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:14:15] ---</div>
<div class='progress-msg'>[13:14:15] Record #1</div>
<div class='progress-msg'>[13:14:15] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:14:15] Combine all data for post `Tracing Query Performance with Extended Events`...</div>
<div class='progress-msg'>[13:14:15] Find corresponding article among previously imported for post `Tracing Query Performance with Extended Events`...</div>
<div class='progress-msg'>[13:14:15] Duplicate post wasn't found with unique key `Tracing Query Performance with Extended Events - https://blogs.solidq.com/?p=19009`...</div>
<div class='progress-msg'>[13:14:15] Applying filter `pmxi_article_data` for `Tracing Query Performance with Extended Events`</div>
<div class='progress-msg'>[13:14:15] <b>CREATING</b> `Tracing Query Performance with Extended Events` `Post`</div>
<div class='progress-msg'>[13:14:15] Associate post `Tracing Query Performance with Extended Events` with current import ...</div>
<div class='progress-msg'>[13:14:15] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:14:15] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-1.-Query-Performance-Info.png` by URL...</div>
<div class='progress-msg'>[13:14:15] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-1.-Query-Performance-Info.png` was not found...</div>
<div class='progress-msg'>[13:14:15] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-1.-Query-Performance-Info.png`</div>
<div class='progress-msg'>[13:14:21] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-1.-Query-Performance-Info.png can not be downloaded, response </div>
<div class='progress-msg'>[13:14:21] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-2.-Running-Total-Percentages-by-Query-Hash.png` by URL...</div>
<div class='progress-msg'>[13:14:21] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-2.-Running-Total-Percentages-by-Query-Hash.png` was not found...</div>
<div class='progress-msg'>[13:14:21] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-2.-Running-Total-Percentages-by-Query-Hash.png`</div>
<div class='progress-msg'>[13:14:32] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-2.-Running-Total-Percentages-by-Query-Hash.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:14:40] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-1.-Query-Performance-Info1-300x277.png` by URL...</div>
<div class='progress-msg'>[13:14:40] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-1.-Query-Performance-Info1-300x277.png` was not found...</div>
<div class='progress-msg'>[13:14:40] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-1.-Query-Performance-Info1-300x277.png`</div>
<div class='progress-msg'>[13:14:50] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Table-1.-Query-Performance-Info1-300x277.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:14:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:14:50] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:14:50] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:14:50] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:14:50] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:14:50] <b>CREATED</b> `Tracing Query Performance with Extended Events` `Post` (ID: 880)</div>
<div class='progress-msg'>[13:14:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:14:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:14:50] ---</div>
<div class='progress-msg'>[13:14:50] Record #2</div>
<div class='progress-msg'>[13:14:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:14:50] Combine all data for post `String Replacement Puzzle`...</div>
<div class='progress-msg'>[13:14:50] Find corresponding article among previously imported for post `String Replacement Puzzle`...</div>
<div class='progress-msg'>[13:14:50] Duplicate post wasn't found with unique key `String Replacement Puzzle - https://blogs.solidq.com/?p=19974`...</div>
<div class='progress-msg'>[13:14:50] Applying filter `pmxi_article_data` for `String Replacement Puzzle`</div>
<div class='progress-msg'>[13:14:50] <b>CREATING</b> `String Replacement Puzzle` `Post`</div>
<div class='progress-msg'>[13:14:50] Associate post `String Replacement Puzzle` with current import ...</div>
<div class='progress-msg'>[13:14:50] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:14:50] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:14:50] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:14:50] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:14:50] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:14:50] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:14:50] <b>CREATED</b> `String Replacement Puzzle` `Post` (ID: 881)</div>
<div class='progress-msg'>[13:14:50] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:14:50] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:14:50] ---</div>
<div class='progress-msg'>[13:14:50] Record #3</div>
<div class='progress-msg'>[13:14:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:14:50] Combine all data for post `Packing Intervals`...</div>
<div class='progress-msg'>[13:14:50] Find corresponding article among previously imported for post `Packing Intervals`...</div>
<div class='progress-msg'>[13:14:50] Duplicate post wasn't found with unique key `Packing Intervals - https://blogs.solidq.com/?p=20112`...</div>
<div class='progress-msg'>[13:14:50] Applying filter `pmxi_article_data` for `Packing Intervals`</div>
<div class='progress-msg'>[13:14:50] <b>CREATING</b> `Packing Intervals` `Post`</div>
<div class='progress-msg'>[13:14:50] Associate post `Packing Intervals` with current import ...</div>
<div class='progress-msg'>[13:14:50] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:14:50] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2011/04/itzik-1.png` by URL...</div>
<div class='progress-msg'>[13:14:50] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/itzik-1.png` was not found...</div>
<div class='progress-msg'>[13:14:50] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2011/04/itzik-1.png`</div>
<div class='progress-msg'>[13:14:50] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/itzik-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:14:50] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/itzik-1.png`</div>
<div class='progress-msg'>[13:14:50] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2011/04/figure1packingintervals.png` by URL...</div>
<div class='progress-msg'>[13:14:50] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/figure1packingintervals.png` was not found...</div>
<div class='progress-msg'>[13:14:50] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2011/04/figure1packingintervals.png`</div>
<div class='progress-msg'>[13:14:50] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/figure1packingintervals.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:14:50] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/figure1packingintervals.png`</div>
<div class='progress-msg'>[13:14:51] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-2-Start-and-End-Events-Ordered.png` by URL...</div>
<div class='progress-msg'>[13:14:51] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-2-Start-and-End-Events-Ordered.png` was not found...</div>
<div class='progress-msg'>[13:14:51] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-2-Start-and-End-Events-Ordered.png`</div>
<div class='progress-msg'>[13:14:51] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-2-Start-and-End-Events-Ordered.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:14:51] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-2-Start-and-End-Events-Ordered.png`</div>
<div class='progress-msg'>[13:14:51] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2011/04/Table-2-Output-of-Code-in-Solution-1.png` by URL...</div>
<div class='progress-msg'>[13:14:51] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Table-2-Output-of-Code-in-Solution-1.png` was not found...</div>
<div class='progress-msg'>[13:14:51] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2011/04/Table-2-Output-of-Code-in-Solution-1.png`</div>
<div class='progress-msg'>[13:14:51] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Table-2-Output-of-Code-in-Solution-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:14:51] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Table-2-Output-of-Code-in-Solution-1.png`</div>
<div class='progress-msg'>[13:14:51] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2011/04/Table-3-Output-of-Code-in-Solution-1.png` by URL...</div>
<div class='progress-msg'>[13:14:51] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Table-3-Output-of-Code-in-Solution-1.png` was not found...</div>
<div class='progress-msg'>[13:14:51] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2011/04/Table-3-Output-of-Code-in-Solution-1.png`</div>
<div class='progress-msg'>[13:14:51] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Table-3-Output-of-Code-in-Solution-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:14:51] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Table-3-Output-of-Code-in-Solution-1.png`</div>
<div class='progress-msg'>[13:14:51] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-3-Plan-for-Solution-in-Listing-4.png` by URL...</div>
<div class='progress-msg'>[13:14:51] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-3-Plan-for-Solution-in-Listing-4.png` was not found...</div>
<div class='progress-msg'>[13:14:51] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-3-Plan-for-Solution-in-Listing-4.png`</div>
<div class='progress-msg'>[13:14:52] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-3-Plan-for-Solution-in-Listing-4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:14:52] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-3-Plan-for-Solution-in-Listing-4.png`</div>
<div class='progress-msg'>[13:14:52] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-4-Plan-for-Query-in-Listing-7-1.png` by URL...</div>
<div class='progress-msg'>[13:14:52] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-4-Plan-for-Query-in-Listing-7-1.png` was not found...</div>
<div class='progress-msg'>[13:14:52] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-4-Plan-for-Query-in-Listing-7-1.png`</div>
<div class='progress-msg'>[13:14:52] - Image `https://blogs.solidq.com/wp-content/uploads/2011/04/Figure-4-Plan-for-Query-in-Listing-7-1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:14:52] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-4-Plan-for-Query-in-Listing-7-1.png`</div>
<div class='progress-msg'>[13:14:52] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:14:52] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:14:52] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:14:52] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:14:52] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:14:52] <b>CREATED</b> `Packing Intervals` `Post` (ID: 882)</div>
<div class='progress-msg'>[13:14:52] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:14:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:14:52] Cleaning temporary data...</div>
