ul {
  padding-left: 20px;
  margin-bottom: 25px;
  li {
    margin-bottom: 5px;
  }
}

p.label {
  display: inline-block;
  color: $purple;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 12px;
  border: 1px solid $purple;
}

//Inputs
input, textarea, select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 15px;
  background: $white;
  border-radius: 5px;
  border: 0;
  @include tablet {
    margin-bottom: 20px;
  }
  @include placeholder {
    color: rgb(214, 210, 210);
  }
  &.inline {
    display: inline-block;
  }
  &.grey {
    background: #EFF2F6;
    @include placeholder {
      color: $black;
    }
  }
  &.grey-outline {
    border: 2px solid #EFF2F6;
  }
  &.purple-outline {
    border: 2px solid $purple;
  }
}
input[type="file"] {
  padding: 9px 15px;
}
select {
  padding-top: 9px;
  padding-bottom: 9px;
}

.custom-checkbox {
  margin-bottom: 10px;
  input[type="checkbox"] {
    width: auto;
    position: absolute;
    left: -9999px;
    & + label {
      position: relative;
      padding-left: 40px;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -4px;
        width: 25px;
        height: 25px;
      }
    }
    &[disabled] + label:after {
      content: '';
      position: absolute;
      left: 0;
      top: -4px;
      width: 25px;
      height: 25px;
      background: $greyBg;
      border-radius: 5px;
      z-index: 1000;
      opacity: 0.7;
    }
    &:not(:checked) + label:before {
      background: $greyBg;
      border: 7px solid $greyBg;
      border-radius: 5px;
      transition: all .2s;
    }
    &:checked + label:before {
      background: $purple;
      border: 7px solid $greyBg;
      border-radius: 5px;
      transition: all .2s;
    }
  }
}

//Slider nav
.slick-arrow {
  @include absoluteCenterY;
  width: 15px;
  cursor: pointer;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}

//Navbar hamburger
.navbar-toggler {
  border: 0;
  padding-right: 0px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: $white;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  -o-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.collapse:not(.show) {
  display: none !important;
}

//Loading spinner
.loading-spinner {
  > div {
    width: 170px;
    height: 60px;
    margin: auto;
  }
  &.white > div {
    background: url(../images/loading-symbol-white.gif);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &.purple > div {
    background: url(../images/loading-symbol-purple.gif);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

//Utility classes
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary, button {
  .hide-desktop {
    display: block !important;

    &-flex {
      display: flex !important;
    }
  }

  .hide-mobile, .hide-mobile-flex {
    display: none !important;
  }

  @include tablet {
    .hide-desktop, .hide-desktop-flex {
      display: none !important;
    }
    .hide-mobile {
      display: block !important;

      &-flex {
        display: flex !important;
      }
    }
  }
}

@media (max-width: 992px) {
  [class^="col"]:not(.no-margin) {
    margin-bottom: 30px;
  }
}
[class^="col"].no-padding {
  padding: 0px;
}

[class^="col"].margin-bottom {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.resp-iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin: auto;
  iframe {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
    border: 0!important;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 20px;
  @include tablet {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.wp-block-pullquote {
  padding: 0;
}

.google-map {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin: 0;
  img {
    max-width: inherit !important;
  }
}

img {
  display: block;
  margin: auto;
  //@include desktop {
  //  margin: 0;
  //}
  &.img-radius {
    border-radius: 5px;
  }
}

//Loading spinner
.lds-ring {
  display: inline-block;
  @include absoluteCenter;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $offBlack;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $offBlack transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


span.plus {
  width: 15px;
  height: 15px;
  @include absoluteCenterY;
  left: calc(100% - 15px);
  display: inline-block;
  background-image: url('/wp-content/themes/lucient/public/images/plus.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

span.minus {
  width: 15px;
  height: 15px;
  position: absolute;
  @include absoluteCenterY;
  left: calc(100% - 15px);
  display: inline-block;
  background-image: url('/wp-content/themes/lucient/public/images/minus.png');
  background-size: 15px 2px;
  background-repeat: no-repeat;
  background-position: center;
}

//Buttons
a.btn, button.btn, input[type="submit"].btn {
  font-family: 'Aventa SemiBold', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  &.btn-text--black {
    color: $black;
  }
  &.btn-text--white {
    color: $white;
  }
  &.btn-text--purple {
    color: $purple;
  }
  &.btn-width--full {
    width: 100%;
  }
  &.btn-solid--purple {
    background: $purple;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    border: 0;
  }
  &.btn-outline {
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    &--purple {
      border-color: $purple;
    }
    &--white {
      border-color: $white;
    }
  }
  &.btn-underline {
    background: transparent;
    border-radius: 0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    &.inactive {
      opacity: 0.5;
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &--purple {
      border-bottom-color: $purple;
    }
    &--white {
      border-bottom-color: $white;
    }
  }
}

//Language switcher
.language_switcher {
  position: relative;
  p {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
  }
  #multilingualpress-language-switcher {
    display: none;
    position: absolute;
    width: 220px;
      left: 40px;
      top: 100%;
    @include tablet {
      top: 20px;
      right: 0;
      left: unset;
    }
    background: $purple;
    padding: 20px;
    margin: 5px 10px 0 0;
    z-index: 2;
    li {
      list-style-type: none;
      @include tablet {
        text-align: right;
      }
      margin-bottom: 5px;
      a  {
        font-size: 14px;
        color: $white;
        &:hover {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
}

//Cookie popup
#pi_tracking_opt_in_div {
  display: none;
  position: fixed !important;
  bottom: 0% !important;
  left: 0% !important;
  top: auto !important;
  background: #110027 !important;
  color: #fff !important;
  padding: 40px !important;
  border-radius: 0px !important;
  width: 100% !important;
  z-index: 1000 !important;
  font-family: 'Aventa ExtraLight', sans-serif !important;
  font-style: normal !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
  line-height: 22px !important;
  opacity: 1 !important;
  @include tablet {
    bottom: 5% !important;
    left: 2% !important;
    border-radius: 5px !important;
    width: 410px !important;
    text-align: left !important;
  }
  a#pi_tracking_opt_in_yes {
    width: 40%;
    margin: auto;
    font-family: 'Arial', serif;
    color: #fff;
    cursor: pointer;
    background: #a17df6;
    padding: 10px 0px;
    border-radius: 5px;
    border: 0;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
  }
  a#pi_tracking_opt_in_no {
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 23px;
    padding-right: 20px;
    border-color: #a17df6;
    color: #fff;
    padding: 8px 0px;
    width: 53%;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
  }
}

//Redirect modal
#redirectModal {
  .modal-body {
    padding: 50px 30px 30px 30px;
    position: relative;
    button.close {
      position: absolute;
      top: 10px;
      right: 15px;
    }
    img {
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      margin-bottom: 0px;
    }
  }
}

//Standard page header
.standard-header {
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  position: relative;
  &:not(.no-bg):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
    .col {
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 0px;
      }
    }
    @include tablet {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    h1,p {
      color: $white;
    }
    p {
      font-size: 20px;
      &:last-of-type:not(:only-of-type) {
        width: 45%;
        margin: auto;
        margin-bottom: 30px;
      }
    }
  }
  &.no-bg {
    h1, p {
      color: $black;
    }
    .container {
      @include tablet {
        padding-bottom: 40px;
      }
      padding-bottom: 0px;
    }
    .col {
      margin-bottom: 0px;
    }
  }
  &.mobile-left-align {
    .container {
      h1, p, p:last-of-type {
        text-align: left;
        width: 100%;
      }
      p:first-of-type {
        margin-bottom: 10px;
      }
    }
    @include tablet {
      .container {
        h1, p, p:last-of-type {
          text-align: center;
        }
        p:first-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }
}

//Page header standard
div.page-header {
  padding-top: 80px;
  &-type--standard {
    text-align: center;
    h4 {
      margin-bottom: 20px;
    }
    h1 {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 40px;
    }
  }
}

//About page header
.about-header {
  @include tablet {
    padding-top: 250px;
    padding-bottom: 60px;
  }
  .col-md-5 {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  padding-top: 150px;
  padding-bottom: 40px;
  .container {
    padding-bottom: 40px;
    @include tablet {
      padding-bottom: 60px;
    }
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 15px;
      width: calc(100% - 30px);
      height: 2px;
      background: #D9D9D9;;
    }
  }
  h1, p {
    color: $black;
  }
  p {
    @include tablet {
      width: 85%;
    }
  }
}

//Lists
div.list, ul.list {
  display: flex;
  flex-direction: column;
  &.list-type--columns {
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      a {
        flex-basis: 48%;
      }
    }
  }
  > a, > li {
    display: block;
    position: relative;
    color: $black;
    padding: 15px 0px;
    border-bottom: 1px solid #D3D3D3;
    &:after {
      content: '';
      position: absolute;
      @include absoluteCenterY;
      left: calc(100% - 8px);
      display: inline-block;
      background-image: url('/wp-content/themes/lucient/public/images/rightArrow.png');
      background-size: 8px 15px;
      background-repeat: no-repeat;
      background-position: center;
      width: 8px;
      height: 15px;
    }
  }
}

//Panels
div.panel {
  height: 100%;
  padding: 50px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(162,125,246,0.75);
    transition: box-shadow 0.3s ease-in-out;
  }
  h3 {
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
  }
  p {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  &.panel-color--purple {
    border: 3px solid $purple;
    border-radius: 5px;
  }
  &.panel-color--white {

  }
  &.panel-color--deepblack {

  }
  &-type--icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 60%;
      margin-bottom: 60px;
    }
    h3 {
      @include tablet {
        font-size: 70px;
        line-height: 76px;
      }
      font-size: 60px;
      line-height: 66px;
      margin-bottom: 0px;
    }
    p {
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

//Image row
.imagerow {
  img {
    width: 75%;
  }
}

//Call to action
div.calltoaction {
  background-position: center;
  background-size: cover;
  &.calltoaction-text--left {
    @include tablet {
      padding-top: 80px;
      padding-bottom: 100px;
    }
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
  }
  &.calltoaction-text--center {
    text-align: center;
    .container {
      border-radius: 5px;
      padding-top: 80px;
      padding-bottom: 100px;
      @include tablet {
        padding-left: 30px;
        padding-right: 30px;
      }
      p {
        @include tablet {
          width: 35%;
        }
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
      }
    }
  }
  &.calltoaction-text--left {
    text-align: left;
  }
  h2 {
    //margin-bottom: 20px;
    color: $white;
  }
  p {
    color: $white;
    @include tablet {
      width: 30%;
      font-size: 16px;
    }
    width: 90%;
    font-size: 20px;
    margin-bottom: 50px;
  }
}

//Testimonial Small
.testimonials {
  h2 {
    margin-bottom: 50px;
  }
  div.testimonial-size--small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column-reverse;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 40px;
    }
    .content {
      @include tablet {
        margin: 10px 0 0 50px;
        width: auto;
      }
      margin: 0 0 20px 0;
      width: 65%;
      p:first-of-type {
        margin-bottom: 15px;
        text-align: center;
        @include tablet {
          text-align: left;
          margin-bottom: 20px;
        }
      }
      h4{
        margin-bottom: 2px;
      }
    }
    .image {
      @include tablet {
        width: 0;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @include tablet {
          width: 100%;
          margin: auto;
        }
        width: 60px;
        margin: 0 15px 0 0;
      }
      h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
        text-align: center;
      }
      p {
        font-size: 12px;
        margin-bottom: 0;
        text-align: center;
      }
    }
    &.with-image {
      .image {
        @include tablet {
          flex-basis: 70%;
          width: 100%;
        }
        h4, p {
          text-align: left;
        }
      }
    }
  }
}

//Testimonial Large
div.testimonial-size--large {
  div.content-container {
    position: relative;
    height: 100%;
    background: $greyBg;
    padding: 40px 30px;
    @include tablet {
      padding: 0;
    }
    .content {
      @include tablet {
        @include absoluteCenter;
        width: 75%;
      }
      h3 {
        margin-bottom: 5px;
      }

      p.testimonial-text {
        @media (min-width: 992px) {
          font-size: 36px;
          line-height: 42px;
        }
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
  div.image {
    padding: 0px;
  }
}

//News item
.latestnews {
  h2 {
    @include tablet {
      margin-bottom: 50px;
      text-align: center;
    }
    margin-bottom: 25px;
  }
}
div.news-item {
  position: relative;
  p.free {
    position: absolute;
    top: 20px;
    left: 0;
    background: $purple;
    color: $white !important;
    margin: 0;
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
  }
  img {
    @include tablet {
      margin-bottom: 30px;
    }
    margin-bottom: 20px;
  }
  p.label {
    margin-bottom: 20px;
  }
  h4 {
    @include tablet {
      margin-bottom: 30px;
    }
    margin-bottom: 10px;
    a {
      color: $black;
    }
  }
}

//Event item
.eventitem {
  &.eventitem-size--small {
    @include tablet {
      float: right;
      clear: right;
      justify-content: flex-end;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    &:hover {
      text-decoration: none;
    }
    div:first-of-type {
      margin-right: 20px;
      @include tablet {
        min-width: auto;
      }
      min-width: 100px;
      p {
        font-size: 84px;
        line-height: 90px;
        margin-bottom: 0px;
      }
    }
    div:last-of-type {
      @include tablet {
        flex-grow: unset;
      }
      flex-grow: 1;
      p.date {
        position: relative;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 2px;
        padding-right: 100px;
        &:after {
          content: '';
          position: absolute;
          @include absoluteCenterY;
          left: calc(100% - 8px);
          display: inline-block;
          background-image: url('/wp-content/themes/lucient/public/images/rightArrow.png');
          background-size: 8px 15px;
          background-repeat: no-repeat;
          background-position: center;
          width: 8px;
          height: 15px;
        }
      }
      p.time, p.location {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 2px;
      }
      p.location {
        margin-bottom: 0px;
      }
    }
  }
  &.eventitem-size--large {
    padding-bottom: 50px;
    @include tablet {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-top: 2px solid #D3D3D3;
      padding-top: 50px;
      &:last-of-type {
        border-bottom: 2px solid #D3D3D3;
      }
    }
    .event-title {
      margin-bottom: 10px;
      @include tablet {
        flex-basis: 20%;
      }
    }
    .event-details {
      display: flex;
      @include tablet {
        flex-direction: column;
        flex-basis: 20%;
      }
      p {
        margin-bottom: 15px;
        @include tablet {
          margin-bottom: 5px;
        }
        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }
    }
    .event-description {
      @include tablet {
        flex-basis: 40%;
        margin-right: 30px;
      }
    }
    .event-button {
      @include tablet {
        flex-basis: 10%;
      }
      a {
        display: block;
        width: 100%;
      }
    }
  }
}

.latestevents {
  .text {
    @include tablet {
      //margin-right: 60px;
    }
    h2 {
      @include tablet {
        font-size: 60px;
        line-height: 66px;
        margin-bottom: 60px;
      }
    }
    p {
      @include tablet {
        font-size: 20px;
        line-height: 26px;
        width: 70%;
      }
    }
  }
}

//Icon block
div.iconblocks {
  h2 {
    @include tablet {
      width: 40%;
      margin: auto;
      margin-bottom: 100px;
      text-align: center;
    }
    margin-bottom: 70px;
  }
  div.iconblock {
    @include tablet {
      text-align: center;
    }
    text-align: left;

    img {
      @include tablet {
        float: none;
        margin: auto;
        margin-bottom: 50px;
      }
      float: left;
      width: 120px;
      margin-right: 30px;
      margin-bottom: 50px;
    }

    h3 {
      margin-bottom: 10px;
    }
    p {
      @include tablet {
        width: 65%;
        margin: auto;
      }
      width: 100%;
    }
  }
}

div.fiftyfiftyimagetext + div.fiftyfiftyimagetext {
  @include tablet {
    padding-top: 70px;
    margin-top: 0px;
  }
  padding-top: 0px;
  margin-top: -40px;
}

//50/50 Image text
div.fiftyfiftyimagetext {
  &.image-side--left {
    .row {
      @include tablet {
        flex-direction: row;
      }
      flex-direction: column-reverse;
    }
    .content {
      @include tablet {
        margin-left: 50px;
      }
    }
  }
  .img-left {
    float: left;
  }
  .img-right {
    float: right;
  }
  .content {
    @include tablet {
      text-align: left;
      width: 85%;
      margin-top: 50px;
    }
    width: 100%;
    margin-top: 30px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

//60/40 Text and image
.sixtyfortytextimage {
  &.image-side--left {
    .row {
      @include tablet {
        flex-direction: row;
      }
      flex-direction: column-reverse;
    }
  }
  img {
    width: 90%;
  }
  @include tablet {
    .img-left {
      float: left;
    }
    .img-right {
      float: right;
    }
  }
  .content {
    @include tablet {
      margin-right: 30px;
      margin-bottom: 0px;
    }
    margin-bottom: 30px;
  }
}



//Guide download
.guidedownload {
  background: $greyBg;
  .content {
    width: 100%;
    @include tablet {
      padding-top: 50px;
      width: 75%;
      //margin: auto;
    }
    form {
      width: 75%;
    }
    > div {
      @include tablet {
        display: block;
      }
      display: flex;
      p {
        margin-right: 20px;
      }
      img {
        width: 30%;
      }
    }
  }
  .image {
    @include tablet {
      width: 50%;
      margin: auto;
    }
    width: 100%;
  }

}

//FAQs
div.faqs {
  .faq {
    padding: 15px 0px;
    border-bottom: 1px solid #D3D3D3;
    .faq-question {
      padding-right: 30px;
      position: relative;
      margin-bottom: 0;
      cursor: pointer;
    }
    .faq-answer {
      display: none;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}

//Social icons
.socialicons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include tablet {
    justify-content: flex-end;
  }
  a {
    margin: 0 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }
  &-colour--offblack {
    a {
      font-size: 35px;
      color: $offBlack;
    }
  }
  &-colour--white {
    a {
      font-size: 35px;
      color: $white;
    }
  }
}

//Contact form
#contactform {
  iframe.pardotform {
    height: 985px;
    @include tablet {
      height: 730px;
    }
  }
}
div.contactform {
  background: $offBlack;
  h2 {
    color: $white;
  }
  input[type="submit"] {
    @include tablet {
      margin: auto;
      width: 250px;
    }
    width: 100%;
  }
  p.terms {
    color: $white;
    font-size: 12px;
    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

//Image grid
.imagegrid {
  .intro-text {
    margin-bottom: 20px;
    @include tablet {
      width: 70%;
      margin: auto;
      margin-bottom: 50px;
    }
  }
  .w-100 {
    display: none;
    @include tablet {
      display: block;
      margin-bottom: 30px;
    }

  }
  &-image {
    width: 80%;
  }
  .title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

//Squares bg
.squares-bg {
  @media (max-width: 992px) {
    display: none;
  }
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  .container {
    height: 100%;
    .row {
      height: 100%;
      .col-md {
        height: 100%;
      }
    }
  }
  .squares-container {
    width: 100%;
    height: 100%;
    position: relative;
    .square {
      position: absolute;
      border: 2px solid $purple;
      border-radius: 5px;
    }
  }
}

.parallax {
  position: relative;
}

//Newsletter
.newsletter {
  iframe {
    height: 345px;
    @include tablet {
      height: 275px;
    }
  }
  background-size: cover;
  background-position: center;
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include tablet {
      width: 60%;
      margin: auto;
      flex-direction: row;
    }
    input {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    input, button {
      @include tablet {
        width: 49%;
        margin-bottom: 0px;
      }
      width: 100%;
    }
  }
  p {
    @include tablet {
      margin-bottom: 30px;
      text-align: center;
      font-size: 16px;
    }
    font-size: 20px;
    color: $white;
  }
  h2 {
    @include tablet {
      text-align: center;
    }
    color: $white !important;
  }
}

//Case study slider
.case-study-slider {
  position: relative;
  background-color: $greyBg;
  padding-bottom: 90px;
  @include tablet {
    padding-bottom: 60px;
  }
  .arrows {
    position: absolute;
    display: flex;
    opacity: 0;
    top: 0px;
    left: 0px;
    z-index: 9999;
    .slick-arrow {
      position: static;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      margin: 0;
      width: 50px;
      &:first-of-type {
        margin-right: 15px;
      }
    }
  }
  .slide {
    display:flex;
    @include tablet {
      flex-direction: row;
    }
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    .text {
      @include tablet {
        width: 70%;
      }
      h3 {
        margin-bottom: 5px;
      }
      p.body {
        @include tablet {
          font-size: 27px;
          line-height: 33px;
          width: 75%;
        }
      }
    }
    .image {
      position: relative;
      margin-top: 90px;
      @include tablet {
        width: 40%;
        margin-top: 0px;
      }
      img {
        width: 80%;
      }
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -40px;
        left: 25%;
        width: 75%;
        height: calc(100% + 80px);
        border: 2px solid $purple;
      }
    }
  }
}

//Three columns text
.threecolumnstext {
  .text-column {
    h3 {
      margin-bottom: 15px;
    }
    p {
      width: 90%;
    }
  }
;
}

//Job opportunity
.jobopportunities {
  p.intro-text {
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
  }
  &-footer {
    h4 {
      @include tablet {
        margin-top: 60px;
      }
      margin-top: 30px;
    }
  }
}
.jobopportunity {
  border-top: 2px solid #D3D3D3;
  padding-top: 30px;
  &-size--small {
    padding-bottom: 10px;
    div:first-of-type {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @include tablet {
        flex-direction: column;
        justify-content: normal;
      }
    }
  }
  &-size--large {
    display: flex;
    padding-bottom: 30px;
    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    flex-direction: column;
    justify-content: center;
    p.text {
      @include tablet {
        width: 70%;
      }
    }
    a {
      width: 100%;
    }
  }
  p.location {
    i {
      margin-right: 5px;
      color: $purple;
    }
  }
  &:last-of-type {
    border-bottom: 2px solid #D3D3D3;
  }
}

.location {
  &.thin {
    @include tablet {
      padding-bottom: 20px;
      padding-top: 20px;
      &.last {
        margin-bottom: 60px;
      }
    }
  }
  &:not(.last) {
    .container {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 15px;
        width: calc(100% - 30px);
        height: 2px;
        background: #D3D3D3;
        @include tablet {
          display: none;
        }
      }
    }
  }
  .location-info {
    @include tablet {
      //margin-bottom: 30px;
    }
    .location-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      @include tablet {
        display: block;
      }
    }
    h3 {
      @include tablet {
        margin-bottom: 25px;
      }
      margin-bottom: 15px;
      &.city {
        font-weight: 100;
        i {
          color: $purple;
          margin-right: 5px;
        }
      }
    }
    p.address {
      margin-bottom: 5px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      margin-top: 30px;
      a {
        width: 47%;
        font-size: 16px;
        @include tablet {
          font-size: 20px;
        }
      }
    }
    button.more-info {
      display: block;
      margin: auto;
      @include tablet {
        display: inline-block;
      }
    }
    img {
      margin: 0;
      float: right;
    }
  }
  .location-details {
    display: none;
  }
}

//Button row
.buttonrow {
  a {
    display: block;
    width: 100%;
  }
}

//Flex trail
.flextrial {
  iframe {
    height: 240px !important;
  }
  .container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  br {
    display: none;
  }
  .row {
    @include tablet {
      flex-direction: row;
    }
    flex-direction: column;
    .col {
      flex-basis: auto;
      @include tablet {
        flex-basis: 0;
      }
    }
  }
  .text {
    @include tablet {
      width: 85%;
      padding-left: 70px;
    }
    h2,p {
      color: $white;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
  .form {
    @include tablet {
      padding-top: 10px;
      float: right;
      width: 110%;
      padding-right: 70px;
    }
    p {
      margin-bottom: 0px;
    }
  }
}

//Tabbed accordions
.tabbedaccordions {
  .tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background: #f0f0f0;
    padding-top: 25px;
    @include tablet {
      justify-content: center;
      flex-direction: row;
      margin-bottom: 50px;
      padding-top: 0;
      background: transparent;
    }
    p {
      position: relative;
      padding: 0px 20px;
      cursor: pointer;
      text-align: center;
      &.active {
        font-weight: 600;
      }
      @include tablet {
        &:not(:last-of-type):after {
          content: '|';
          position: absolute;
          @include absoluteCenterY;
          left: 100%;
          font-weight: 400;
        }
      }
    }
  }
  .tab-content {
    &:not(.active) {
      display: none;
    }
    .faq:first-child {
      border-top: 1px solid #D3D3D3;
    }
  }
}

.eventlandingpage {
  .content {
    @include tablet {
      margin-right: 40px;
    }
  }
  .event-download-form-container iframe {
    height: 680px;
    @include tablet {
      height: 440px;
    }
  }
}

//Training
.courses-col-margin-bottom {
  div[class*="col"] {
    margin-bottom: 30px;
  }
}
.course {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  h4.price {
    small {
      margin-right: 10px;
      font-size: 70%;
      color: #000;
      text-decoration: line-through;
      &.no-strike {
        text-decoration: none;
      }
    }
  }
  &-type--purple {
    background: $offBlack;
    h4,p {
      color: $white;
      margin-bottom: 15px;
    }
    h4.price {
      margin-bottom: 25px;
      small {
        color: $white;
      }
    }
    a {
      width: 100%;
    }
  }
  &-type--white {
    background: $white;
    h4 {
      color: $black;
      margin-bottom: 15px;
    }
    p:not(.label) {
      margin-bottom: 0px;
      &:last-of-type {
        margin-bottom: 15px;
      }
    }
    a {
      width: 100%;
    }
  }
  &-type--alternate {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid $purple;
    padding: 0px;
    background: $greyBg;
    .date {
      padding:  25px;
      min-width: 180px;
      p {
        text-align: center;
        font-weight: bold;
      }
      p:first-of-type {
        font-size: 46px;
        margin-bottom: 10px;
      }
      p:last-of-type {
        font-size: 20px;
      }
    }
    .details {
      padding: 20px;
      background: #fff;
      flex: 1;
      p {
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
    a {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  &.height-auto {
    height: auto;
  }
  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      //width: 40%;
    }
  }
  p.label-type--offer_earlybird ~ h4.price {
    color: #eb0045;
  }
}
.course, .class-price {
  .label {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Aventa Medium', sans-serif;
    letter-spacing: 1px;
    &-type--places_two {
      border-color: #6bc04b;
      background: #6bc04b;
    }
    &-type--places_ten {

    }
    &-type--offer_earlybird {
      border-color: #eb0045;
      background: #eb0045;
    }
    &-text--white {
      color: $white;
    }
    &-text--black {
      color: $black;
    }
  }
}
.class-price {
  a.price-link {
    @media(min-width: 992px) and (max-width: 1200px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.course {
  .buttons a {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  a {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
.topic {
  position: relative;
  display: block;
  h4 {
    @include absoluteCenter;
    text-align: center;
    color: $white;
  }
  &:hover h4 {
    text-decoration: underline;
  }
}
.topic-description {
  div {
    font-family: 'Aventa ExtraLight', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
    letter-spacing: 1px;
  }
  a:not(.btn) {
    color: $purple;
    text-decoration: underline;
  }
}
.standard-header.course-header {
  background-color: $offBlack;
  background-size: cover;
  background-position: center;
  h1 {
    color: $white;
    text-align: left;
  }
  .course-details {
    p.label {
      display: block;
      font-size: 16px;
      margin: 0 0 15px 0;
      padding: 6px 16px;
      @include tablet {
        display: inline-block;
        margin: 0 15px 0 0;
        width: auto;
      }
    }
    a.btn {
      width: 100%;
      margin-top: 30px;
      @include tablet {
        width: 200px;
        margin-top: 0px;
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
.class-description {
  padding-bottom: 20px;
  @include tablet {
    padding-bottom: 50px;
  }
}
.class-details {
  padding-bottom: 20px;
  a:not(.btn) {
    color: $purple;
    text-decoration: underline;
  }
  @include tablet {
    padding-bottom: 50px;
  }
  div {
    font-family: 'Aventa ExtraLight', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
    letter-spacing: 1px;
  }
  ol {
    padding-left: 15px;
  }
  span {
    font-size: inherit !important;
  }
}
.class-schedule {
  margin-bottom: 30px;
}
.class-session {
  padding: 0px 20px 20px 20px;
  //box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.3);
  border: 2px solid $purple;
  border-radius: 5px;
  margin-bottom: 25px;
  .header {
    background: $greyBg;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding: 15px 20px;
    h4 {
      margin: 0px;
    }
  }
  .name {
    font-weight: 600;
    margin-bottom: 10px;
  }
  .location {
    margin-bottom: 0px;
  }
  .details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    p {
      margin-bottom: 10px;
    }
    .presenters p {
      color: $purple;
    }
  }
}
.class-price {
  background: $offBlack;
  padding: 20px;
  h3 {
    font-family: 'Aventa Medium', sans-serif;
    color: $white;
    font-size: 30px;
    small {
      display: block;
      font-size: 50%;
      text-decoration: line-through;
      margin-bottom: 10px;
      &.no-strike {
        text-decoration: none;
      }
    }
  }
}
.class-other-options {
  div[class*="col"] {
    > div {
      padding: 30px 30px;
      background: $greyBg;
    }
  }
  p {
    margin-bottom: 5px;
  }
  a {
    color: $purple;
    text-decoration: underline;
  }
}
.register-interest-form-container {
  border: 2px solid $purple;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  &.hide-desktop {
    margin-bottom: 30px;
  }
}
.upcoming-courses {
  border: 2px solid $purple;
  border-radius: 5px;
  padding: 30px 20px;
  .upcoming-course {
    padding: 7px 0px;
    border-bottom: 1px solid $greyBg;
    p {
      font-size: 14px;
      &:first-of-type {
        margin-bottom: 0px;
        font-weight: bold;
      }
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
    a {
      position: relative;
      display: block;
      text-decoration: none;
      padding-left: 30px;
      &:before {
        content: '\f073';
        font-family: 'Font Awesome 5 Free';
        font-size: 20px;
        color: $purple;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);


      }
      &:after {
        content: url("/wp-content/themes/lucient/public/images/rightArrow.png");
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scale(0.5);
        right: 0;
        width: 15px;
        height: 28px;
      }
    }
  }
}

.course-grid {
  .courses-row {
    .col {
      background: $offBlack;
      color: $white;
      border-color: $offBlack;
      &:not(:last-of-type) {
        border-color: $offBlack;
      }
      &:not(:first-of-type) {
        text-align: center;
      }
    }
  }
  .col {
    padding: 30px;
    border-bottom: 1px solid $greyBg;
    &:not(:last-of-type) {
      border-right: 1px solid $greyBg;
    }
    &:not(:first-of-type) {
      text-align: center;
    }
  }
}

#cookieModal {
  .modal-body {
    padding: 0px;
  }
  .small-notice {
    padding: 25px;
  }
  .large-notice {
    display: none;
    padding: 25px;
    background: $offBlack;
    h3 {
      color: #fff;
    }
    .cookie-section {
      p {
        margin-left: 40px;
        color: #fff;
      }
      label {
        color: #fff;
      }
    }
  }
}
#register-interest-form {
  iframe.pardotform {
    height: 930px;
    @include tablet {
      height: 680px;
    }
  }
}

#region-selector {
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 500;
  background: transparent;
  border-width: 0px;
  color: $purple;
  padding: 5px;
  outline: none;
}

.region-classes-container > p:first-of-type {
  margin-top: 10px;
  margin-bottom: 0px;
}

.region-classes-container > div:first-of-type {
  margin-top: 10px;
}

.standard-header.course-header .container p:last-of-type:not(:only-of-type) {
  width: auto;
}

.course-features.hide-desktop {
  margin-bottom: 30px;
}