@font-face{
  font-family:"Aventa Thin";
  src:url("../fonts/6049031/c24a5096-541e-417a-97fa-f18d8ac870a6.woff2") format("woff2"),url("../fonts/6049031/53d4094f-5421-4b29-8dc9-aa379c49f802.woff") format("woff");
}
@font-face{
  font-family:"Aventa Thin Itallic";
  src:url("../fonts/6049035/73bc0571-32b7-4850-aa80-ca86d682c441.woff2") format("woff2"),url("../fonts/6049035/cff7192d-f0af-4c32-bcb4-c8cc3de3dffc.woff") format("woff");
}
@font-face{
  font-family:"Aventa ExtraLight";
  src:url("../fonts/6049039/b671d318-b157-4e6c-800d-b8b2b216286c.woff2") format("woff2"),url("../fonts/6049039/694a4a62-1c08-450b-ac67-f15c76acf8a5.woff") format("woff");
}
@font-face{
  font-family:"Aventa ExtraLight Itallic";
  src:url("../fonts/6049043/acd82790-d8be-48a4-9d8e-028c8648c23e.woff2") format("woff2"),url("../fonts/6049043/8e029918-2539-4059-8912-9fb8b125dcc9.woff") format("woff");
}
@font-face{
  font-family:"Aventa Regular";
  src:url("../fonts/6049055/a88c8818-5871-4d10-80d8-ac5f17dc7d38.woff2") format("woff2"),url("../fonts/6049055/3a80409a-a265-4120-a023-66ffce414b8c.woff") format("woff");
}
@font-face{
  font-family:"Aventa Itallic";
  src:url("../fonts/6049059/58438e3b-87dc-4d71-8954-c7488bdb6a61.woff2") format("woff2"),url("../fonts/6049059/65f4bfd5-8db8-4660-b8c9-ce5c06903f85.woff") format("woff");
}
@font-face{
  font-family:"Aventa Medium";
  src:url("../fonts/6049063/76733742-26e8-47d4-afb8-48527c0aadb3.woff2") format("woff2"),url("../fonts/6049063/154b2708-f666-4fac-afa2-35ab0c63aeaf.woff") format("woff");
}
@font-face{
  font-family:"Aventa Medium Itallic";
  src:url("../fonts/6049069/61514a69-4747-41ec-8f26-3ccd3f1dc667.woff2") format("woff2"),url("../fonts/6049069/24421e03-25b6-42b3-8737-411585c3210b.woff") format("woff");
}
@font-face{
  font-family:"Aventa SemiBold";
  src:url("../fonts/6049071/417ab1b1-3f96-4e38-b05e-6ffe4f6e6ea7.woff2") format("woff2"),url("../fonts/6049071/2faf5891-29a3-46c6-a751-1d7f6ab99780.woff") format("woff");
}
@font-face{
  font-family:"Aventa SemiBold Itallic";
  src:url("../fonts/6049075/b8f20bd5-9b65-4b52-a256-57d25ef1856c.woff2") format("woff2"),url("../fonts/6049075/4beaafca-79e7-4afa-9c54-ef5c9989fd85.woff") format("woff");
}
@font-face{
  font-family:"Aventa Bold";
  src:url("../fonts/6049079/08f4eb73-8ad7-4590-9008-8c02b60f9cd7.woff2") format("woff2"),url("../fonts/6049079/d77a9629-855e-454f-9a93-27957a3ea367.woff") format("woff");
}
@font-face{
  font-family:"Aventa Bold Itallic";
  src:url("../fonts/6049083/4f29b75f-9e39-4225-9e5b-3ff2fc864516.woff2") format("woff2"),url("../fonts/6049083/4b3853e5-8187-49b3-bc61-f1bd2e9a1f81.woff") format("woff");
}
@font-face{
  font-family:"Aventa ExtraBold";
  src:url("../fonts/6049087/b896a549-7801-4436-9ce7-370320a098ed.woff2") format("woff2"),url("../fonts/6049087/6d60b290-61bb-4153-a6c7-96c34ebf27ec.woff") format("woff");
}
@font-face{
  font-family:"Aventa ExtraBold Itallic";
  src:url("../fonts/6049103/420521e0-1873-45cf-8355-06ae3403e75a.woff2") format("woff2"),url("../fonts/6049103/de00035f-bce4-45ed-b72c-4427927fa326.woff") format("woff");
}
@font-face{
  font-family:"Aventa Black";
  src:url("../fonts/6049105/6020dfa1-56c3-4fc0-9986-26cdf0f78773.woff2") format("woff2"),url("../fonts/6049105/ab211c28-fb7d-453e-8b81-48157f06c620.woff") format("woff");
}
@font-face{
  font-family:"Aventa Black Itallic";
  src:url("../fonts/6049107/72200c68-e9a0-4698-bf4c-58a66ff4fa80.woff2") format("woff2"),url("../fonts/6049107/51a43db6-597c-4415-b8ce-2746bb84ac2d.woff") format("woff");
}


//Text Styles
h1, h2, h3, h4, h5, p {
  color: $black;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  @include tablet {
    font-size: 60px;
    line-height: 66px;
  }
  font-family: 'Aventa Thin', sans-serif;
  font-style: normal;
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 45px;
}

h2 {
  @include tablet {
    font-size: 39px;
    line-height: 47px;
  }
  font-family: 'Aventa Thin', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 35px;
}

h3 {
  font-family: 'Aventa SemiBold', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 35px;
}

h4 {
  font-family: 'Aventa SemiBold', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}

h5 {
  font-family: 'Aventa SemiBold', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}

p, li {
  //font-family: 'Aventa Thin', sans-serif;
  font-family: 'Aventa ExtraLight', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}