@mixin absoluteCenterX {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

@mixin absoluteCenterY {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fwc($width) {
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

@mixin tablet {
  @media (min-width: 992px) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 1201px) {
    @content
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}