html, body {
  //height: 100%;
  width: 100%;
  position: relative;
  left: 0%;
  @media(max-width: 992px) {
    transition: left 0.3s linear;
  }
}

body {
  background: #fff;
}


html {
  transition: left 0.7s cubic-bezier(.8,-.5,.2,1.4);
}
#header {
  transition: left 0.7s cubic-bezier(.8,-.5,.2,1.4), background-color 0.3s linear;
}
html.push {
  left: -70%;
  transition: left 0.7s cubic-bezier(.8,-.5,.2,1.4);
}
#header.push {
  left: -70%;
  transition: left 0.7s cubic-bezier(.8,-.5,.2,1.4), background-color 0.3s linear;
}



body {
    //overflow-x: hidden;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.1;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
//@media (min-width: 1400px) {
//  .container:not(.slim) {
//    max-width: 1350px;
//  }
//}
//@media (min-width: 1600px) {
//  .container:not(.slim) {
//    max-width: 1540px;
//  }
//}
//@media (min-width: 1800px) {
//  .container:not(.slim) {
//    max-width: 1600px;
//  }
//}




