@import 'slick';
@import 'reset';
@import 'mixins';
@import 'colors';
@import 'fonts';
@import "base";

/*********************************/
/*   1. Header                   */
/*   2. Footer                   */
/*   3. Homepage                 */
/*   4. Blog                     */
/*   5. Events                   */
/*   6. Case Studies             */
/*   7. Careers                  */
/*   8. Cookies                  */
/*   9. Training                 */
/*   10. 404 Page                */
/*   11. Custom GForm             /
/*********************************/

// 1. Header
#header {
  background: $offBlack;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  &.black-bg {
    background: #000;
    #menus #main-menu ul.sub-menu {
      background: #000;
    }
  }
  .container-fluid {
    max-width: 2000px;
  }
  &.transparent {
    background: transparent;
  }
  &.bg-coloured {
    background: $offBlack;
    transition: left 0.7s cubic-bezier(.8,-.5,.2,1.4), background-color 0.3s linear;
  }
  &.sub-menu-coloured {
    background: $offBlack;
    transition: left 0.7s cubic-bezier(.8,-.5,.2,1.4), background-color 0.3s linear;
  }
  @include tablet {
    padding: 40px 20px;
  }
  padding: 20px 0px;
  a.navbar-brand {
    width: 200px;
    padding: 0px;
  }
  #menus {
    @media (min-width: 992px) {
      position: static;
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      top: initial;
      left: initial;
      width: auto;
      height: auto;
      background: transparent;
      flex-direction: column;
      align-items: flex-end;
    }
    @media(max-width: 991px) {
      height: 100vh;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: $purple #2c1d51;
      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-track {
        background:  #2c1d51;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $purple;
        border-radius: 20px;
        border: 3px solid $purple;
      }
    }
    position: fixed;
    top: 0;
    left: 100%;
    width: 70%;
    height: 100vh;
    background: $offBlack;
    transition: left 0.7s cubic-bezier(.8,-.5,.2,1.4);
    &.visible {
      left: 30%;
      transition: left 0.7s cubic-bezier(.8,-.5,.2,1.4);
    }

    .language_switcher {
      padding: 8vh 40px 0 40px;
      @include tablet {
        padding: 0;
      }
    }

    #main-menu {
      padding: 4vh 40px 10vh 40px;
      @media (min-width: 992px) {
        padding: 0;
      }
      ul {
        &.sub-menu {
          display: none;
          @include tablet {
            display: block;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            position: absolute;
            background: $offBlack;
            padding: 25px 0 10px 5px;
            width: 350px;
          }
          > li {
            list-style-type: none;
            &.popular > a span {
              color: $purple;
            }
            > a {
              display: block;
              padding: 8px 5px 8px 17px;
              position: relative;
              &:before {
                content: '';
                position: absolute;
                @include absoluteCenterY;
                left: 0px;
                display: inline-block;
                background-image: url('/wp-content/themes/lucient/public/images/rightArrow.png');
                background-size: 8px 15px;
                background-repeat: no-repeat;
                background-position: center;
                width: 8px;
                height: 15px;
              }
            }
          }
        }
        li {
          position: relative;
          list-style-type: none;
          &.current-menu-item {
            > a {
              border-bottom: 2px solid $purple;
            }
          }
          @include tablet {
            &.menu-item-has-children:hover > ul.sub-menu {
              visibility: visible;
              opacity: 1;
              transition: visibility 0s, opacity 0.3s 0.3s linear;
            }
          }
          a {
            display: block;
            position: relative;
            //font-family: 'Aventa Thin', sans-serif;
            font-family: 'Aventa ExtraLight', sans-serif;
            font-style: normal;
            font-size: 16px;
            color: $white;
            padding: 15px 5px;
            @include tablet {
              padding: 5px 10px;
            }
            &:after {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: $purple;
              visibility: hidden;
              transition: all 0.3s ease-in-out;
            }
            &:hover {
              text-decoration: none;
              &:after {
                visibility: visible;
                width: 100%;
              }
            }
          }
          &.training-menu {
            ul.sub-menu.lvl-0 {
              @include tablet {
                position: absolute;
                left: 0vw;
                top: 30px;
                width: calc(100vw - 25px);
                padding: 25px 0 0 0;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                background: transparent;
                //flex: 1 1 0px;
                //height: calc(100vh - 106px);
               //overflow-y: scroll;
                scrollbar-width: thin;
                scrollbar-color: $purple #2c1d51;
                &::-webkit-scrollbar {
                  width: 7px;
                }
                &::-webkit-scrollbar-track {
                  background:  #2c1d51;
                  border-radius: 20px;
                }
                &::-webkit-scrollbar-thumb {
                  background-color: $purple;
                  border-radius: 20px;
                  border: 3px solid $purple;
                }
              }
              @media (min-width: 992px) and (max-width: 1450px) {
                margin-left: 5vw;
                width: calc(95vw - 25px);
                //flex-wrap: wrap;
                justify-content: flex-start;
              }
              > li  {
                > a {
                  color: $purple;
                  &:before {
                    background: none;
                  }
                }
                > .sub-menu {
                  position: static;
                  display: block;
                  @include tablet {
                    visibility: hidden;
                    opacity: 0;
                  }
                  background: transparent;
                  li.popular span {
                    color: $purple;
                  }
                }
              }
              ul.sub-menu.lvl-1 {
                @include tablet {
                  padding-top: 5px;
                }
                > li {
                  > a {
                    @include tablet {
                      &:before {
                        background: none;
                      }
                    }
                  }
                }
              }
            }
            &:hover {
              @include tablet {
                ul.sub-menu.lvl-0 > li .sub-menu {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
// 2. Footer
#footer {
  border-top: 7px solid $purple;
  padding: 60px 0 40px 0;
  ul.navbar-nav {
    li {
      margin-bottom: 0;
      a {
        display: block;
        //font-family: 'Aventa Thin', sans-serif;
        font-family: 'Aventa ExtraLight', sans-serif;
        font-style: normal;
        font-size: 14px;
        color: $black;
        padding: 5px 0px;
      }
    }
  }
  .row.socialicons-row {
    @include tablet {
      flex-direction: row;
    }
    flex-direction: column-reverse;
  }
  .socialicons {
    margin-top: 5px;
  }
  .footer-menus {
    @include tablet {
      margin-bottom: 50px;
    }
    margin-bottom: 25px;
    div[id^="footer-menu"] {
      @include tablet {
        display: block !important;
        margin-top: 0px;
      }
      display: none;
      margin-top: 5px;
    }
    h4 {
      position: relative;
      @include tablet {
        cursor: default;
        margin-bottom: 10px;
        font-size: 20px;
      }
      cursor: pointer;
      margin-bottom: 0px;
      font-size: 16px;
    }
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      border-top: 1px solid #D3D3D3;
    }
  }
  .footer-logo {
    @include tablet {
      width: 450px;
      margin-left: -9px;
      margin-bottom: 30px;
    }
    width: 200px;
  }
  .copyright-text {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 300;
  }
  #menu-footer-menu-6 {
    li a  {
      font-size: 12px;
      font-weight: 300;
    }
    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      li:not(:last-of-type) {
        margin-right: 15px;
      }
    }
  }
}

// 3. Homepage
.homepage-header {
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  .container {
    padding-top: 70px;
    padding-bottom: 70px;
    h1,p {
      color: $white;
    }
    h1 {
      margin-bottom: 55px;
    }
    p {
      @include tablet {
        font-size: 20px;
      }
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
}

// 4. Blog
#blog {
  h1,h2,h3,h4,h5,p:not(.label) {
    color: $black;
  }
  .no-blogs-message {
    text-align: center;
    padding: 20px 0;
  }
  .nav-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    button {
      width: 120px;
      &:first-of-type {
        margin-right: 10px;
      }
      &:last-of-type {
        margin-left: 10px;
      }
    }
  }

  .standard-header {
    .container {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 15px;
        height: 2px;
        width: calc(100% - 30px);
        background: #D3D3D3;
        @include tablet {
          display: none;
        }
      }
    }
  }
  .col-md-4 {
    @include tablet {
      //padding-left: 70px;
    }
  }
  h4.section-label {
    margin-bottom: 25px;
  }
}
#blog-post {
  &.book {
    .standard-header {
      .post-details {
        justify-content: flex-end;
      }
    }
    .post-content {
      .wp-block-button {
        margin-bottom: 25px;
      }
      .side-content {
        p {
          margin-bottom: 15px;
        }
      }
      .featured-image {
        margin-bottom: 30px;
      }
    }
  }
  h1,h2,h3,h4,p {
    color: $black;
  }
  .standard-header {
    @include tablet {
      padding-top: 200px;
    }
    padding-top: 60px;
    h1 {
      text-align: left;
    }
    .post-details {
      display: flex;
      margin-top: 60px;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      padding: 10px 0;
      div:not(.socialicons) {
        text-align: left;
      }
      p {
        font-size: 16px;
        width: auto;
        margin: 0;
        display: inline-block;
        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }
  .post-content {
    padding-bottom: 0px;
    text-align: left;
    .socialicons {
      padding-top: 30px;
      @include tablet {
        justify-content: normal;
      }
    }
    p, figure, blockquote {
      margin-bottom: 30px;
    }
    h2, h3 {
      margin-bottom: 15px;
    }
    blockquote {
      padding: 25px;
      border: 2px solid $purple;
      border-radius: 5px;
      p {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }
}

// 5. Events
.events-list-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }
  h2 {
    text-align: center;
    @include tablet {
      text-align: left;
      margin-bottom: 0px;
    }
  }
  .event-date-selector {
    display: flex;
    justify-content: space-between;
    button {
      width: 40%;
      @include tablet {
        width: 150px;
        &:first-of-type {
          margin-right: 30px;
        }
      }
    }
  }
}

.event-form-filter {
  form#event-filter {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    input, select {
      margin-right: 20px;
    }
    input:last-of-type {
      margin-right: 0;
    }
    input[type="submit"] {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    input[type="date"] {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
  .toggle-filters {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 25px;
    span {
      left: calc(100% - 40px);
    }
  }
}

.eventslist {
  @include tablet {
    padding-bottom: 80px;
  }
  .load-more-button {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
}

#event {
  h1,h2,h3,h4,p {
    color: $black;
  }
  .standard-header {
    background: $offBlack;
    h1 {
      color: $white;
    }
    @include tablet {
      padding-top: 200px;
    }
    padding-top: 60px;
    h1 {
      text-align: left;
    }
    .post-details {
      display: flex;
      margin-top: 60px;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      padding: 10px 0;
      p {
        color: $white;
        font-size: 16px;
        width: auto;
        float: left;
        margin-bottom: 0;
        margin-right: 7vw;
      }
    }
  }
  .post-content {
    @include tablet {
      padding-bottom: 100px;
    }
    a.btn {
      display: block;
      width: 100%;
      @include tablet {
        display: inline-block;
        width: auto;
      }
    }
    h3 {
      margin-top: 60px;
    }
    .socialicons {
      justify-content: flex-start;
    }
    .map-container {
      @include tablet {
        border: 2px solid $purple;
        border-radius: 5px;
        padding: 25px;
      }
      a {
        @include tablet {
          display: block;
          width: 100%;
        }
      }
      p {
        text-align: center;
        &.location {
          margin-top: 30px;
          margin-bottom: 10px;
          font-weight: 300;
        }
        &.address {
          font-size: 14px;
          padding-bottom: 30px;
          border-bottom: 2px solid #D3D3D3;
        }

      }
      .whats-included {
        &--title {
          font-weight: 300;
          margin-top: 30px;
          @include tablet {
            margin-bottom: 15px;
          }
        }
        &--container {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          margin-bottom: 30px;
          @include tablet {
            margin-bottom: 0px;
          }
        }
        &--item {
          img {
            max-width: 65%;
            width: auto;
          }
          p {
            margin-top: 10px;
            font-size: 12px;
          }
        }
      }
      &.no-map {
        .whats-included--title {
          margin-top: 0px;
        }
      }
    }
  }
  .registerforevent {
    h2 {
      color: $white;
      text-align: center;
    }
    input[type="submit"] {
      display: block;
      width: 200px;
      margin: auto;
      margin-top: 25px;
    }
    background-image: url("/wp-content/themes/lucient/public/images/eventRegisterBg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// 6. Case Studies
#casestudies {
  h1,h2,h3,h4,p:not(.label) {
    color: $black;
  }
  .filter-container {
    @include tablet {
      width: 400px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    select {
      @include tablet {
        margin-bottom: 0px;
        width: 47%;
      }
    }

    button {
      width: 47%;
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .row.featured-post {
    margin-bottom: 50px;
    .col-md-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      p.label {
        margin-bottom: 30px;
      }
      h2 {
        margin-bottom: 35px;
        a {
          color: $black;
        }
      }
      img {
        margin: 0;
        width: 55px;
      }
    }
  }
}

#case-study {
  h1,h2,h3,h4,p {
    color: $black;
  }
  .standard-header {
    background: $offBlack;
    .container {
      padding-bottom: 30px;
    }
    @include tablet {
      padding-top: 200px;
    }
    padding-top: 60px;
    h1 {
      color: $white;
      text-align: left;
    }
    .post-details {
      display: flex;
      margin-top: 60px;
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid #D9D9D9;
      padding: 10px 0;
      p {
        font-size: 16px;
        width: auto;
        margin: 0;
      }
    }
  }
  .post-content {
    padding-bottom: 50px;
    text-align: left;
    .socialicons {
      padding-top: 30px;
      @include tablet {
        justify-content: normal;
      }
    }
    p, figure, blockquote {
      margin-bottom: 30px;
    }
    h2, h3 {
      margin-bottom: 15px;
    }
    blockquote {
      padding: 25px;
      border: 2px solid $purple;
      border-radius: 5px;
      p {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }
}

// 7. Careers
#careers {
  .post-header {
    p {
      @include tablet {
        margin-bottom: 60px;
      }
    }
  }
}
#career {
  h1,h2,h3,h4,p {
    color: $black;
  }
  .post-details {
    display: flex;
    @include tablet {
      margin-top: 80px;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      padding: 30px 0 30px 0;
    }
    padding: 20px 0 20px 0;
    flex-direction: column;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    text-align: left;
    p {
      text-align: left;
      width: 100%;
      margin-bottom: 15px;
      font-size: 16px;
      @include tablet {
        margin-bottom: 25px;
      }
      &.location {
        i {
          color: $purple;
          margin-right: 5px;
        }
      }
    }
  }
  .application-form {
    h2 {
      @include tablet {
        text-align: center;
      }
    }
    .form-footer {
      p:first-of-type {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 5px;
      }
      p:nth-child(2) {
        font-size: 12px;
        line-height: 16px;
      }
    }
    input[type="submit"] {
      @include tablet {
        width: auto;
      }
      width: 100%;
    }
  }
  iframe {
    height: 815px;
    @include tablet {
      height: 630px;
    }
  }
}

// 8. Cookies
.standard-header.no-bg.cookies h1,
.standard-header.no-bg.cookies p {
  color: #fff;
}
.cookies {
  background: $offBlack;
  h1, h2, h3, h4, p, li {
    color: #fff;
  }
  .wp-block-table table {
    @include tablet {
      height: 300px;
    }
    td {
      padding: 3px;
    }
  }
  .wp-block-table.is-style-stripes tbody tr:nth-child(even) {
    background: #aaa;
  }
}

//9. Training
.training-highlighted-classes {
  h2 {
    text-align: center;
  }
  &.regions {
    background: $greyBg;
  }
}
.training-upcoming-classes {
  background: $greyBg;
  h2 {
    text-align: center;
  }
}
.training-topics {
  h2 {
    text-align: center;
  }
}
.training-delivery-types {
  h2 {
    text-align: center;
  }
  .panel {
    h3 {
      margin-bottom: 0px;
    }
  }
}
.topic-description {
  h2, h3, h4, h5, p {
    text-align: center;
  }
}
.topic-course-templates {
  background: $greyBg;
  h2 {
    text-align: center;
  }
  &.no-price {
    .course {
      p {
        margin-bottom: 40px;
      }
      a {
        width: 50%;
      }
    }
  }
}
.available-courses {
  background: $greyBg;
  h2 {
    text-align: center;
  }
}
.course-features {
  margin-top: 30px;
  border: 2px solid $purple;
  border-radius: 5px;
  padding: 30px 20px;
  p {
    margin-bottom: 5px;
    font-weight: bold;
    &:before {
      content: '\2713';
      color: $purple;
      font-weight: bold;
    }
  }
}
.teaching-course {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 60px;
  }
  .course-presenter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
    img {
      max-width: 130px;
      margin: 0;
      margin-right: 30px;
    }
    h4 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 0px;
      &.desc {
        margin-top: 20px;
      }
    }
  }
}
.course-register-buttons {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 60px;
  }
  a {
    width: 100%;
    @include tablet {
      width: auto;
    }
    &:first-of-type {
      margin-right: 0px;
      margin-bottom: 20px;
      @include tablet {
        margin-right: 20px;
        margin-bottom: 0px;
      }

    }
  }
}
.class-other-options.sidebar {
  margin-top: 30px;
  padding: 20px;
  background: $greyBg;
  h4 {
    margin-bottom: 20px ;
  }
  p {
    margin-bottom: 25px;
  }
}

.worldwide-layout {
  @include tablet {
    h2 {
      font-size: 37px;
    }
  }
}

// 10. 404 page
.page-404 {
  padding-top: 20vh;
  background: #000;
  h1, p {
    color: #fff;
  }
  p.intro {
    font-size: 20px;
  }
  ul.list  {
    width: 100%;
    @include tablet {
      width: 60%;
    }
    padding-left: 0px;
    li {
      border-bottom-color: rgba(211, 211, 211, 0.17);
      a {
        color: #fff;
      }
    }
  }
}

// 11. Custom GForm

.gfield_radio li {
  display: flex !important;
  flex-direction: row-reverse !important;
  height: 40px !important;
  justify-content: flex-end;

  input {
    width: 30px !important;
  }
}