<div class='progress-msg'>Mon, 28 Sep 2020 13:38:12 +0000</div>
<div class='progress-msg'>[13:38:12] Composing titles...</div>
<div class='progress-msg'>[13:38:12] Composing excerpts...</div>
<div class='progress-msg'>[13:38:12] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:38:12] Composing authors...</div>
<div class='progress-msg'>[13:38:12] Composing slugs...</div>
<div class='progress-msg'>[13:38:12] Composing menu order...</div>
<div class='progress-msg'>[13:38:12] Composing contents...</div>
<div class='progress-msg'>[13:38:12] Composing dates...</div>
<div class='progress-msg'>[13:38:12] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:38:12] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:38:12] Composing custom parameters...</div>
<div class='progress-msg'>[13:38:12] Composing URLs for images...</div>
<div class='progress-msg'>[13:38:12] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:38:12] Composing post comments...</div>
<div class='progress-msg'>[13:38:12] Composing unique keys...</div>
<div class='progress-msg'>[13:38:12] Processing posts...</div>
<div class='progress-msg'>[13:38:12] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:38:12] ---</div>
<div class='progress-msg'>[13:38:12] Record #1</div>
<div class='progress-msg'>[13:38:12] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:38:12] Combine all data for post `Business Intelligence Roles and Team Composition`...</div>
<div class='progress-msg'>[13:38:12] Find corresponding article among previously imported for post `Business Intelligence Roles and Team Composition`...</div>
<div class='progress-msg'>[13:38:12] Duplicate post wasn't found with unique key `Business Intelligence Roles and Team Composition - http://www.solidq.com/?p=3898`...</div>
<div class='progress-msg'>[13:38:12] Applying filter `pmxi_article_data` for `Business Intelligence Roles and Team Composition`</div>
<div class='progress-msg'>[13:38:12] <b>CREATING</b> `Business Intelligence Roles and Team Composition` `Post`</div>
<div class='progress-msg'>[13:38:12] Associate post `Business Intelligence Roles and Team Composition` with current import ...</div>
<div class='progress-msg'>[13:38:12] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:38:12] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_IT_BI.png` by URL...</div>
<div class='progress-msg'>[13:38:12] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_IT_BI.png` was not found...</div>
<div class='progress-msg'>[13:38:12] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_IT_BI.png`</div>
<div class='progress-msg'>[13:38:18] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_IT_BI.png can not be downloaded, response </div>
<div class='progress-msg'>[13:38:18] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_All_Business.png` by URL...</div>
<div class='progress-msg'>[13:38:18] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_All_Business.png` was not found...</div>
<div class='progress-msg'>[13:38:18] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_All_Business.png`</div>
<div class='progress-msg'>[13:38:28] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_All_Business.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5005 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:38:28] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Business.png` by URL...</div>
<div class='progress-msg'>[13:38:28] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Business.png` was not found...</div>
<div class='progress-msg'>[13:38:28] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Business.png`</div>
<div class='progress-msg'>[13:38:38] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Business.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5008 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:38:38] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_IT_Control.png` by URL...</div>
<div class='progress-msg'>[13:38:38] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_IT_Control.png` was not found...</div>
<div class='progress-msg'>[13:38:38] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_IT_Control.png`</div>
<div class='progress-msg'>[13:38:49] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_IT_Control.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5016 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:38:49] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Balanced.png` by URL...</div>
<div class='progress-msg'>[13:38:49] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Balanced.png` was not found...</div>
<div class='progress-msg'>[13:38:49] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Balanced.png`</div>
<div class='progress-msg'>[13:38:59] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Balanced.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:38:59] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Hybrid.png` by URL...</div>
<div class='progress-msg'>[13:38:59] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Hybrid.png` was not found...</div>
<div class='progress-msg'>[13:38:59] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Hybrid.png`</div>
<div class='progress-msg'>[13:39:09] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/PT_Hybrid.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5008 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:39:09] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:39:09] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:39:09] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:39:09] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:39:09] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:39:09] <b>CREATED</b> `Business Intelligence Roles and Team Composition` `Post` (ID: 1037)</div>
<div class='progress-msg'>[13:39:09] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:39:09] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:39:09] ---</div>
<div class='progress-msg'>[13:39:09] Record #2</div>
<div class='progress-msg'>[13:39:09] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:39:09] Combine all data for post `New Power BI stand-alone Designer, Dashboards, APIs & iOS App`...</div>
<div class='progress-msg'>[13:39:09] Find corresponding article among previously imported for post `New Power BI stand-alone Designer, Dashboards, APIs & iOS App`...</div>
<div class='progress-msg'>[13:39:09] Duplicate post wasn't found with unique key `New Power BI stand-alone Designer, Dashboards, APIs & iOS App - https://blogs.solidq.com/?p=18560`...</div>
<div class='progress-msg'>[13:39:09] Applying filter `pmxi_article_data` for `New Power BI stand-alone Designer, Dashboards, APIs & iOS App`</div>
<div class='progress-msg'>[13:39:09] <b>CREATING</b> `New Power BI stand-alone Designer, Dashboards, APIs & iOS App` `Post`</div>
<div class='progress-msg'>[13:39:09] Associate post `New Power BI stand-alone Designer, Dashboards, APIs & iOS App` with current import ...</div>
<div class='progress-msg'>[13:39:09] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:39:09] - Searching for existing image `http://blogs.msdn.com/resized-image.ashx/__size/550x0/__key/communityserver-blogs-components-weblogfiles/00-00-01-60-20/4645.dashboard2.png` by URL...</div>
<div class='progress-msg'>[13:39:09] - Image `http://blogs.msdn.com/resized-image.ashx/__size/550x0/__key/communityserver-blogs-components-weblogfiles/00-00-01-60-20/4645.dashboard2.png` was not found...</div>
<div class='progress-msg'>[13:39:09] - Downloading image from `http://blogs.msdn.com/resized-image.ashx/__size/550x0/__key/communityserver-blogs-components-weblogfiles/00-00-01-60-20/4645.dashboard2.png`</div>
<div class='progress-msg'>[13:39:09] - <b>WARNING</b>: File http://blogs.msdn.com/resized-image.ashx/__size/550x0/__key/communityserver-blogs-components-weblogfiles/00-00-01-60-20/4645.dashboard2.png can not be downloaded, response </div>
<div class='progress-msg'>[13:39:09] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/12/image_thumb.png` by URL...</div>
<div class='progress-msg'>[13:39:09] - Image `http://sqlserverbiblog.files.wordpress.com/2014/12/image_thumb.png` was not found...</div>
<div class='progress-msg'>[13:39:09] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/12/image_thumb.png`</div>
<div class='progress-msg'>[13:39:10] - Image `http://sqlserverbiblog.files.wordpress.com/2014/12/image_thumb.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:10] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/image_thumb.png`</div>
<div class='progress-msg'>[13:39:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:39:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:39:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:39:10] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:39:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:39:10] <b>CREATED</b> `New Power BI stand-alone Designer, Dashboards, APIs & iOS App` `Post` (ID: 1038)</div>
<div class='progress-msg'>[13:39:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:39:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:39:10] ---</div>
<div class='progress-msg'>[13:39:10] Record #3</div>
<div class='progress-msg'>[13:39:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:39:10] Combine all data for post `New Power BI stand-alone Designer, Dashboards, APIs & iOS App`...</div>
<div class='progress-msg'>[13:39:10] Find corresponding article among previously imported for post `New Power BI stand-alone Designer, Dashboards, APIs & iOS App`...</div>
<div class='progress-msg'>[13:39:10] Duplicate post wasn't found with unique key `New Power BI stand-alone Designer, Dashboards, APIs & iOS App - https://blogs.solidq.com/?p=18565`...</div>
<div class='progress-msg'>[13:39:10] Applying filter `pmxi_article_data` for `New Power BI stand-alone Designer, Dashboards, APIs & iOS App`</div>
<div class='progress-msg'>[13:39:10] <b>CREATING</b> `New Power BI stand-alone Designer, Dashboards, APIs & iOS App` `Post`</div>
<div class='progress-msg'>[13:39:10] Associate post `New Power BI stand-alone Designer, Dashboards, APIs & iOS App` with current import ...</div>
<div class='progress-msg'>[13:39:10] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:39:10] - Searching for existing image `http://blogs.msdn.com/resized-image.ashx/__size/550x0/__key/communityserver-blogs-components-weblogfiles/00-00-01-60-20/4645.dashboard2.png` by URL...</div>
<div class='progress-msg'>[13:39:10] - Image `http://blogs.msdn.com/resized-image.ashx/__size/550x0/__key/communityserver-blogs-components-weblogfiles/00-00-01-60-20/4645.dashboard2.png` was not found...</div>
<div class='progress-msg'>[13:39:10] - Downloading image from `http://blogs.msdn.com/resized-image.ashx/__size/550x0/__key/communityserver-blogs-components-weblogfiles/00-00-01-60-20/4645.dashboard2.png`</div>
<div class='progress-msg'>[13:39:10] - <b>WARNING</b>: File http://blogs.msdn.com/resized-image.ashx/__size/550x0/__key/communityserver-blogs-components-weblogfiles/00-00-01-60-20/4645.dashboard2.png can not be downloaded, response </div>
<div class='progress-msg'>[13:39:10] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/12/image_thumb.png` by URL...</div>
<div class='progress-msg'>[13:39:10] - Existing image was found for post content `http://sqlserverbiblog.files.wordpress.com/2014/12/image_thumb.png`...</div>
<div class='progress-msg'>[13:39:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:39:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:39:10] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:39:10] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:39:10] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:39:10] <b>CREATED</b> `New Power BI stand-alone Designer, Dashboards, APIs & iOS App` `Post` (ID: 1040)</div>
<div class='progress-msg'>[13:39:10] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:39:10] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:39:10] ---</div>
<div class='progress-msg'>[13:39:10] Record #4</div>
<div class='progress-msg'>[13:39:10] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:39:10] Combine all data for post `Drill-through to Details from Reporting Services to Excel`...</div>
<div class='progress-msg'>[13:39:10] Find corresponding article among previously imported for post `Drill-through to Details from Reporting Services to Excel`...</div>
<div class='progress-msg'>[13:39:10] Duplicate post wasn't found with unique key `Drill-through to Details from Reporting Services to Excel - https://blogs.solidq.com/?p=18568`...</div>
<div class='progress-msg'>[13:39:10] Applying filter `pmxi_article_data` for `Drill-through to Details from Reporting Services to Excel`</div>
<div class='progress-msg'>[13:39:10] <b>CREATING</b> `Drill-through to Details from Reporting Services to Excel` `Post`</div>
<div class='progress-msg'>[13:39:10] Associate post `Drill-through to Details from Reporting Services to Excel` with current import ...</div>
<div class='progress-msg'>[13:39:10] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:39:10] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug1.png` by URL...</div>
<div class='progress-msg'>[13:39:10] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug1.png` was not found...</div>
<div class='progress-msg'>[13:39:10] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug1.png`</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug1.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:11] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/120114_0723_drillthroug1.png`</div>
<div class='progress-msg'>[13:39:11] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug2.png` by URL...</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug2.png` was not found...</div>
<div class='progress-msg'>[13:39:11] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug2.png`</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug2.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:11] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/120114_0723_drillthroug2.png`</div>
<div class='progress-msg'>[13:39:11] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug3.png` by URL...</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug3.png` was not found...</div>
<div class='progress-msg'>[13:39:11] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug3.png`</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug3.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:11] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/120114_0723_drillthroug3.png`</div>
<div class='progress-msg'>[13:39:11] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug4.png` by URL...</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug4.png` was not found...</div>
<div class='progress-msg'>[13:39:11] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug4.png`</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug4.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:11] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/120114_0723_drillthroug4.png`</div>
<div class='progress-msg'>[13:39:11] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug5.png` by URL...</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug5.png` was not found...</div>
<div class='progress-msg'>[13:39:11] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug5.png`</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug5.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:11] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/120114_0723_drillthroug5.png`</div>
<div class='progress-msg'>[13:39:11] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug6.png` by URL...</div>
<div class='progress-msg'>[13:39:11] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug6.png` was not found...</div>
<div class='progress-msg'>[13:39:11] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug6.png`</div>
<div class='progress-msg'>[13:39:12] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug6.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:12] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/120114_0723_drillthroug6.png`</div>
<div class='progress-msg'>[13:39:12] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug7.png` by URL...</div>
<div class='progress-msg'>[13:39:12] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug7.png` was not found...</div>
<div class='progress-msg'>[13:39:12] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug7.png`</div>
<div class='progress-msg'>[13:39:12] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug7.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:12] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/120114_0723_drillthroug7.png`</div>
<div class='progress-msg'>[13:39:12] - Searching for existing image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug8.png` by URL...</div>
<div class='progress-msg'>[13:39:12] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug8.png` was not found...</div>
<div class='progress-msg'>[13:39:12] - Downloading image from `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug8.png`</div>
<div class='progress-msg'>[13:39:12] - Image `http://sqlserverbiblog.files.wordpress.com/2014/11/120114_0723_drillthroug8.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:39:12] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/120114_0723_drillthroug8.png`</div>
<div class='progress-msg'>[13:39:12] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:39:12] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:39:12] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:39:12] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:39:12] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:39:12] <b>CREATED</b> `Drill-through to Details from Reporting Services to Excel` `Post` (ID: 1041)</div>
<div class='progress-msg'>[13:39:12] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:39:12] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:39:12] ---</div>
<div class='progress-msg'>[13:39:12] Record #5</div>
<div class='progress-msg'>[13:39:12] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:39:12] Combine all data for post `Power BI Semantic Model Supports Many-to-Many Relationships`...</div>
<div class='progress-msg'>[13:39:12] Find corresponding article among previously imported for post `Power BI Semantic Model Supports Many-to-Many Relationships`...</div>
<div class='progress-msg'>[13:39:12] Duplicate post wasn't found with unique key `Power BI Semantic Model Supports Many-to-Many Relationships - https://blogs.solidq.com/?p=18803`...</div>
<div class='progress-msg'>[13:39:12] Applying filter `pmxi_article_data` for `Power BI Semantic Model Supports Many-to-Many Relationships`</div>
<div class='progress-msg'>[13:39:12] <b>CREATING</b> `Power BI Semantic Model Supports Many-to-Many Relationships` `Post`</div>
<div class='progress-msg'>[13:39:12] Associate post `Power BI Semantic Model Supports Many-to-Many Relationships` with current import ...</div>
<div class='progress-msg'>[13:39:12] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:39:12] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-11-03_thumb.png` by URL...</div>
<div class='progress-msg'>[13:39:12] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-11-03_thumb.png` was not found...</div>
<div class='progress-msg'>[13:39:12] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-11-03_thumb.png`</div>
<div class='progress-msg'>[13:39:22] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-11-03_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5013 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:39:22] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-10-23_thumb.png` by URL...</div>
<div class='progress-msg'>[13:39:22] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-10-23_thumb.png` was not found...</div>
<div class='progress-msg'>[13:39:22] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-10-23_thumb.png`</div>
<div class='progress-msg'>[13:39:33] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-10-23_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5001 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:39:33] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-17-03_thumb.png` by URL...</div>
<div class='progress-msg'>[13:39:33] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-17-03_thumb.png` was not found...</div>
<div class='progress-msg'>[13:39:33] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-17-03_thumb.png`</div>
<div class='progress-msg'>[13:39:43] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-17-03_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5004 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:39:43] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-17-57_thumb.png` by URL...</div>
<div class='progress-msg'>[13:39:43] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-17-57_thumb.png` was not found...</div>
<div class='progress-msg'>[13:39:43] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-17-57_thumb.png`</div>
<div class='progress-msg'>[13:39:53] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-17-57_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:39:53] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-18-50_thumb.png` by URL...</div>
<div class='progress-msg'>[13:39:53] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-18-50_thumb.png` was not found...</div>
<div class='progress-msg'>[13:39:53] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-18-50_thumb.png`</div>
<div class='progress-msg'>[13:40:03] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-18-50_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:40:03] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-19-32_thumb.png` by URL...</div>
<div class='progress-msg'>[13:40:03] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-19-32_thumb.png` was not found...</div>
<div class='progress-msg'>[13:40:03] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-19-32_thumb.png`</div>
<div class='progress-msg'>[13:40:13] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-19-32_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5005 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:40:13] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-20-48_thumb.png` by URL...</div>
<div class='progress-msg'>[13:40:13] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-20-48_thumb.png` was not found...</div>
<div class='progress-msg'>[13:40:13] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-20-48_thumb.png`</div>
<div class='progress-msg'>[13:40:23] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-20-48_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:40:23] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-22-35_thumb.png` by URL...</div>
<div class='progress-msg'>[13:40:23] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-22-35_thumb.png` was not found...</div>
<div class='progress-msg'>[13:40:23] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-22-35_thumb.png`</div>
<div class='progress-msg'>[13:40:33] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-22-35_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5004 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:40:33] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-23-03_thumb.png` by URL...</div>
<div class='progress-msg'>[13:40:33] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-23-03_thumb.png` was not found...</div>
<div class='progress-msg'>[13:40:33] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-23-03_thumb.png`</div>
<div class='progress-msg'>[13:40:43] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-23-03_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5002 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:40:43] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-25-25_thumb.png` by URL...</div>
<div class='progress-msg'>[13:40:43] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-25-25_thumb.png` was not found...</div>
<div class='progress-msg'>[13:40:43] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-25-25_thumb.png`</div>
<div class='progress-msg'>[13:40:48] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/2015-01-04_6-25-25_thumb.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:40:48] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:48] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:48] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:48] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:48] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:48] <b>CREATED</b> `Power BI Semantic Model Supports Many-to-Many Relationships` `Post` (ID: 1050)</div>
<div class='progress-msg'>[13:40:48] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:48] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:48] ---</div>
<div class='progress-msg'>[13:40:48] Record #6</div>
<div class='progress-msg'>[13:40:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:48] Combine all data for post `How to resolve connection errors when loading data in SSAS Tabular project`...</div>
<div class='progress-msg'>[13:40:48] Find corresponding article among previously imported for post `How to resolve connection errors when loading data in SSAS Tabular project`...</div>
<div class='progress-msg'>[13:40:48] Duplicate post wasn't found with unique key `How to resolve connection errors when loading data in SSAS Tabular project - https://blogs.solidq.com/?p=18843`...</div>
<div class='progress-msg'>[13:40:48] Applying filter `pmxi_article_data` for `How to resolve connection errors when loading data in SSAS Tabular project`</div>
<div class='progress-msg'>[13:40:48] <b>CREATING</b> `How to resolve connection errors when loading data in SSAS Tabular project` `Post`</div>
<div class='progress-msg'>[13:40:49] Associate post `How to resolve connection errors when loading data in SSAS Tabular project` with current import ...</div>
<div class='progress-msg'>[13:40:49] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:49] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb1.png` by URL...</div>
<div class='progress-msg'>[13:40:49] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb1.png` was not found...</div>
<div class='progress-msg'>[13:40:49] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb1.png`</div>
<div class='progress-msg'>[13:40:49] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb1.png can not be downloaded, response </div>
<div class='progress-msg'>[13:40:49] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb2.png` by URL...</div>
<div class='progress-msg'>[13:40:49] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb2.png` was not found...</div>
<div class='progress-msg'>[13:40:49] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb2.png`</div>
<div class='progress-msg'>[13:40:54] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb2.png can not be downloaded, response </div>
<div class='progress-msg'>[13:40:54] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb3.png` by URL...</div>
<div class='progress-msg'>[13:40:54] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb3.png` was not found...</div>
<div class='progress-msg'>[13:40:54] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb3.png`</div>
<div class='progress-msg'>[13:40:54] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb3.png can not be downloaded, response </div>
<div class='progress-msg'>[13:40:54] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb4.png` by URL...</div>
<div class='progress-msg'>[13:40:54] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb4.png` was not found...</div>
<div class='progress-msg'>[13:40:54] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb4.png`</div>
<div class='progress-msg'>[13:40:54] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb4.png can not be downloaded, response </div>
<div class='progress-msg'>[13:40:54] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb5.png` by URL...</div>
<div class='progress-msg'>[13:40:54] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb5.png` was not found...</div>
<div class='progress-msg'>[13:40:54] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb5.png`</div>
<div class='progress-msg'>[13:40:55] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb5.png can not be downloaded, response </div>
<div class='progress-msg'>[13:40:55] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb6.png` by URL...</div>
<div class='progress-msg'>[13:40:55] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb6.png` was not found...</div>
<div class='progress-msg'>[13:40:55] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb6.png`</div>
<div class='progress-msg'>[13:40:55] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/image_thumb6.png can not be downloaded, response </div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `How to resolve connection errors when loading data in SSAS Tabular project` `Post` (ID: 1051)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #7</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `New Power BI Preview and Pricing`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `New Power BI Preview and Pricing`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `New Power BI Preview and Pricing - https://blogs.solidq.com/?p=19696`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `New Power BI Preview and Pricing`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `New Power BI Preview and Pricing` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `New Power BI Preview and Pricing` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `New Power BI Preview and Pricing` `Post` (ID: 1052)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #8</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `Power BI Workshop Videos`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `Power BI Workshop Videos`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `Power BI Workshop Videos - https://blogs.solidq.com/?p=19701`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `Power BI Workshop Videos`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `Power BI Workshop Videos` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `Power BI Workshop Videos` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `Power BI Workshop Videos` `Post` (ID: 1053)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #9</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `Some Thoughts About Microsoft’s Cloud Platform Roadmap`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `Some Thoughts About Microsoft’s Cloud Platform Roadmap`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `Some Thoughts About Microsoft’s Cloud Platform Roadmap - https://blogs.solidq.com/?p=19743`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `Some Thoughts About Microsoft’s Cloud Platform Roadmap`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `Some Thoughts About Microsoft’s Cloud Platform Roadmap` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `Some Thoughts About Microsoft’s Cloud Platform Roadmap` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `Some Thoughts About Microsoft’s Cloud Platform Roadmap` `Post` (ID: 1054)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #10</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `How to Get Reports in Excel Without Exporting from Reporting Services`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `How to Get Reports in Excel Without Exporting from Reporting Services`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `How to Get Reports in Excel Without Exporting from Reporting Services - https://blogs.solidq.com/?p=20070`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `How to Get Reports in Excel Without Exporting from Reporting Services`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `How to Get Reports in Excel Without Exporting from Reporting Services` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `How to Get Reports in Excel Without Exporting from Reporting Services` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `How to Get Reports in Excel Without Exporting from Reporting Services` `Post` (ID: 1055)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #11</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `SSAS Tabular Modeling Article Series on SQL Server Pro Magazine`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `SSAS Tabular Modeling Article Series on SQL Server Pro Magazine`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `SSAS Tabular Modeling Article Series on SQL Server Pro Magazine - https://blogs.solidq.com/?p=20072`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `SSAS Tabular Modeling Article Series on SQL Server Pro Magazine`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `SSAS Tabular Modeling Article Series on SQL Server Pro Magazine` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `SSAS Tabular Modeling Article Series on SQL Server Pro Magazine` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `SSAS Tabular Modeling Article Series on SQL Server Pro Magazine` `Post` (ID: 1056)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #12</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `Tell The Joke Again – Blogging On Blogging`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `Tell The Joke Again – Blogging On Blogging`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `Tell The Joke Again – Blogging On Blogging - https://blogs.solidq.com/?p=20485`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `Tell The Joke Again – Blogging On Blogging`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `Tell The Joke Again – Blogging On Blogging` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `Tell The Joke Again – Blogging On Blogging` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] - Searching for existing image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2234&subd=sqlserverbiblog&ref=&feed=1` by URL...</div>
<div class='progress-msg'>[13:40:55] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2234&subd=sqlserverbiblog&ref=&feed=1` was not found...</div>
<div class='progress-msg'>[13:40:55] - Downloading image from `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2234&subd=sqlserverbiblog&ref=&feed=1`</div>
<div class='progress-msg'>[13:40:55] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2234&subd=sqlserverbiblog&ref=&feed=1` has been successfully downloaded</div>
<div class='progress-msg'>[13:40:55] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/b.gif`</div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `Tell The Joke Again – Blogging On Blogging` `Post` (ID: 1057)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #13</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `Are you Ready to Use Power BI?`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `Are you Ready to Use Power BI?`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `Are you Ready to Use Power BI? - https://blogs.solidq.com/?p=20488`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `Are you Ready to Use Power BI?`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `Are you Ready to Use Power BI?` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `Are you Ready to Use Power BI?` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] - Searching for existing image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2232&subd=sqlserverbiblog&ref=&feed=1` by URL...</div>
<div class='progress-msg'>[13:40:55] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2232&subd=sqlserverbiblog&ref=&feed=1` was not found...</div>
<div class='progress-msg'>[13:40:55] - Downloading image from `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2232&subd=sqlserverbiblog&ref=&feed=1`</div>
<div class='progress-msg'>[13:40:55] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2232&subd=sqlserverbiblog&ref=&feed=1` has been successfully downloaded</div>
<div class='progress-msg'>[13:40:55] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/b-1.gif`</div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `Are you Ready to Use Power BI?` `Post` (ID: 1059)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #14</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `Datazen Visual Control Categories`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `Datazen Visual Control Categories`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `Datazen Visual Control Categories - https://blogs.solidq.com/?p=20491`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `Datazen Visual Control Categories`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `Datazen Visual Control Categories` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `Datazen Visual Control Categories` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] - Searching for existing image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2223&subd=sqlserverbiblog&ref=&feed=1` by URL...</div>
<div class='progress-msg'>[13:40:55] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2223&subd=sqlserverbiblog&ref=&feed=1` was not found...</div>
<div class='progress-msg'>[13:40:55] - Downloading image from `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2223&subd=sqlserverbiblog&ref=&feed=1`</div>
<div class='progress-msg'>[13:40:55] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2223&subd=sqlserverbiblog&ref=&feed=1` has been successfully downloaded</div>
<div class='progress-msg'>[13:40:55] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/b-2.gif`</div>
<div class='progress-msg'>[13:40:55] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:55] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:55] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:55] <b>CREATED</b> `Datazen Visual Control Categories` `Post` (ID: 1061)</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:55] ---</div>
<div class='progress-msg'>[13:40:55] Record #15</div>
<div class='progress-msg'>[13:40:55] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:55] Combine all data for post `Learn How to Use Datazen this Week`...</div>
<div class='progress-msg'>[13:40:55] Find corresponding article among previously imported for post `Learn How to Use Datazen this Week`...</div>
<div class='progress-msg'>[13:40:55] Duplicate post wasn't found with unique key `Learn How to Use Datazen this Week - https://blogs.solidq.com/?p=20494`...</div>
<div class='progress-msg'>[13:40:55] Applying filter `pmxi_article_data` for `Learn How to Use Datazen this Week`</div>
<div class='progress-msg'>[13:40:55] <b>CREATING</b> `Learn How to Use Datazen this Week` `Post`</div>
<div class='progress-msg'>[13:40:55] Associate post `Learn How to Use Datazen this Week` with current import ...</div>
<div class='progress-msg'>[13:40:55] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:55] - Searching for existing image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2207&subd=sqlserverbiblog&ref=&feed=1` by URL...</div>
<div class='progress-msg'>[13:40:55] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2207&subd=sqlserverbiblog&ref=&feed=1` was not found...</div>
<div class='progress-msg'>[13:40:55] - Downloading image from `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2207&subd=sqlserverbiblog&ref=&feed=1`</div>
<div class='progress-msg'>[13:40:55] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2207&subd=sqlserverbiblog&ref=&feed=1` has been successfully downloaded</div>
<div class='progress-msg'>[13:40:55] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/b-3.gif`</div>
<div class='progress-msg'>[13:40:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:56] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:56] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:56] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:56] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:56] <b>CREATED</b> `Learn How to Use Datazen this Week` `Post` (ID: 1063)</div>
<div class='progress-msg'>[13:40:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:56] ---</div>
<div class='progress-msg'>[13:40:56] Record #16</div>
<div class='progress-msg'>[13:40:56] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:40:56] Combine all data for post `Power BI, Self-service and Governed Data Solutions`...</div>
<div class='progress-msg'>[13:40:56] Find corresponding article among previously imported for post `Power BI, Self-service and Governed Data Solutions`...</div>
<div class='progress-msg'>[13:40:56] Duplicate post wasn't found with unique key `Power BI, Self-service and Governed Data Solutions - https://blogs.solidq.com/?p=20497`...</div>
<div class='progress-msg'>[13:40:56] Applying filter `pmxi_article_data` for `Power BI, Self-service and Governed Data Solutions`</div>
<div class='progress-msg'>[13:40:56] <b>CREATING</b> `Power BI, Self-service and Governed Data Solutions` `Post`</div>
<div class='progress-msg'>[13:40:56] Associate post `Power BI, Self-service and Governed Data Solutions` with current import ...</div>
<div class='progress-msg'>[13:40:56] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:40:56] - Searching for existing image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2197&subd=sqlserverbiblog&ref=&feed=1` by URL...</div>
<div class='progress-msg'>[13:40:56] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2197&subd=sqlserverbiblog&ref=&feed=1` was not found...</div>
<div class='progress-msg'>[13:40:56] - Downloading image from `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2197&subd=sqlserverbiblog&ref=&feed=1`</div>
<div class='progress-msg'>[13:40:56] - Image `https://pixel.wp.com/b.gif?host=sqlserverbiblog.wordpress.com&blog=20594963&post=2197&subd=sqlserverbiblog&ref=&feed=1` has been successfully downloaded</div>
<div class='progress-msg'>[13:40:56] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/b-4.gif`</div>
<div class='progress-msg'>[13:40:56] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:40:56] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:40:56] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:40:56] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:40:56] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:40:56] <b>CREATED</b> `Power BI, Self-service and Governed Data Solutions` `Post` (ID: 1065)</div>
<div class='progress-msg'>[13:40:56] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:40:56] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:40:56] Cleaning temporary data...</div>
