<div class='progress-msg'>Mon, 28 Sep 2020 13:08:19 +0000</div>
<div class='progress-msg'>[13:08:19] Composing titles...</div>
<div class='progress-msg'>[13:08:19] Composing excerpts...</div>
<div class='progress-msg'>[13:08:19] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:08:19] Composing authors...</div>
<div class='progress-msg'>[13:08:19] Composing slugs...</div>
<div class='progress-msg'>[13:08:19] Composing menu order...</div>
<div class='progress-msg'>[13:08:19] Composing contents...</div>
<div class='progress-msg'>[13:08:19] Composing dates...</div>
<div class='progress-msg'>[13:08:19] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:08:19] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:08:19] Composing custom parameters...</div>
<div class='progress-msg'>[13:08:19] Composing URLs for images...</div>
<div class='progress-msg'>[13:08:19] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:08:19] Composing post comments...</div>
<div class='progress-msg'>[13:08:19] Composing unique keys...</div>
<div class='progress-msg'>[13:08:19] Processing posts...</div>
<div class='progress-msg'>[13:08:19] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:08:19] ---</div>
<div class='progress-msg'>[13:08:19] Record #1</div>
<div class='progress-msg'>[13:08:19] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:08:19] Combine all data for post `SharePoint Best Practices: Creating and Configuring Service Applications With (and Without) PowerShell - Part 1`...</div>
<div class='progress-msg'>[13:08:19] Find corresponding article among previously imported for post `SharePoint Best Practices: Creating and Configuring Service Applications With (and Without) PowerShell - Part 1`...</div>
<div class='progress-msg'>[13:08:19] Duplicate post wasn't found with unique key `SharePoint Best Practices: Creating and Configuring Service Applications With (and Without) PowerShell - Part 1 - http://www.solidq.com/?p=1659`...</div>
<div class='progress-msg'>[13:08:19] Applying filter `pmxi_article_data` for `SharePoint Best Practices: Creating and Configuring Service Applications With (and Without) PowerShell - Part 1`</div>
<div class='progress-msg'>[13:08:19] <b>CREATING</b> `SharePoint Best Practices: Creating and Configuring Service Applications With (and Without) PowerShell - Part 1` `Post`</div>
<div class='progress-msg'>[13:08:19] Associate post `SharePoint Best Practices: Creating and Configuring Service Applications With (and Without) PowerShell - Part 1` with current import ...</div>
<div class='progress-msg'>[13:08:19] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:08:19] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Service-applications-architecture.png` by URL...</div>
<div class='progress-msg'>[13:08:19] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Service-applications-architecture.png` was not found...</div>
<div class='progress-msg'>[13:08:19] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Service-applications-architecture.png`</div>
<div class='progress-msg'>[13:08:25] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-1-Service-applications-architecture.png can not be downloaded, response </div>
<div class='progress-msg'>[13:08:25] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Default-and-custom-proxy-group-examples.png` by URL...</div>
<div class='progress-msg'>[13:08:25] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Default-and-custom-proxy-group-examples.png` was not found...</div>
<div class='progress-msg'>[13:08:25] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Default-and-custom-proxy-group-examples.png`</div>
<div class='progress-msg'>[13:08:35] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-2-Default-and-custom-proxy-group-examples.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5011 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:08:35] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Enterprise-services-farm.png` by URL...</div>
<div class='progress-msg'>[13:08:35] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Enterprise-services-farm.png` was not found...</div>
<div class='progress-msg'>[13:08:35] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Enterprise-services-farm.png`</div>
<div class='progress-msg'>[13:08:45] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-3-Enterprise-services-farm.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5010 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:08:45] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Cross-farm-and-single-farm-service-applications.png` by URL...</div>
<div class='progress-msg'>[13:08:45] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Cross-farm-and-single-farm-service-applications.png` was not found...</div>
<div class='progress-msg'>[13:08:45] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Cross-farm-and-single-farm-service-applications.png`</div>
<div class='progress-msg'>[13:08:55] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-4-Cross-farm-and-single-farm-service-applications.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5012 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:08:55] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-Sample-of-Managed-Metadata-service-infrastructure.png` by URL...</div>
<div class='progress-msg'>[13:08:55] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-Sample-of-Managed-Metadata-service-infrastructure.png` was not found...</div>
<div class='progress-msg'>[13:08:55] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-Sample-of-Managed-Metadata-service-infrastructure.png`</div>
<div class='progress-msg'>[13:09:06] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-5-Sample-of-Managed-Metadata-service-infrastructure.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5015 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:09:06] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-Creation-of-the-Managed-Metadata-service-database.png` by URL...</div>
<div class='progress-msg'>[13:09:06] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-Creation-of-the-Managed-Metadata-service-database.png` was not found...</div>
<div class='progress-msg'>[13:09:06] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-Creation-of-the-Managed-Metadata-service-database.png`</div>
<div class='progress-msg'>[13:09:16] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-6-Creation-of-the-Managed-Metadata-service-database.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5015 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:09:16] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-Configuration-of-the-database-users.png` by URL...</div>
<div class='progress-msg'>[13:09:16] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-Configuration-of-the-database-users.png` was not found...</div>
<div class='progress-msg'>[13:09:16] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-Configuration-of-the-database-users.png`</div>
<div class='progress-msg'>[13:09:26] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-7-Configuration-of-the-database-users.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5016 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:09:26] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-8-Start-the-task-of-creating-and-configuring-a-new-service-application.png` by URL...</div>
<div class='progress-msg'>[13:09:26] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-8-Start-the-task-of-creating-and-configuring-a-new-service-application.png` was not found...</div>
<div class='progress-msg'>[13:09:26] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-8-Start-the-task-of-creating-and-configuring-a-new-service-application.png`</div>
<div class='progress-msg'>[13:09:36] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-8-Start-the-task-of-creating-and-configuring-a-new-service-application.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:09:36] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-9-The-Service-Applications-ribbon.png` by URL...</div>
<div class='progress-msg'>[13:09:36] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-9-The-Service-Applications-ribbon.png` was not found...</div>
<div class='progress-msg'>[13:09:36] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-9-The-Service-Applications-ribbon.png`</div>
<div class='progress-msg'>[13:09:46] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-9-The-Service-Applications-ribbon.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:09:46] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-10-The-completed-Create-New-Managed-Metadata-Service-form.png` by URL...</div>
<div class='progress-msg'>[13:09:46] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-10-The-completed-Create-New-Managed-Metadata-Service-form.png` was not found...</div>
<div class='progress-msg'>[13:09:46] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-10-The-completed-Create-New-Managed-Metadata-Service-form.png`</div>
<div class='progress-msg'>[13:09:56] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-10-The-completed-Create-New-Managed-Metadata-Service-form.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5007 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:09:56] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-11-The-installed-Managed-Metadata-service.png` by URL...</div>
<div class='progress-msg'>[13:09:56] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-11-The-installed-Managed-Metadata-service.png` was not found...</div>
<div class='progress-msg'>[13:09:56] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-11-The-installed-Managed-Metadata-service.png`</div>
<div class='progress-msg'>[13:10:06] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-11-The-installed-Managed-Metadata-service.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:10:06] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-12-System-settings-in-Central-Administration.png` by URL...</div>
<div class='progress-msg'>[13:10:06] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-12-System-settings-in-Central-Administration.png` was not found...</div>
<div class='progress-msg'>[13:10:06] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-12-System-settings-in-Central-Administration.png`</div>
<div class='progress-msg'>[13:10:17] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-12-System-settings-in-Central-Administration.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5010 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:10:17] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-13-The-Managed-Metadata-Web-Service.png` by URL...</div>
<div class='progress-msg'>[13:10:17] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-13-The-Managed-Metadata-Web-Service.png` was not found...</div>
<div class='progress-msg'>[13:10:17] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-13-The-Managed-Metadata-Web-Service.png`</div>
<div class='progress-msg'>[13:10:27] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-13-The-Managed-Metadata-Web-Service.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5002 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:10:27] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-14-The-Term-Store-Management-Tool.png` by URL...</div>
<div class='progress-msg'>[13:10:27] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-14-The-Term-Store-Management-Tool.png` was not found...</div>
<div class='progress-msg'>[13:10:27] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-14-The-Term-Store-Management-Tool.png`</div>
<div class='progress-msg'>[13:10:37] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-14-The-Term-Store-Management-Tool.png can not be downloaded, response O:8:"WP_Error":2:{s:6:"errors";a:1:{s:19:"http_request_failed";a:1:{i:0;s:80:"cURL error 28: Operation timed out after 5003 milliseconds with 0 bytes received";}}s:10:"error_data";a:0:{}}</div>
<div class='progress-msg'>[13:10:37] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-PowerShell-script-that-creates-and-configures-a-Managed-Metadata-service-application.png` by URL...</div>
<div class='progress-msg'>[13:10:37] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-PowerShell-script-that-creates-and-configures-a-Managed-Metadata-service-application.png` was not found...</div>
<div class='progress-msg'>[13:10:37] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-PowerShell-script-that-creates-and-configures-a-Managed-Metadata-service-application.png`</div>
<div class='progress-msg'>[13:10:37] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Listing-1-PowerShell-script-that-creates-and-configures-a-Managed-Metadata-service-application.png can not be downloaded, response </div>
<div class='progress-msg'>[13:10:37] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-15-Managed-Metadata-service-application-and-related-proxy-created-with-the-PowerShell-script.png` by URL...</div>
<div class='progress-msg'>[13:10:37] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-15-Managed-Metadata-service-application-and-related-proxy-created-with-the-PowerShell-script.png` was not found...</div>
<div class='progress-msg'>[13:10:37] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-15-Managed-Metadata-service-application-and-related-proxy-created-with-the-PowerShell-script.png`</div>
<div class='progress-msg'>[13:10:37] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-15-Managed-Metadata-service-application-and-related-proxy-created-with-the-PowerShell-script.png can not be downloaded, response </div>
<div class='progress-msg'>[13:10:37] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-16-Error-message-indicating-there-is-no-connection-associated-with-the-web-application.png` by URL...</div>
<div class='progress-msg'>[13:10:37] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-16-Error-message-indicating-there-is-no-connection-associated-with-the-web-application.png` was not found...</div>
<div class='progress-msg'>[13:10:37] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-16-Error-message-indicating-there-is-no-connection-associated-with-the-web-application.png`</div>
<div class='progress-msg'>[13:10:37] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-16-Error-message-indicating-there-is-no-connection-associated-with-the-web-application.png can not be downloaded, response </div>
<div class='progress-msg'>[13:10:37] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-17-Manual-association-of-a-service-application.png` by URL...</div>
<div class='progress-msg'>[13:10:37] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-17-Manual-association-of-a-service-application.png` was not found...</div>
<div class='progress-msg'>[13:10:37] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-17-Manual-association-of-a-service-application.png`</div>
<div class='progress-msg'>[13:10:38] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-17-Manual-association-of-a-service-application.png can not be downloaded, response </div>
<div class='progress-msg'>[13:10:38] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-18-The-Service-Application-Associations-page.png` by URL...</div>
<div class='progress-msg'>[13:10:38] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-18-The-Service-Application-Associations-page.png` was not found...</div>
<div class='progress-msg'>[13:10:38] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-18-The-Service-Application-Associations-page.png`</div>
<div class='progress-msg'>[13:10:43] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-18-The-Service-Application-Associations-page.png can not be downloaded, response </div>
<div class='progress-msg'>[13:10:43] - Searching for existing image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-19-The-Term-Store-Management-Tool.png` by URL...</div>
<div class='progress-msg'>[13:10:43] - Image `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-19-The-Term-Store-Management-Tool.png` was not found...</div>
<div class='progress-msg'>[13:10:43] - Downloading image from `https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-19-The-Term-Store-Management-Tool.png`</div>
<div class='progress-msg'>[13:10:43] - <b>WARNING</b>: File https://blogs.solidq.com/en/wp-content/uploads/sites/7/2015/08/Figure-19-The-Term-Store-Management-Tool.png can not be downloaded, response </div>
<div class='progress-msg'>[13:10:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:10:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:10:43] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:10:43] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:10:43] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:10:43] <b>CREATED</b> `SharePoint Best Practices: Creating and Configuring Service Applications With (and Without) PowerShell - Part 1` `Post` (ID: 878)</div>
<div class='progress-msg'>[13:10:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:10:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:10:43] Cleaning temporary data...</div>
