<div class='progress-msg'>Mon, 28 Sep 2020 13:27:33 +0000</div>
<div class='progress-msg'>[13:27:33] Composing titles...</div>
<div class='progress-msg'>[13:27:33] Composing excerpts...</div>
<div class='progress-msg'>[13:27:33] Composing duplicate indicators...</div>
<div class='progress-msg'>[13:27:33] Composing authors...</div>
<div class='progress-msg'>[13:27:33] Composing slugs...</div>
<div class='progress-msg'>[13:27:33] Composing menu order...</div>
<div class='progress-msg'>[13:27:33] Composing contents...</div>
<div class='progress-msg'>[13:27:33] Composing dates...</div>
<div class='progress-msg'>[13:27:33] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[13:27:33] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[13:27:33] Composing custom parameters...</div>
<div class='progress-msg'>[13:27:33] Composing URLs for images...</div>
<div class='progress-msg'>[13:27:33] Composing URLs for attachments files...</div>
<div class='progress-msg'>[13:27:33] Composing post comments...</div>
<div class='progress-msg'>[13:27:33] Composing unique keys...</div>
<div class='progress-msg'>[13:27:33] Processing posts...</div>
<div class='progress-msg'>[13:27:33] Data parsing via add-ons...</div>
<div class='progress-msg'>[13:27:33] ---</div>
<div class='progress-msg'>[13:27:33] Record #1</div>
<div class='progress-msg'>[13:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[13:27:33] Combine all data for post `Identifying and Solving Sort Warnings Problems in SQL Server`...</div>
<div class='progress-msg'>[13:27:33] Find corresponding article among previously imported for post `Identifying and Solving Sort Warnings Problems in SQL Server`...</div>
<div class='progress-msg'>[13:27:33] Duplicate post wasn't found with unique key `Identifying and Solving Sort Warnings Problems in SQL Server - http://solidqpro.azurewebsites.net/?p=614`...</div>
<div class='progress-msg'>[13:27:33] Applying filter `pmxi_article_data` for `Identifying and Solving Sort Warnings Problems in SQL Server`</div>
<div class='progress-msg'>[13:27:33] <b>CREATING</b> `Identifying and Solving Sort Warnings Problems in SQL Server` `Post`</div>
<div class='progress-msg'>[13:27:33] Associate post `Identifying and Solving Sort Warnings Problems in SQL Server` with current import ...</div>
<div class='progress-msg'>[13:27:33] <b>CONTENT IMAGES:</b></div>
<div class='progress-msg'>[13:27:33] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-1-Execution-plan-with-the-Sort-Operator.png` by URL...</div>
<div class='progress-msg'>[13:27:33] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-1-Execution-plan-with-the-Sort-Operator.png` was not found...</div>
<div class='progress-msg'>[13:27:33] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-1-Execution-plan-with-the-Sort-Operator.png`</div>
<div class='progress-msg'>[13:27:33] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-1-Execution-plan-with-the-Sort-Operator.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:33] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-1-Execution-plan-with-the-Sort-Operator.png`</div>
<div class='progress-msg'>[13:27:33] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-2-Wrong-cardinality-estimation-comparison-operators-between-different-columns-of-the-same-table.png` by URL...</div>
<div class='progress-msg'>[13:27:33] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-2-Wrong-cardinality-estimation-comparison-operators-between-different-columns-of-the-same-table.png` was not found...</div>
<div class='progress-msg'>[13:27:33] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-2-Wrong-cardinality-estimation-comparison-operators-between-different-columns-of-the-same-table.png`</div>
<div class='progress-msg'>[13:27:33] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-2-Wrong-cardinality-estimation-comparison-operators-between-different-columns-of-the-same-table.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:33] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-2-Wrong-cardinality-estimation-comparison-operators-between-different-columns-of-the-same-table.png`</div>
<div class='progress-msg'>[13:27:33] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-3-Parameter-Sniffing-causing-a-Sort-Warning-problem.png` by URL...</div>
<div class='progress-msg'>[13:27:33] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-3-Parameter-Sniffing-causing-a-Sort-Warning-problem.png` was not found...</div>
<div class='progress-msg'>[13:27:33] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-3-Parameter-Sniffing-causing-a-Sort-Warning-problem.png`</div>
<div class='progress-msg'>[13:27:33] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-3-Parameter-Sniffing-causing-a-Sort-Warning-problem.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:33] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-3-Parameter-Sniffing-causing-a-Sort-Warning-problem.png`</div>
<div class='progress-msg'>[13:27:34] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-4-Sort-Warnings-event-in-an-SQL-Server-Profiler-session.png` by URL...</div>
<div class='progress-msg'>[13:27:34] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-4-Sort-Warnings-event-in-an-SQL-Server-Profiler-session.png` was not found...</div>
<div class='progress-msg'>[13:27:34] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-4-Sort-Warnings-event-in-an-SQL-Server-Profiler-session.png`</div>
<div class='progress-msg'>[13:27:34] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-4-Sort-Warnings-event-in-an-SQL-Server-Profiler-session.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:34] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-4-Sort-Warnings-event-in-an-SQL-Server-Profiler-session.png`</div>
<div class='progress-msg'>[13:27:34] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-5-Collecting-Sort-Warnings-Info-From-The-Queue.png` by URL...</div>
<div class='progress-msg'>[13:27:34] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-5-Collecting-Sort-Warnings-Info-From-The-Queue.png` was not found...</div>
<div class='progress-msg'>[13:27:34] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-5-Collecting-Sort-Warnings-Info-From-The-Queue.png`</div>
<div class='progress-msg'>[13:27:34] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-5-Collecting-Sort-Warnings-Info-From-The-Queue.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:34] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Listing-5-Collecting-Sort-Warnings-Info-From-The-Queue.png`</div>
<div class='progress-msg'>[13:27:34] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-6-Create-An-Event-Notification-For-Sort-Warnings.png` by URL...</div>
<div class='progress-msg'>[13:27:34] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-6-Create-An-Event-Notification-For-Sort-Warnings.png` was not found...</div>
<div class='progress-msg'>[13:27:34] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-6-Create-An-Event-Notification-For-Sort-Warnings.png`</div>
<div class='progress-msg'>[13:27:34] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-6-Create-An-Event-Notification-For-Sort-Warnings.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:34] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Listing-6-Create-An-Event-Notification-For-Sort-Warnings.png`</div>
<div class='progress-msg'>[13:27:35] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-7-Creating-the-Extended-Event-Session-To-Identify-Sort-Warning.png` by URL...</div>
<div class='progress-msg'>[13:27:35] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-7-Creating-the-Extended-Event-Session-To-Identify-Sort-Warning.png` was not found...</div>
<div class='progress-msg'>[13:27:35] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-7-Creating-the-Extended-Event-Session-To-Identify-Sort-Warning.png`</div>
<div class='progress-msg'>[13:27:35] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-7-Creating-the-Extended-Event-Session-To-Identify-Sort-Warning.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:35] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Listing-7-Creating-the-Extended-Event-Session-To-Identify-Sort-Warning.png`</div>
<div class='progress-msg'>[13:27:35] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-8-Query-the-Extended-Event-Target-to-Return-Info-About-The-sort_warning-Event.png` by URL...</div>
<div class='progress-msg'>[13:27:35] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-8-Query-the-Extended-Event-Target-to-Return-Info-About-The-sort_warning-Event.png` was not found...</div>
<div class='progress-msg'>[13:27:35] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-8-Query-the-Extended-Event-Target-to-Return-Info-About-The-sort_warning-Event.png`</div>
<div class='progress-msg'>[13:27:35] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-8-Query-the-Extended-Event-Target-to-Return-Info-About-The-sort_warning-Event.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:35] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Listing-8-Query-the-Extended-Event-Target-to-Return-Info-About-The-sort_warning-Event.png`</div>
<div class='progress-msg'>[13:27:35] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-9.png` by URL...</div>
<div class='progress-msg'>[13:27:35] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-9.png` was not found...</div>
<div class='progress-msg'>[13:27:35] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-9.png`</div>
<div class='progress-msg'>[13:27:35] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Listing-9.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:35] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Listing-9.png`</div>
<div class='progress-msg'>[13:27:35] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-5-OPTION-RECOMPILE-as-solution-for-Parameter-Sniffing.png` by URL...</div>
<div class='progress-msg'>[13:27:35] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-5-OPTION-RECOMPILE-as-solution-for-Parameter-Sniffing.png` was not found...</div>
<div class='progress-msg'>[13:27:35] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-5-OPTION-RECOMPILE-as-solution-for-Parameter-Sniffing.png`</div>
<div class='progress-msg'>[13:27:35] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-5-OPTION-RECOMPILE-as-solution-for-Parameter-Sniffing.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:35] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-5-OPTION-RECOMPILE-as-solution-for-Parameter-Sniffing.png`</div>
<div class='progress-msg'>[13:27:36] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-6-OPTION-RECOMPILE-as-solution-for-sort-warnings-due-to-local-variables.png` by URL...</div>
<div class='progress-msg'>[13:27:36] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-6-OPTION-RECOMPILE-as-solution-for-sort-warnings-due-to-local-variables.png` was not found...</div>
<div class='progress-msg'>[13:27:36] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-6-OPTION-RECOMPILE-as-solution-for-sort-warnings-due-to-local-variables.png`</div>
<div class='progress-msg'>[13:27:36] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-6-OPTION-RECOMPILE-as-solution-for-sort-warnings-due-to-local-variables.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:36] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-6-OPTION-RECOMPILE-as-solution-for-sort-warnings-due-to-local-variables.png`</div>
<div class='progress-msg'>[13:27:36] - Searching for existing image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-7-Computed-column-as-solution-for-sort-warnings-due-to-bad-estimate.png` by URL...</div>
<div class='progress-msg'>[13:27:36] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-7-Computed-column-as-solution-for-sort-warnings-due-to-bad-estimate.png` was not found...</div>
<div class='progress-msg'>[13:27:36] - Downloading image from `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-7-Computed-column-as-solution-for-sort-warnings-due-to-bad-estimate.png`</div>
<div class='progress-msg'>[13:27:36] - Image `https://blogs.solidq.com/wp-content/uploads/2012/05/Figure-7-Computed-column-as-solution-for-sort-warnings-due-to-bad-estimate.png` has been successfully downloaded</div>
<div class='progress-msg'>[13:27:36] - Creating an attachment for image `http://solidq.roy/wp-content/uploads/2020/09/Figure-7-Computed-column-as-solution-for-sort-warnings-due-to-bad-estimate.png`</div>
<div class='progress-msg'>[13:27:36] <b>IMAGES:</b></div>
<div class='progress-msg'>[13:27:36] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[13:27:36] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[13:27:36] - Attempted to create parent Post category `Technical`, duplicate detected. Importing Post to existing `Technical` category, ID 8, slug `technical` ...</div>
<div class='progress-msg'>[13:27:36] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[13:27:36] <b>CREATED</b> `Identifying and Solving Sort Warnings Problems in SQL Server` `Post` (ID: 965)</div>
<div class='progress-msg'>[13:27:36] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[13:27:36] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[13:27:36] Cleaning temporary data...</div>
